/* オーナーを右に */
.HeaderContainer-row .GridCell:first-child {
    position:absolute;
    right:0;
    z-index:1000;
}
/* 概要欄 */
.VideoDescriptionContainer {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    outline-offset:0px;
    padding:8px;
    position:relative;
    border-radius: 5px;
}
.VideoDescriptionSeriesContainer-itemTitle {
    height:16px;
}
/* タグを縮める */
.TagContainer {
    width:69%;
}
/* ヘッダー、ビデオオーナー */
.HeaderContainer .VideoOwnerInfo-gridCell {
    width: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
}
.VideoOwnerInfo-gridCell {
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-top:5px;
    bottom:0;
    top:auto;
}
/* プレイヤー */
.MainContainer {
    box-shadow: 0 0 5px #000;
}
/* 動画説明欄の開閉 */
.VideoDescriptionContainer-expander,.VideoDescriptionExpander.is-expanded {
    width: 135px;
    height: 0px;
    top:0;
    position:absolute;
    left: 0;
    z-index: 1;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switch {
    left: 0;
    padding-left:0px;
    text-align:left
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse::before {
    border-color: transparent transparent #000;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand::before {
    border-color: #000 transparent transparent;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand,.VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse {
    background-color: transparent;
    background: transparent;
    border-radius:4px 4px;
    padding:2px;
    fill:#000;
    color:#000;
    height:25px;
    z-index: 999;
}
.VideoDescription.is-expanded {
    padding-bottom: 0px !important;
}
/* ビデオメニュー */
.VideoMenuContainer::after {
    border-bottom: 2px solid #000;
}
.MainContainer-playerPanel {
    height:calc(100% + 44px);
    top:auto;
}

/* クリサポ */
.NC-CreatorSupportAccepting-arrow {
    display: none;
}
.NC-CreatorSupportAccepting {
    top: 72px !important;
    width:100%
}
.NC-CreatorSupportAccepting-content {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    border: 0px solid #000;
    text-align: center;
    font-size: 12px;
    padding: 0px 4px 4px;
    margin: 6px 6px 0 0;
    font-weight: inherit;
    color: inherit;
    width:100%;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background: transparent
}
.NC-CreatorSupportAccepting_floating .NC-CreatorSupportAccepting-content {
    filter: drop-shadow(0 0 2px rgba(0,0,0,.15));
}
.NC-CreatorSupportAccepting-content::before {
    display:none;
}
.VideoTitle { padding-bottom:20px }
.VideoLiveTimeshiftContainer { padding-bottom:24px }
.VideoOwnerChannelLink {height:20px}
/* メタデータ */
.VideoMetaContainer {
    background: rgba(0,0,0,0.03);
    border-radius: 5px;
    padding: 5px;
}
/* 概要欄幅調整 */
.VideoDescriptionContainer {
    width: 850px;
}
.VideoMetaContainer {
    width: 850px;
}
/* 下側幅調整 */
.BottomContainer {
    width: 100%;
}
.BottomSideContainer {
    flex: 0 0 384px;
}
.UadVideosContainer-item {
    height: 150px;
    width: 192px;
}
.UadVideoItem-thumbnail,.UadVideoItem-image {
    height: 108px;
    width: 192px;
}
.IchibaSuggest_List {
    justify-content: left;
}
.IchibaSuggestItem {
    margin-right: 16px;
}