#misskeysharecontainer {
	background-color: var(--bgcolor1);
	color: var(--textcolor1);
	margin: 8px;
	padding: 16px;
	border-radius: 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 360px;
    animation: bottomslidein 0.3s ease forwards
}

#misskeysharebutton {
    margin-top: 8px;
    background: linear-gradient(45deg,rgb(66, 143, 14),rgb(94, 187, 32));
	color: #f0f0f0;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor:pointer
}

#misskeyshareclosebutton {
    margin-left: 8px;
}

.misskeyshare-selectinstancecontainer {
	margin-top: 8px;
}

.misskeyshare-preview {
	background-color: var(--bgcolor2);
	color: var(--textcolor2);
	padding: 2px 8px;
}

.misskeyshare-selectinstance {
	padding: 2px 8px;
	border: none;
	border-radius: 4px;
}
