.commentlist-container {
    background: var(--bgcolor2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
}

[watch-type="recresc"] .commentlist-container, [watch-type="shinjuku"] .commentlist-container, [watch-type="3col"] .commentlist-container {
    flex: 1;
}

.commentlist-title-container {
    /*
    padding: 0;
    box-shadow: 0px 0px 8px #000;
    position: relative;
    z-index: 2;
    background: var(--bgcolor2);
    > div {
        height: 2.8em;
        
        padding: 0 1em;
    }*/
}

.commentlist-list-container {
    overflow: hidden scroll;
    font-size: 0.9em;
    .commentlist-list-item {
        padding: 6px;
        //border-bottom: 1px solid var(--accent1);
        display: flex;
        max-width: 100%;
        height: 1.6em;
        align-items: center;
        gap: 4px;
        .commentlist-list-item-body {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .commentlist-list-item-vpos {
            color: var(--textcolor2);
            background: transparent;
            border: none;
            cursor: pointer;
            font-family: inherit;
        }
        .commentlist-list-item-vpos:hover {
            text-decoration: underline
        }
    }
    .commentlist-list-item[nicoru-count="1"] {
        background: var(--nicoru1)
    }
    .commentlist-list-item[nicoru-count="2"] {
        background: var(--nicoru2)
    }
    .commentlist-list-item[nicoru-count="3"] {
        background: var(--nicoru3)
    }
    .commentlist-list-item[nicoru-count="4"] {
        background: var(--nicoru4)
    }
    
    .commentlist-list-item-open {
        height: inherit;
        min-height: 1.6em;
        flex-wrap: wrap;
        .commentlist-list-item-body {
            white-space: normal;
        }
        .commentlist-list-item-stats {
            flex: 100%;
            opacity: 0.8;
            font-size: 0.9em;
        }
    }
}

.commentlist-list-item-seektobutton {
    background: none;
    border: none;
    color: var(--textcolor1);
    font-family: inherit;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.commentlist-list-item-nicorubutton {
    flex: 0.1;
    background: none;
    border: none;
    color: var(--textcolor1);
    border-radius: var(--radius-mini);
    font-family: inherit;
    line-height: 1.5em;
    font-size: 0.9em;
    white-space: nowrap;
}
.commentlist-list-item-nicorubutton:not(.commentlist-list-item-nicorubutton-disabled):hover {
    background: var(--hover1);
    cursor: pointer;
}

.commentlist-fork-selector {
    padding: 2px;
    margin: 0 8px;
    background: var(--bgcolor3);
    color: var(--textcolor1);
    border: none;
    border-radius: var(--radius-mini);
    font-size: 0.9em;
    cursor: pointer;
}

.commentlist-list-toggletabindex {
    border: none;
    padding: 8px;
    background: #000;
    color: #fff;
}
.commentlist-list-toggletabindex[data-isopen="false"]:not(:focus-visible) {
    opacity: 0;
    font-size: 0;
    margin: 0;
    padding: 0 !important;
}