.commentinput-container {
    margin-top: 8px;
    border-radius: var(--radius);
    --border: 2px solid var(--accent1);
    > input {
        background: var(--bgcolor1);
        color: var(--textcolor1);
        border-top: var(--border);
        border-bottom: var(--border);
        border-left: var(--border);
        border-right: none;
        padding: 8px;
    }
    > input:first-child {
        border-radius: var(--radius) 0 0 var(--radius)
    }
}
.commentinput-submit {
    background: var(--bgcolor3);
    color: var(--textcolor1);
    border-radius: 0 var(--radius) var(--radius) 0;
    border: 2px solid var(--bgcolor3);
    padding: 4px 8px;
    > * {
        vertical-align: middle;
    }
    > span {
        margin-left: 4px;
    }
}
.commentinput-submit:hover {
    background: var(--bgcolor1);
    cursor: pointer
}

.fullscreen .commentinput-container {
	width: 70vw;
}

[watch-type="shinjuku"] .commentinput-container {
    margin-top: 0px;
}