.commentinput-container {
    margin-top: 8px;
    border-radius: var(--radius);
    --border: 2px solid var(--accent1);
    > input, > .commentinput-textarea-container > .commentinput-input {
        background: var(--bgcolor1);
        color: var(--textcolor1);
        border-top: var(--border);
        border-bottom: var(--border);
        border-left: var(--border);
        border-right: none;
        padding: 8px;
    }
    > .commentinput-textarea-container {
        position: relative;
        > .commentinput-textarea-dummy {
            overflow: hidden;
            visibility: hidden;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
            padding: 10px;
        }
        > .commentinput-input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            overflow: hidden;
            resize: none;
            font-family: inherit;
            margin: 0;
        }
        > .commentinput-remaining {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            opacity: 0.8;
            margin: 1em 0.8em;
            font-size: 0.8em;
            line-height: 0.8em;
            transition: opacity 0.2s ease;
        }
    }
    .commentinput-input, .commentinput-cmdinput, .commentinput-textarea-dummy  {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    > input:first-child {
        border-radius: var(--radius) 0 0 var(--radius)
    }
}
.commentinput-submit {
    background: var(--linktext3);
    color: var(--textcolor1);
    border-radius: 0 var(--radius) var(--radius) 0;
    border: 2px solid var(--linktext3);
    padding: 4px 8px;
    transition: background 0.1s ease, color 0.1s ease, border-color 0.1s ease, opacity 0.1s ease;
    opacity: 1
    > * {
        vertical-align: middle;
    }
    > span {
        margin-left: 4px;
    }
    &[aria-disabled="false"]:hover {
        background: var(--bgcolor1);
        cursor: pointer
    }
    &[aria-disabled="true"] {
        background: var(--bgcolor3);
        border-color: var(--bgcolor3);
        color: var(--textcolor2);
        opacity: 0.8;
    }
}

.fullscreen .commentinput-container {
	width: 70vw;
}

[watch-type="shinjuku"] .commentinput-container {
    margin-top: 0px;
}