.endcard-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000a;
    color: #fff;    
    z-index: 1;
    cursor: auto;
}

.endcard-left {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .endcard-supporters {
        font-size: 1.5em;
        font-weight: bold;
        -webkit-text-stroke: 2px #fff5;
        margin: auto;
        .endcard-title {
            font-size: 1.5em;
        }
    }
}

.endcard-right {
    flex: 2;
}