.playlist-container {
    overflow: hidden;
    height: 100%;
    background: var(--bgcolor2);
    //border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    //border: var(--border);
    position: relative;
}

.playlist-items-container {
    overflow: hidden auto;
    max-height: 100%;
    padding: 8px;
    flex: 1;
}

.playlist-nothinghere {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.5;
    p {
        padding: 4px 16px;
    }
}

.playlist-dropavailablehint {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fffa;
    border-radius: var(--radius);
    color: #000a;
    padding: 16px;
    text-align: center;
}