.pmw-footer {
    padding: 16px 8%;
    background: var(--bgcolor2);
    margin-top: 32px;
}
.plugin-list-display {
	font-size: 0.9em;
	padding: 0 8px;
}
.plugin-list-display-hidden {
    display: none
}
.plugin-list-title {
	background: transparent;
	color: var(--textcolor1);
	border: none;
	cursor: pointer;
	padding: 4px 6px;
	border-radius: var(--radius);
    .tabler-icon {
        width: 1.25em;
        vertical-align: middle;
        margin-left: 0.2em;
    }
}
.plugin-list-title:hover {
	background: var(--hover1);
}
.plugin-list-item {
    padding: 1%;
    background: var(--bgcolor1);
    border-radius: var(--radius);
}
.plugin-list-item-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-links {
    display: flex;
    justify-content: end;
    gap: 1em;
    align-items: center;
}

.footer-links > a {
    color: var(--textcolor2) !important;
    font-size: 0.9em;
}