.searchbox-inputcontainer {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    input {
        background: var(--bgcolor2);
        border: 1px solid var(--accent1);
        color: var(--textcolor1);
        font-size: 1em;
        padding: 0.5em;
        width: 16em;
        border-bottom-left-radius: var(--radius);
    }
    button {
        border: 1px solid var(--accent1);
        background: var(--bgcolor2);
        color: var(--textcolor1);
        font-size: 1em;
        border-radius: 0 var(--radius) var(--radius) 0;
        cursor: pointer;
        .tabler-icon {
            height: 1.2em;
            width: 1.2em;
            vertical-align: middle;
        }
    }
    button:hover {
        background: var(--hover1);
    }
}

.searchbox-typeselector {
    display: flex;
    gap: 4px;
    button.searchbox-type-item {
        background: var(--bgcolor2);
        border: none;
        color: var(--textcolor1);
        padding: 2px 8px;
        border-radius: var(--radius) var(--radius) 0 0;
        vertical-align: bottom;
        cursor: pointer;
    }

    button.searchbox-type-item.searchbox-type-active {
        background: var(--bgcolor3);
        padding: 4px 8px;
    }
}



[use-horizontal-search="true"] .searchbox-container {
    display: flex;
    background: var(--bgcolor2);
    padding: 8px;
    border-radius: var(--radius);
    align-items: center;
    gap: 8px;
    border: var(--border);
    height: fit-content;
    box-shadow: var(--box-shadow);

    .searchbox-typeselector {
        background: var(--bgcolor1);
        padding: 8px;
        border-radius: var(--radius);

        button.searchbox-type-item {
            background: transparent;
            border-radius: var(--radius);
            padding: 4px 8px;
        }
        button.searchbox-type-item.searchbox-type-active {
            background: var(--bgcolor3);
        }
    }

    .searchbox-inputcontainer {
        flex: 1;
        input {
            flex: 1;
            border-radius: var(--radius) 0 0 var(--radius);
            background: var(--bgcolor3);
        }
        input:placeholder {
            color: var(--bgcolor2);
        }
    }
}