.videoaction-modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 8% 32%;
    background: #000a;
    z-index: 100;
}

.videoaction-modal-container {
    background: var(--bgcolor2);
    padding: 2%;
    border-radius: var(--radius);
    height: 100%;
}

.videoaction-modal-transition {
    &-enter, &-exit-active {
        --translateY: 25%;
    }
    &-enter-active, &-exit-active {
        transition: opacity 0.15s ease;
        .videoaction-modal-container {
            transition: transform 0.15s ease;
        }
    }
    &-enter, &-exit-active {
        opacity: 0;
        .videoaction-modal-container {
            transform: translateY(var(--translateY))
        }
    }
    &-enter-done, &-enter-active {
        opacity: 1;
        .videoaction-modal-container {
            transform: translateY(0%)
        }
    }
}

.videoaction-modal-header h2 {
    margin: 0;
}

.videoaction-modal-header {
    padding: 0.5em 0;
    grid-column: 1 / 3;
}

.videoaction-modal-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: max-content 1fr;
    min-width: 30em;
}

button.videoaction-modal-close {
    background: transparent;
    border: transparent;
    color: var(--textcolor1);
    cursor: pointer;
    border-radius: var(--radius);
}

button.videoaction-modal-close:hover {
    background: var(--hover1);
}

button.videoaction-select {
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    border: transparent;
    border-radius: var(--radius);
    color: var(--textcolor1);
    line-height: 3em;
}

button.videoaction-select:hover {
    background: var(--hover1);
}

.videoaction-select svg {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

button.videoaction-select[is-active="true"] {
    font-weight: bold;
    background: var(--bgcolor1);
}