.BaseLayout-main,.BaseLayout {
    background-color: var(--bgcolor1);
    color: var(--textcolor1);
}
a,.FrameTitleLink-titleText,.FrameTitle {
    color: var(--textcolor1)
}
body {
    background-color: var(--bgcolor1);
}

/* あなたへのおすすめの色変更 */
.PersonalFrameContainer {
    background: var(--bgcolor1);
    border: 2px solid var(--accent1);
}
.PersonalFrameContainer-body,.NicoNewsContainer-photoNews { 
    background: var(--bgcolor2);
}
/* ピックアップ */
.ContentsPickupCard {
    background: var(--bgcolor2)
}
.ContentsPickupCard-metaPickupComment,.ContentsDigestFrame-description,.ContentsDigestFrame-cardMetaTitle,.LiveWindowContainer-metaDescription {
    color: var(--textcolor3)
}
.PersonalFrameContainer-close > svg {
    fill: var(--accent2)
}
/* もっと見る */
.SeeMoreLink-text {
    background-color: var(--bgcolor2);
    color: var(--textcolor2);
    border: 1px solid var(--accent2)
}
.SeeMoreLink-text > svg {
    fill: var(--textcolor2)
}
/* 検索 */
.CrossSearch-form {
    background: var(--accent1);
    border: 1px solid var(--accent2)
}
.CrossSearch-input::placeholder {
    color: var(--textcolor2);
}
.CrossSearch-input {
    color: var(--textcolor1)
}
.CrossSearch-button {
    background:url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNCI+PHBhdGggZD0iTTYwLjMgNzQuNWE0MCA0MCAwIDEgMSAxNC4xLTE0LjFsMjMuMyAyMy4xYTggOCAwIDAgMSAwIDExLjNsLTIuOSAyLjlhOCA4IDAgMCAxLTExLjMgMEw2MC4zIDc0LjVaTTQwIDE0YTI2IDI2IDAgMSAxIDAgNTIgMjYgMjYgMCAwIDEgMC01MloiIGZpbGw9IiNkZGQiLz48L3N2Zz4=") no-repeat;
}
.CrossSearch-rowSelector {
    background-color: #bbb;
    border: 1px solid var(--accent2)
}
/* ボーダー削除 */
.TopPage-middleBillboardAdSection {
    border: 0px;
}
.TopPage-stageArea {
    border-top: 0px solid var(--textcolor2);
}
/* フッター色変更 */
.TopPage-footer {
    background: #2f2f2f;
}

/* ニコニ広告カード */
.NicoAdContainer-card[data-nicoad-grade="silver"] {
    background-color: #3b3d3d;
}
.NicoAdContainer-card[data-nicoad-grade="gold"] {
    background-color: #3b3a38;
}
/* ライブ */
.LiveWindowContainer {
    background-color: var(--bgcolor2);
    border: 1px solid #3f3f3f;
}

/* オーロラビジョン */
.AuroraVisionCard {
    background-color: var(--bgcolor2);
}
.AuroraVisionCard-metaCatch {
    color: var(--textcolor1);
}

/* ニュース */
.Tabs-tab {
    background-color: var(--accent1);
    color: var(--textcolor1);
}
.NicoNewsContainer-commentCount {
    background-color: var(--bgcolor2);
    border: 1px solid var(--accent1);
}
/* 下側 */
.RealEventInformationAreaContainer > section > h1 {
    color: var(--textcolor2);
}
.RealEventInformationAreaContainer > * {
    border-top: 4px solid var(--accent1);
}


/* ヘッダー */
/* ＞＞＞＞インライン＜＜＜＜ */

/* お知らせ */
.nico-CommonHeaderRoot .common-header-105n2rz {
    background-color: var(--bgcolor2) !important;
}
.nico-CommonHeaderRoot .common-header-abyv5k {
    color: var(--textcolor2) !important;
}
.nico-CommonHeaderRoot .common-header-1l1lwin {
    border-bottom: 1px solid var(--accent1) !important;
}
.nico-CommonHeaderRoot .common-header-1swev0c {
    background-color: var(--bgcolor2) !important;
    border-bottom: 1px solid var(--accent2) !important;
}
.nico-CommonHeaderRoot .common-header-1swev0c:hover {
    background-color: #555 !important;
}
.nico-CommonHeaderRoot .common-header-kolmxm {
    background: rgba(255,255,255,0.1) !important;
    border-bottom: 1px solid var(--accent1) !important;
}
.nico-CommonHeaderRoot .common-header-kolmxm:hover {
    background: rgba(255,255,255,0.2) !important;
    border-bottom: 1px solid var(--accent1) !important;
}
.nico-CommonHeaderRoot .common-header-vv8zyj {
    color: var(--textcolor1) !important;
}
.nico-CommonHeaderRoot .common-header-2cl2ey,.nico-CommonHeaderRoot .common-header-uruoug {
    background-color: var(--bgcolor3) !important;

}
.nico-CommonHeaderRoot .common-header-ey0i79 {
    color: var(--textcolor1) !important;
}

/* ユーザーをホバーした時に出るやつ */
.nico-CommonHeaderRoot .common-header-17f7oiq > * {
    border-bottom: 1px solid var(--bgcolor2) !important;
}
.nico-CommonHeaderRoot .common-header-17f7oiq > :nth-child(2n) {
    border-left: 1px solid var(--bgcolor2) !important;
}
.nico-CommonHeaderRoot .common-header-m6vxd,.nico-CommonHeaderRoot .common-header-1ke4cb6, .nico-CommonHeaderRoot .common-header-1xzs4ko,.nico-CommonHeaderRoot .common-header-o214xd,.nico-CommonHeaderRoot .common-header-15czeyj {
    background-color: var(--accent1) !important;
}
.nico-CommonHeaderRoot .common-header-8xay8a {
    background-color: var(--accent2) !important;
}
.nico-CommonHeaderRoot .common-header-8g5w98:hover, .nico-CommonHeaderRoot .common-header-o214xd:hover,.nico-CommonHeaderRoot .common-header-1xzs4ko:hover,.nico-CommonHeaderRoot .common-header-z5pyn9:hover {
    background-color: var(--hover2) !important;
}
.nico-CommonHeaderRoot .common-header-yxm7eu,.nico-CommonHeaderRoot .common-header-1xmxna8, .nico-CommonHeaderRoot .common-header-1q7xmj5 {
    background-color: var(--bgcolor2) !important;
    color: var(--textcolor2) !important;
}
.nico-CommonHeaderRoot .common-header-jmhvxm,.nico-CommonHeaderRoot .common-header-n0qa7l,.nico-CommonHeaderRoot .common-header-ddpru6,.nico-CommonHeaderRoot .common-header-1yxywo9,.nico-CommonHeaderRoot .common-header-ndczso {
    color: var(--textcolor2) !important;
}
.nico-CommonHeaderRoot .common-header-17kau2v svg path,.nico-CommonHeaderRoot .common-header-z0oejq svg path,.nico-CommonHeaderRoot .common-header-17qo8f1 path {
    fill: var(--textcolor1) !important;
}
.nico-CommonHeaderRoot .common-header-cvcm83 > * {
    border-top: 0px !important;
}
.common-header-1cznxpg {
    background: var(--bgcolor2) !important;
}

/* ここから動画ページ用 */
    
/* 動画ジャンルリスト */
.VideoTopGenreListContainer,.RankingGenreListContainer {
    background-color: var(--bgcolor2);
}
.VideoTopGenreListContainer-item,.RankingGenreListContainer-item {
    background: var(--bgcolor2);
    border: 1px solid var(--accent2);
}
.VideoTopGenreListContainer-item.is-current, .RankingGenreListContainer-item.is-current {
    background: var(--textcolor2);
}
.VideoTopGenreListContainer-item.is-current > a, .RankingGenreListContainer-item.is-current > a {
    color: var(--bgcolor1) !important;
}
.VideoTopGenreListContainer-item > a,.RankingGenreListContainer-item > a {
    color: var(--textcolor2);
}
/* 検索ボックス */
.SearchBox-form {
    background: var(--accent1) !important;
    box-shadow: inset 0 0 0 1px var(--accent2) !important;
}
.SearchBox-query {
    color: var(--textcolor1) !important;
}
.SearchBox-option {
    background-color: var(--bgcolor2) !important;
    color: var(--textcolor1) !important;
}
.SearchBox-option[data-active="true"] {
    background-color: var(--bgcolor4)!important;
    color: var(--textcolor2)
}
/* 動画カードなど */
.NC-Card .NC-CardTitle,.NewsNotificationList-item,.LiveWindowContainer-metaTitle {
    color: var(--textcolor2) !important;
}

/* フッターフィードバック */
.FooterContainer-feedback {
    background-color: var(--bgcolor2) !important;
    border: 1px solid var(--bgcolor2) !important;
}
.NC-VideoCard_onHoverMeta .NC-Card-main:hover .NC-VideoCard-secondary::before,.NC-VideoCard_onHoverMeta .NC-Card-main:hover .NC-VideoCard-secondary {
    background-color: var(--bgcolor2) !important;
}

/* ここからユーザーページ */

.UserDetailsContainer::after, .UserPage-header, .UserDetailsHeader {
    background-color: var(--bgcolor1) !important;
}
.UserDetailsHeader-nickname {
    color: var(--textcolor1) !important;
}
.MainMenuContainer-menu, .NC-Tabs {
    background-color: var(--bgcolor2) !important;
}
.NC-Tab {
    color: var(--textcolor1) !important;
}
.Dropdown-button,.UserDetailsHeader-account,.UserDetailsStatusItem-linkLabel {
    color: var(--textcolor2) !important;
}
.Dropdown-button:hover {
    background-color: var(--hover1) !important;
}
.NiconicoPoint {
    background-color: var(--bgcolor2) !important;
    color: var(--textcolor2) !important;
}
.NicorepoItem-item,.NC-MylistMediaObject,.ChannelItem-content,.CommunityItem-content {
    background-color: var(--bgcolor2) !important;
    border: 1px solid var(--accent1) !important;
}
.NicorepoItem-senderName,.ChannelItem-name,.CommunityItem-name {
    color: var(--textcolor2) !important;
}
.NicorepoItem-senderName:visited {
    color: var(--textcolor3) !important;
}
.NicorepoItem-activityDescription {
    color: var(--textcolor3) !important;
}
.NicorepoItem-activityCreatedAt {
    color: var(--textcolor2)  !important;
}
.NicorepoItem-activityCreatedAt_new {
    color: var(--textcolornew) !important;
}
.UserDetailsHeader-icon .UserIcon {
    background-color: var(--bgcolor3) !important;
}
.OtherMypageLinks,.NC-ThreePointMenu-menu {
    background-color: var(--bgcolor2) !important;
}
.OtherMypageLinks-link,.NC-ThreePointMenu-menu > * {
    color: var(--textcolor1) !important;
}
.NC-ThreePointMenu-menu > :hover, .OtherMypageLinks-link:hover {
    background-color: var(--hover1) !important;
}
.UserDescription .ExpandBox_is-expanded a {
    color: var(--linktext1);
}


/* フォロー */
.UserItem-content {
    background-color: var(--bgcolor2) !important;
    border: 1px solid var(--accent1) !important;
}
.UserItem-nickname {
    color: var(--textcolor2) !important;
}
.UserItem-description {
    color: var(--textcolor3) !important;
}
.c-body, .p-embed-supporter-supporting-creators {
    background-color: #252525 !important;
}
.LiveLink {
    color: var(--textcolor1) !important;
}

/* マイリス/後で見る */
.NC-MediaObject .NC-MediaObjectTitle {
    color: var(--textcolor2) !important;
}
.NC-MylistMediaObject-thumbnails {
    background-color: var(--bgcolor3) !important;
    border: 1px solid var(--accent1) !important;
}
.WatchLaterHeader-metaValue,.MylistHeader-metaItemValue {
    color: var(--textcolor2) !important;
}
.WatchLaterHeader-meta {
    color: var(--textcolor3) !important;
}
.WatchLaterHeader-name {
    color: var(--textcolor1) !important;
}
.WatchLaterHeader-advice {
    color: var(--textcolor2) !important;
}
/* マイリス */
.ModalActionButton {
    background-color: var(--bgcolor2) !important;
    color: var(--textcolor2) !important;
}
.ContinuousPlayButton,.VideoListEditMenuButton,.PaginationItem,.Checkbox-check::before {
    background-color: var(--bgcolor2) !important;
    color: var(--textcolor2) !important;
    border: 2px solid var(--accent2) !important;
}
.ContinuousPlayButton-icon {
    fill: var(--textcolor2) !important;
}
.Selectbox-button {
    background-color: var(--bgcolor2) !important;
    border: 2px solid var(--accent2) !important;
}
.Selectbox-label {
    color: var(--textcolor2) !important;
}
.Selectbox {
    background-color: var(--bgcolor2) !important;
}
.VideoListEditMenu-delete.VideoListEditMenuButton:hover, .VideoWatchHistoryContainer-headerAllDeleteButton:hover {
    border: 2px solid #d0021b !important;
    color: #fff !important;
    background: #512828 !important;
}
.NC-MylistMediaObject-itemCount {
    color: var(--textcolor2) !important;
}
.NC-MylistMediaObject-thumbnail:nth-of-type(3)::before {
    background: linear-gradient(90deg,hsla(0,0%,98%,0),var(--bgcolor1)) !important;
}
.VideoMediaObjectList > * + * {
    border-top: 2px solid var(--accent1) !important;
}
/* 履歴 */
.NC-MediaObject .NC-MediaObjectTitle {
    color: var(--textcolor2) !important;
}
.VideoWatchHistoryContainer-headerAllDeleteButton {
    background-color: var(--bgcolor2) !important;
    border: 2px solid var(--accent2) !important;
    color: var(--textcolor1) !important;
}
.NC-FollowButton[data-is-following="true"] {
	background-color: var(--accent2) !important;
	color: var(--textcolor1) !important;
}
.NC-VideoMediaObjectOwnerInfo-link {
    color: var(--textcolor2) !important;
}
.VideoWatchHistoryContainer-headerAnnounce {
    color: var(--textcolor2) !important;
}
.VideoWatchHistoryContainer-headerTotalCount {
    color: var(--textcolor3) !important;
}
.VideoWatchHistoryContainer-headerTotalCountValue {
    color: var(--textcolor2) !important;
}
.NC-VideoMediaObject-description, .VideoWatchHistoryItemAfter-meta {
    color: var(--textcolor2) !important;
}
/* サイドバー */
.SubMenuLink-label {
    color:var(--textcolor2) !important;
}
.ExpandBoxButton-overlay {
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,var(--bgcolor1)) !important;
}
.SubMenuLink-link_active {
    background-color: var(--accent2) !important;
}
.SubMenuLink-link_active:hover {
    background-color: var(--hover2) !important;
}
.SubMenuLink-link:hover .SubMenuLink-label, .SubMenuLink-link_active .SubMenuLink-label {
    color: var(--linktext2) !important;
}
.SubMenuLink-link_internal:hover {
    background-color: var(--hover1) !important;
}
.MylistSideContainer-mylistList > *, .VideoSideContainer-seriesList > * {
    background: var(--bgcolor2) !important;
}
.MylistHeader-name {
    color: var(--textcolor1) !important;
}
.VideoContainer-headerTotalCountValue,.FolloweeContainer-header {
    color: var(--textcolor2) !important
}
.SubMenuHeader-title, .MylistPageSubMenuHeader-counter, .MylistPageSubMenuHeader-counterValue {
    color: var(--textcolor2) !important;
}
.MylistSideContainer_hasMylistItem .MylistSideContainer-categoryList > :last-child {
    border-bottom: 1px solid var(--accent2) !important;
}
/* ニコる */
.NicoruHistoryPassiveItem, .NicoruHistoryActiveItem {
    background: var(--bgcolor2) !important;
}
.NicoruHistoryPassiveItem-video, .NicoruHistoryActiveItem-video {
    background: var(--accent1) !important;
}
.NicoruHistoryPassiveItem-videoTitleArea > a:visited, .NicoruHistoryActiveItem-videoTitleArea > a:visited {
    color: var(--textcolor3) !important;
}
.NicoruHistoryPassiveItem-videoTitleArea > a, .NicoruHistoryActiveItem-videoTitleArea > a, .NicoruHistoryPassiveItem-date  {
    color: var(--textcolor2) !important;
}
.NicoruHistoryPassiveItem-videoOwner {
    background: #998221 !important;
}
.NicoruHistoryPassiveItem-videoCommentVposArea a {
    color: var(--linktext1) !important;
}
/* あなたへのおすすめ */
.PersonalFrame {
    background-color: var(--bgcolor2) !important;
}
.PersonalFrame-body {
    border: 2px solid var(--accent1) !important;
}
.PersonalFrame-header {
    background-color: #07576c !important;
}
.PersonalFrame-text {
    color: var(--textcolor1) !important;
}
/* その他 */
.nico-CommonHeaderRoot .common-header-eyo3v5 {
    background-color: var(--bgcolor3) !important;
}
.nico-CommonHeaderRoot .common-header-10t70iy {
    background-color: var(--bgcolor3) !important;
    color: var(--textcolor1) !important;
}

/* シリーズ */
.SeriesAdditionalContainer, .SeriesMenuContainer-seriesList {
    background: var(--bgcolor2);
}
.ExpandableDescription .ExpandBox_is-expanded, .BlankState-title {
    color: var(--textcolor1);
}
.NC-SeriesMediaObject .NC-MediaObject-contents {
    background-color: var(--bgcolor2);
}

/* タグ */
.TagItem-link {
    background-color: var(--bgcolor2);
    color: var(--textcolor2);
    border: 1px solid var(--accent2);
}

.RecommendVideoListContainer-more {
    background-color: var(--bgcolor2);
    color: var(--textcolor2);
    border: 1px solid var(--accent2);
}
.RecommendVideoListContainer-more:hover {
    background-color: var(--hover2);
}
/* いいね！ */
.LikeItemAfter-thanksMessage {
    background: var(--accent1) !important;
    border: 1px solid var(--accent2) !important;
}
.LikeItemAfter-thanksMessage::after, .LikeItemAfter-thanksMessage::before {
    border-bottom: 8px solid var(--accent2) !important;
}
.LikeItemAfter-thanksMessage::after {
    border-bottom-color: var(--accent1) !important;
}
.LikeItemAfter-thanksMessage > h1 {
    color: var(--textcolor3) !important;
}

/* iframe */
.c-body {
    background-color: var(--bgcolor1)
}
.p-embed-supporter-supporting-creators {
    color: var(--textcolor2)
}
/* バッジ */
.t-badge-wrapper--list {
    background: var(--bgcolor2);
}
.m-badge-card {
    background: var(--accent1);
    border: 1px solid var(--accent1);
    color: var(--textcolor1);
}
.m-badge-card .m-badge-card__title::after {
    background: var(--accent2);
}
.m-badge-card .m-badge-card__title p {
    color: var(--textcolor1);
}
/* タイムシフト */
.___timeshift-reservations-page___ZJdqt {
    background: var(--bgcolor1);
    color: var(--textcolor1);
}
.___program-title___fdLyH {
    color: var(--textcolor2)
}
.___counter___Xdjcm > .score {
    color: var(--textcolor2)
}
.___program-card___ciI29 > .content-area > .program-summary > .program-title {
    color: var(--textcolor1) !important;
}
.___program-card___ciI29 > .content-area > .program-summary > .program-description {
    color: var(--textcolor2) !important;
}
.___toggle-button___xC4rm, .___toggle-button___EVlU5 {
    background-color: var(--bgcolor2) !important;
    border: 2px solid var(--accent2) !important;
    color: var(--textcolor2)
}
.___toggle-button___EVlU5 > span {
    color: var(--textcolor2)
}
.___toggle-button___EVlU5:hover > span {
    color: var(--linktext2)
}
.___toggle-button___EVlU5 > svg path {
    fill: var(--textcolor2)
}
.___toggle-button___EVlU5:hover > svg path {
    fill: var(--textcolor2)
}
.___toggle-button___xC4rm:hover {
    border: 2px solid var(--hover2) !important;
}
.___toggle-button___EVlU5 {
    border: 2px solid var(--linktext2)
}
.___description___l0xL4 {
    color: var(--textcolor2)
}
.___local-anchor___Hapoe {
    color: var(--textcolor1)
}
/* why-this-class-name-is-so-long */
.c-pages-embed-supporter-supporting-creators-page-content {
    color: var(--textcolor1);
}
/* why-this-class-name-is-very-very-long */
.c-pages-embed-supporter-supporting-creators-empty-state__whats-support-link-text {
    color: var(--textcolor2);
}
/* why-this-class-name-is-sooooooo-loooooooooong */
.c-pages-embed-supporter-supporting-creators-empty-state__whats-support-link-right-icon > svg, .c-pages-embed-supporter-supporting-creators-empty-state__whats-support-link-left-icon > svg {
    fill: var(--textcolor2);
}

.ExpandableDescription .ExpandBox_is-expanded,
.BlankState-title {
    color: var(--textcolor1)
}

.NC-SeriesMediaObject .NC-MediaObject-contents {
    background-color: var(--bgcolor2)
}



#article-title-box:has(#pm-pediadynamicpalette-div), .a-contents:has(#pm-pediadynamicpalette-div) {
    background-color: var(--bgcolor1);
    color: var(--textcolor1)
}
body#basebody:has(#pm-pediadynamicpalette-div) #right-column {
    color: var(--textcolor1);
}
body#basebody:has(#pm-pediadynamicpalette-div) {
    background-color: var(--bgcolor1);
}
body#basebody:has(#pm-pediadynamicpalette-div) .st-box_side {
    background-color: var(--bgcolor2);
}
div:has(> p > #pm-pediabackblurtoparentdiv-w) {
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.4);
    position:relative;
    bottom: 60px;
}