.PMDM-Assist body,
.PMDM-Assist body > div:not(.pmbutton-container),
.PMDM-Assist {
  background: var(--pre-bgcolor, #fafafa);
}
html.PMDM-NAnime {
  color: var(--textcolor1) !important;
}
html.PMDM-NAnime ._2sF9J::before {
  background: var(--textcolor1);
}
html.PMDM-NAnime .omGiJ,
html.PMDM-NAnime ._3pFjP,
html.PMDM-NAnime .OiWHw,
html.PMDM-NAnime .RtEd_::after,
html.PMDM-NAnime .RtEd_::before,
html.PMDM-NAnime .RtEd_,
html.PMDM-NAnime ._82CXB {
  background: var(--bgcolor2);
}
html.PMDM-NAnime .omGiJ {
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime .btwUg {
  color: var(--textcolor2);
}
html.PMDM-NAnime ._1_4Pk {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._3kuj4::after {
  border-bottom: 2px dotted var(--accent2);
}
html.PMDM-NAnime ._3E_Hu {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._3WGx3[disabled="disabled"] {
  color: var(--textcolor3);
}
html.PMDM-NAnime ._1uBu0 > svg > path {
  fill: var(--textcolor1);
}
html.PMDM-NAnime ._1uBu0 > svg > mask > path {
  fill: var(--textcolor1);
}
html.PMDM-NAnime ._2Dkya {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._28S5B + ._28S5B::before {
  background: var(--textcolor1);
}
html.PMDM-NAnime ._1GDUp path:last-child {
  fill: var(--textcolor1);
}
html.PMDM-NAnime .W94Bf {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._3NeeE,
html.PMDM-NAnime ._25-Pp {
  background: var(--accent1);
}
html.PMDM-NAnime ._1y_qx {
  background: var(--accent1);
}
html.PMDM-NAnime .W94Bf:hover,
html.PMDM-NAnime ._2-_Wn:hover + .W94Bf,
html.PMDM-NAnime ._3O14R:hover .W94Bf {
  box-shadow: -1px 7px 10px rgba(0,0,0,0.2), inset 0 1px 0 0 var(--accent2);
}
html.PMDM-NAnime ._2-_Wn::before {
  background: var(--bgcolor2);
  border-color: var(--accent2) var(--bgcolor2) var(--bgcolor2) var(--accent2);
}
html.PMDM-NAnime ._25J1W svg {
  fill: var(--textcolor1);
}
html.PMDM-NAnime ._25J1W path:last-child {
  fill: var(--bgcolor1);
}
html.PMDM-NAnime ._1y_qx[data-type="next"]::after,
html.PMDM-NAnime ._1y_qx[data-type="prev"]::after {
  border-color: transparent var(--textcolor2) transparent transparent;
}
html.PMDM-NAnime .U4ZM3 {
  color: var(--textcolor2);
}
html.PMDM-NAnime .U4ZM3[data-current="true"] {
  color: var(--textcolor1);
}
html.PMDM-NAnime ._38AZO:first-child::before,
html.PMDM-NAnime ._38AZO:last-child::after {
  background-color: var(--accent2);
}
html.PMDM-NAnime ._38AZO {
  color: var(--accent2);
}
html.PMDM-NAnime ._3IquG {
  border-bottom: 1px solid var(--accent2);
}
html.PMDM-NAnime .U4ZM3[data-current="true"]::before {
  background: var(--accent2);
}
html.PMDM-NAnime ._3KRGZ {
  border-bottom: 1px solid var(--accent2);
}
html.PMDM-NAnime .jkaQc {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._1bYq_[data-current="true"] {
  background: var(--accent1);
}
html.PMDM-NAnime ._1bYq_:hover {
  background: var(--accent1);
}
html.PMDM-NAnime ._1UbMa::before {
  background-color: var(--accent1);
}
html.PMDM-NAnime ._2RazI {
  background: var(--bgcolor2);
  border: 1px solid var(--accent2);
}
html.PMDM-NAnime ._1oRNp {
  border-bottom: 1px solid var(--accent2);
}
html.PMDM-NAnime .rZkhm {
  border-left: 1px solid var(--accent2);
}
html.PMDM-NAnime ._1_R1h {
  background: var(--accent2);
}
html.PMDM-NAnime ._3Hjd1::after {
  background-color: var(--accent2);
}
html.PMDM-NAnime ._3Hjd1:before {
  border: 1px solid var(--bgcolor2);
}
html.PMDM-NAnime ._3Hjd1 {
  background-color: var(--accent2);
  border: 1px solid var(--bgcolor2);
}
html.PMDM-NAnime .CMT-W {
  color: var(--textcolor2);
}
html.PMDM-NAnime ._2euwN {
  background: var(--bgcolor2);
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime .FTLg_ {
  border-bottom: 1px solid var(--accent2);
}
html.PMDM-NAnime .FTLg_:first-child,
html.PMDM-NAnime .FTLg_:nth-child(2) {
  border-top: 1px solid var(--accent1);
}
html.PMDM-NAnime .WkOl_ {
  background: var(--bgcolor2);
  box-shadow: inset 0 0 0 1px var(--accent1);
}
html.PMDM-NAnime ._1pGc0 {
  color: var(--textcolor2);
}
html.PMDM-NAnime ._2CKZU {
  border-bottom: 1px solid var(--accent1);
}
html.PMDM-NAnime ._2CKZU:first-child {
  border-top: 1px solid var(--accent1);
}
html.PMDM-NAnime ._1JL4r {
  border: 1px solid var(--textcolor2);
}
html.PMDM-NAnime ._1JL4r svg path {
  fill: var(--textcolor2);
}
html.PMDM-NAnime ._104vY {
  border-top: 1px solid var(--accent1);
  border-bottom: 1px solid var(--accent1);
}
html.PMDM-NAnime ._1jLP_,
html.PMDM-NAnime ._3X9UW {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._96NMn::after,
html.PMDM-NAnime ._1YXvh::after {
  background: var(--accent1);
}
html.PMDM-NAnime ._1YXvh::before,
html.PMDM-NAnime ._96NMn::before {
  border: 1px dashed var(--accent1);
}
html.PMDM-NAnime ._1wWDx {
  background: var(--bgcolor3);
}
html.PMDM-NAnime ._3qUKG {
  background: var(--bgcolor3);
}
html.PMDM-NAnime ._3EAI6 a,
html.PMDM-NAnime ._1QbKo,
html.PMDM-NAnime .KGQaR,
html.PMDM-NAnime ._3h1M6 {
  color: var(--textcolor1);
}
html.PMDM-NAnime ._26vTd {
  border-left: 1px dashed var(--textcolor1);
}
html.PMDM-NAnime ._3vL1c svg path,
html.PMDM-NAnime ._3vL1c svg rect {
  fill: var(--textcolor1);
}
html.PMDM-NAnime ._3vL1c svg path:last-child {
  fill: var(--bgcolor3);
}
html.PMDM-NAnime ._23vjy::before {
  background: var(--textcolor1);
}
html.PMDM-NAnime body.premier {
  background-color: var(--bgcolor1);
}
html.PMDM-NAnime .special-unique-content .main_column #news #news_list,
html.PMDM-NAnime .special-unique-content .main_column .card_list ul li,
html.PMDM-NAnime .special-unique-content .main_column #tw_area {
  background: var(--bgcolor2);
}
html.PMDM-NAnime .special-unique-content a:hover {
  opacity: 1;
}
html.PMDM-NAnime .special-unique-content .main_column .card_list ul li:hover {
  background: var(--hover1);
}
html.PMDM-NAnime .special-unique-content .main_column #livepast_card_area .card_list ul li a p {
  color: var(--textcolor1);
}
html.PMDM-NAnime .special-unique-content .main_column .card_list ul li .card_info .tag_list .label.green + span,
html.PMDM-NAnime .special-unique-content .main_column .card_list + .btn a {
  color: var(--textcolor2);
}
html.PMDM-NAnime .special-unique-content .main_column #livepast_card_area {
  background-image: linear-gradient(to right, var(--textcolor2), var(--textcolor2) 2px, transparent 2px, transparent 8px);
}
html.PMDM-NAnime .ynMe4 {
  background: var(--bgcolor2);
}
html.PMDM-NAnime ._3o8XH {
  color: var(--textcolor2);
  background-color: var(--bgcolor2);
}
html.PMDM-NAnime ._3u3UQ:not(:first-child) {
  border-top: 1px solid var(--accent1);
}
html.PMDM-NAnime .vaIMK::after,
html.PMDM-NAnime .EXmuO::after {
  background: var(--bgcolor1);
}
html.PMDM-NAnime .EXmuO::before,
html.PMDM-NAnime ._1c3EO::after {
  border: 1px dashed var(--textcolor2);
}
html.PMDM-NAnime .CMCnI {
  background-color: var(--accent1);
}
html.PMDM-NAnime ._1xCR4 {
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime ._2q4Gz {
  color: var(--textcolor2);
}
html.PMDM-NAnime .UcsAu::after {
  background-color: var(--textcolor2);
}
html.PMDM-NAnime .UcsAu {
  background-color: var(--bgcolor2);
  border: 1px solid var(--accent1);
  color: var(--textcolor1);
}
html.PMDM-NAnime .UcsAu:hover {
  background-color: var(--hover1);
  opacity: 1;
}
html.PMDM-NAnime ._1vcpO,
html.PMDM-NAnime ._1Zqnd {
  background-color: var(--bgcolor2);
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime ._3iucS::after {
  border-top: 1px dashed var(--accent1);
}
html.PMDM-NAnime ._374F5 {
  color: var(--textcolor2);
}
html.PMDM-NAnime .TxCGQ span {
  background-color: var(--bgcolor2);
}
html.PMDM-NAnime .TxCGQ::before {
  border-bottom: 1px dashed var(--accent1);
}
html.PMDM-NAnime ._6SfTD {
  background-color: var(--bgcolor2);
}
html.PMDM-NAnime ._1mZom {
  background-color: var(--bgcolor2);
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime ._1Mkap {
  border-bottom: 1px dashed var(--accent1);
}
html.PMDM-NAnime ._2jxRk {
  color: var(--textcolor1);
}
html.PMDM-NAnime ._2wVPQ {
  color: var(--textcolor1);
  background-color: var(--bgcolor2);
  border-right: 1px solid var(--accent1);
  border-bottom: 1px solid var(--accent1);
}
html.PMDM-NAnime .L8An5 {
  color: var(--textcolor1);
  background-color: var(--bgcolor2);
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime ._1vLfX {
  border-top: 1px solid var(--accent1);
  border-left: 1px solid var(--accent1);
}
html.PMDM-NAnime ._3QiuC {
  background-color: var(--bgcolor2);
  border: 1px solid var(--accent1);
}
html.PMDM-NAnime .x5fF8 {
  color: var(--textcolor2);
}
html.PMDM-NicoInfo body {
  color: var(--textcolor1);
  background: var(--bgcolor1);
}
html.PMDM-NicoInfo .l-main.l-main-list2-item a {
  color: var(--textcolor1);
}
html.PMDM-NicoInfo .breadcrumb.breadcrumb-list {
  color: var(--textcolor2);
}
html.PMDM-NicoInfo .breadcrumb.breadcrumb-list-item a {
  color: var(--textcolor2);
}
html.PMDM-NicoInfo .breadcrumb.breadcrumb-list::after,
html.PMDM-NicoInfo .breadcrumb.breadcrumb-list-item:last-of-type::after {
  background: var(--bgcolor1);
}
html.PMDM-NicoInfo .article.article-content h3 span {
  background: linear-gradient(0deg, var(--accent1), var(--accent1) 50%, transparent 50%, transparent 100%);
}
html.PMDM-NicoInfo .article.article-content h3 {
  color: var(--textcolor1);
}
html.PMDM-NicoInfo .article.article-date {
  color: var(--textcolor2);
}
html.PMDM-NicoInfo .l-aside.l-aside-item-inner {
  background: var(--bgcolor2);
}
html.PMDM-NicoInfo .l-aside.l-aside-heading,
html.PMDM-NicoInfo .l-aside.l-aside-list2-item a {
  color: var(--textcolor1);
}
html.PMDM-NicoInfo .link.link-arrow a {
  color: var(--textcolor2);
}
html.PMDM-NicoInfo .link.link-arrow a::after {
  border-bottom: 2px solid var(--textcolor2);
  border-right: 2px solid var(--textcolor2);
}
html.PMDM-NicoInfo .link.link-arrow a:hover {
  color: var(--linktext2);
}
html.PMDM-NicoInfo .link.link-arrow a:hover::after {
  border-bottom: 2px solid var(--linktext2);
  border-right: 2px solid var(--linktext2);
}
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-inner {
  background: var(--bgcolor2);
}
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-subheading span {
  color: var(--textcolor2);
}
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-list-item a {
  color: var(--textcolor1);
}
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-list-item:not(:last-of-type)::after,
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-heading span::after,
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-button::after,
html.PMDM-NicoInfo .l-globalmenu.l-globalmenu-button::before,
html.PMDM-NicoInfo .l-header.l-header-button::after,
html.PMDM-NicoInfo .l-header.l-header-button::before,
html.PMDM-NicoInfo .l-header.l-header-button-text {
  background: var(--textcolor2);
}
html.PMDM-NicoInfo .l-header.l-header-logo a {
  background: linear-gradient(90deg, rgba(0,0,0,0), #fff 5%, #fff 95%, rgba(0,0,0,0) 100%);
}
html.PMDM-NicoInfo .l-header.l-header-area {
  border-bottom: 2px solid var(--bgcolor2);
}
