/* 色浮き防止 */
.HeaderContainer,.BottomSideContainer,.BottomMainContainer {
    background-color:var(--bgcolor1);
}
/* タイトル */
.VideoTitle {
    color: var(--textcolor1);
}
/* メタデータ */
.VideoUploadDateMeta-title,.VideoViewCountMeta-title,.CommentCountMeta-title,.MylistCountMeta-title,.VideoGenreMeta-title,.GenreRankMeta-genreName {
    color: var(--textcolor2);
}
.VideoUploadDateMeta-dateTimeLabel,.VideoViewCountMeta-counter,.CommentCountMeta-counter,.MylistCountMeta-counter,.VideoGenreMeta-genreName,.VideoGenreMeta-link,.GenreRankMeta-yesterdayRank {
    color: var(--textcolor2);
}
.VideoMetaContainer > *, .VideoMetaOverflowMenuContainer {
    border-left: 1px solid var(--accent1);
    box-shadow: -1px 0 0 0 var(--bgcolor2);
}
/* メタデータメニュー */
.VideoMetaOverflowMenuContainer-menu {
    background: var(--bgcolor2);
    border: 1px solid var(--accent2);
}
/* コメント入力 */
.CommentPostContainer-commentInput,.CommentPostContainer-commandInput {
    background-color: var(--bgcolor3);
    border: 1px solid var(--accent1);
}
.CommentCommandInput {
    color: var(--textcolor1);
}
.CommentInput-textarea {
    color: var(--textcolor1);
}
/* 右側いいねetc */
.VideoMenuContainer, .BottomContainer, .VideoMenuContainer-areaLeft, .VideoMenuContainer-areaRight {
    background-color: var(--bgcolor1);
}
.VideoMenuContainer-areaLeft .VideoMenuContainer-button,.SharePanelVisibleActionButton svg {
    fill: var(--textcolor2);
}
.VideoMenuContainer .UadButtonBalloon {
    background-color: var(--accent1);
}
.PlayerPanelContainer {
    background-color: var(--bgcolor1);
}
.WatchRecommendation-heading {
    color: var(--textcolor3);
}
.VideoMenuContainer::after {
    border-bottom: 0px;
}
.SharePanelVisibleActionButton:hover {
    background: var(--accent1);
}
.VideoMenuContainer {
    background-color: var(--bgcolor1);
}
/* コメント表示 */
.CommentPanelContainer {
    background-color: var(--bgcolor1);
}
.CommentPanelContainer .CommentPanelDataGrid {
    color: var(--textcolor1);
}
.CommentPanelDataGrid .CommentPanelDataGrid-TableRow:hover {
    background-color: var(--accent1);
}
.CommentPanelDataGrid .CommentPanelDataGrid-HeaderCell {
    background-color: var(--bgcolor3);
}
.CommentPanelContainer [data-row-nicoru-rank="1"] {
    background:var(--nicoru1);
}
.CommentPanelContainer [data-row-nicoru-rank="2"] {
    background:var(--nicoru2);
}
.CommentPanelContainer [data-row-nicoru-rank="3"] {
    background:var(--nicoru3);
}
.CommentPanelContainer [data-row-nicoru-rank="4"] {
    background:var(--nicoru4);
}
/* タグ */
.TagItem {
    background-color: var(--accent1);
    border: 1px solid var(--bgcolor3);
}
.TagItem-name {
    color: var(--textcolor1);
}
.TagContainer-editButton {
    background-color: #4c4f53;
}
/* 下側 */
.Card {
    background-color: var(--bgcolor2);
}
.Card-title {
    color: #fafafa;
}
.ContentTreeContainer-guideMessage {
    color: var(--textcolor3);
}
.EventTagRelatedBanner-description .Link {
    color: var(--textcolor2);
}
.EventTagRelatedBanner-title .Link {
    color: var(--linktext1);
}
/* コンテンツツリー */
.ContentTree-summary .Link {
    background-color: var(--accent1);
    color: var(--linktext2);
}
.ContentTree-summaryLabel {
    color: var(--textcolor1)
}
/* 検索 */
.SearchBox {
    background: var(--bgcolor3);
    border: 1px solid var(--bgcolor4);
}
.SearchBox-input {
    box-shadow: inset 0 0 8px 0 var(--bgcolor2);
}
.TagSuggestionInput-input {
    background: var(--bgcolor3);
    color: var(--textcolor1);
}
.SearchBox-submitIcon {
    fill: var(--textcolor2);
}
.SearchBox-optionMenu {
    background-color: var(--bgcolor2);
    border: 1px solid var(--accent2);
}
.SearchBox-optionMenuItem:hover {
    background-color: var(--hover1);
}
.TagSuggestionInput-input::placeholder {
    color: var(--textcolor2)
}
/* いいねボタン */
.LikeActionButton {
    background: var(--bgcolor3);
    color: var(--textcolor1);
}
.LikeActionButton:hover {
    background: var(--accent2);
}
.LikeActionButton--default {
    border: 2px solid var(--accent1);
}
#LikeIcon_svg__frame-0 path {
    fill: #fff;
}
/* ギフト */
.GiftSubEffectContainer-balloon {
    background: var(--bgcolor2);
    border: 1px solid var(--accent1);
}
.GiftSubEffectContainer-balloon::after, .GiftSubEffectContainer-balloon::before {
    border-right-color: var(--bgcolor2);
}
.GiftSubEffectGivenGift-giftPoint,.GiftSubEffectGivenGift-name,.GiftSubEffectRanker-rankerName,.GiftSubEffectRanker-honorificTitle,.GiftSubEffectGivenGift-honorificTitle {
    color:var(--textcolor3);
}
.GiftSubEffectGivenGift-giftName,.GiftSubEffectGivenGift-text, .GiftSubEffectDefault {
    color:var(--textcolor2);
}
.GiftSubEffectConductor {
    color: var(--linktext1);
}
.GiftSubEffectConductor-openBlankIcon > * {
    fill: var(--linktext1);
}
.GiftButton:enabled:hover {
    background: var(--hover1);
}
.GiftButton {
    background: var(--bgcolor2);
}
.GiftButton-icon svg svg path,.GiftButton-point {
    color: var(--textcolor2);
    fill: var(--textcolor2);
}
/* 右側タブ */
.PlayerPanelContainer-tabItem {
    border-bottom: 3px solid var(--bgcolor3);
}
/* 右下イベントカード */
.TagRelatedBanner-title .Link {
    color: var(--linktext1);
}
.TagRelatedBanner-description .Link {
    color: var(--textcolor2);
}
/* フィードバック */
.FeedbackLink {
    background: #4a4d51;
}
/* ライブ中 */
.OwnerNicoliveBanner {
    background: var(--bgcolor2);
}
.OwnerNicoliveBanner-title {
    color: var(--textcolor1);
}
.OwnerNicoliveBanner-time {
    color: var(--textcolor3);
}
/* NG設定 */
.NGSettingPanelContainer-contentMain {
    background: var(--accent1);
}
.NGSettingPanelContainer {
    background: var(--bgcolor2);
}
.ViewerNGList .ViewerNGListDataGrid-HeaderCell {
    background: var(--accent2);
}
.NGSettingPanelContainer-removeButton[disabled] {
    background: var(--accent2);
    color: var(--textcolor2);
}
.NGSettingPanelContainer-openViewerNGRegisterButton {
    background: var(--accent1);
}
/* 概要 */
.VideoDescriptionSeriesContainer-label {
    color: var(--textcolor3);
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand {
    background: linear-gradient(90deg,hsla(0,0%,96%,0),var(--bgcolor1) 16%);
}

.VideoDescriptionSeriesContainer-seriesTitle {
    color: var(--linktext1)
}
.VideoDescriptionSeriesContainer-itemTitle,.VideoDescriptionExpander .VideoDescriptionExpander-switch {
    color: var(--linktext2)
}

/* ダークなコメントエリア */
.ControllerBoxCommentAreaContainer, .EasyCommentContainer {
    background-color: var(--bgcolor2);
    border-right: 0px solid #ddd;
}
.EasyCommentButton {
    background-color: var(--bgcolor3);
    color: #fff;
    border: 2px solid var(--accent3);
}
.EasyCommentButton:hover {
    background-color: var(--hover2);
}

/* [CENSORED] supporter button */ 
.NC-CreatorSupportAccepting-content, .NC-CreatorSupportAccepting-arrow {
    background: var(--bgcolor2);
    color: var(--linktext1);
}
.NC-CreatorSupportAccepting_appeal .NC-CreatorSupportAccepting-label {
    color: var(--linktext1);
}
.NC-CreatorSupportAccepting-register {
    border: 1px solid var(--linktext1);
    color: var(--linktext1);
}
.NC-CreatorSupportAccepting_appeal .NC-CreatorSupportAccepting-content:hover .NC-CreatorSupportAccepting-arrow, .NC-CreatorSupportAccepting_appeal .NC-CreatorSupportAccepting-content:hover .NC-CreatorSupportAccepting-label, .NC-CreatorSupportAccepting_appeal .NC-CreatorSupportAccepting-content:hover .NC-CreatorSupportAccepting-register {
	background-color: var(--hover1);
	border-color: var(--accent2);
	color: var(--textcolor1);
	text-decoration: none;
}
.NC-CreatorSupportAccepting_appeal .NC-CreatorSupportAccepting-content:hover {
    background-color: var(--hover1);
}

/* フローティングパネル */
.AddVideoListPanel-content {
    color: var(--textcolor1)
}
.FloatingPanelContainer:not(.is-fullscreen) {
    background: var(--bgcolor2)
}