.pmbutton-container {
    position: fixed;
    left:0;
    bottom:0;
    margin: 12px;
    width: fit-content;
    max-height: calc( 100vh - 36px );
    z-index: 6000002;
    opacity: 100;
    transition: opacity .2s ease 
}
.is-fullscreen > .pmbutton-container {
    opacity: 0
}
.is-fullscreen > .pmbutton-container:hover {
    opacity: 0.5
}
.mainaction-button {
    cursor: pointer;
    width: 52px;
    height:52px;
    border:none;
    border-radius: 128px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding:0px;
    color: #fff;
    font-size: 24px;
}
.stockedserieswindow-container {
    background: var(--bgcolor2);
    width: 360px;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    max-height: calc(100vh - 128px);
    overflow-y: scroll;
}
.stockedseries-row {
	margin: 5px 0;
	border-bottom: 2px solid var(--bgcolor4);
	border-radius: 5px;
	background: var(--bgcolor1);
	padding: 5px 8px;
}
.serieslink-container {
	display: flex;
}
.stockedseries-row-link {
	color: var(--linktext2);
	text-overflow: ellipsis;
	max-height: 24px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	line-height: 1;
	margin: 8px 0px;
	padding: 0;
}

.serieslink-container .stockedseries-row-link {
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0;
	color: var(--textcolor1);
}

.serieslink-container .stockedseries-row-link:hover {
	color: var(--linktext2);
}
#removeseries {
	color: var(--textcolor1);
	background-color: var(--accent2);
	border-radius: 5px;
	margin: auto 0 auto auto;
}
.togglelock {
	color: var(--textcolor1);
	background-color: var(--accent2);
	border-radius: 5px;
	margin: auto 0 auto auto;
}

.mainaction-button:hover {
    font-size:28px;
    transition:all .1s
}

.subaction-button {
    cursor: pointer;
    width: 32px;
    height:32px;
    border:none;
    border-radius: 128px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding:5px 0px;
    color: #222;
    background: #ccc;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
}
.subaction-button:hover {
    background: #eaeaea;
}
.subaction-button:hover {
    font-size:25px;
    transition:all .1s
}

.subaction-button.disabled {
    color: #aaa;
    background: #444;
}

#fadeouter {
	opacity: 100%;
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: opacity 0.1s ease 0s;
	background: var(--bgcolor1);
	top: 0;
	z-index: 10000002;
}
.ui-draggable-dragging {
    opacity: 50%
}

.MarqueeContainer > div {
    display: flex;
}
#pm-marqueerankinglink {
	display: block;
	line-height: 44px;
	animation: fadein 0.1s linear forwards;
	padding: 0px 32px;
	width: 100%;
	text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 5;
}
#pm-marqueerankingbg {
	padding: 0px 8px 0px 32px;
	display: flex;
}/*
#pm-marqueerankingbg::before {
    position:absolute;
    left: 0;
    width: 32px;
    background: linear-gradient(-90deg,rgba(0,0,0,0),rgba(0,0,0,255));
    content: "";
    top: 0;
	display: block;
	height: 44px;
    z-index: 3;
}
#pm-marqueerankingbg::after {
	position: absolute;
	left: 80px;
	width: 50px;
	background: linear-gradient(90deg,rgba(0,0,0,0),rgb(0, 0, 0) 65%);
	content: "";
	top: 0;
	display: block;
	height: 44px;
	z-index: 3;
}*/
#pm-marqueerankingbg-current, #pm-marqueerankingbg-next {
    line-height: 44px;
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
    opacity: 50%;
}
#pm-marqueerankingbg-next {
    transform: translateY(15%) scale(0.6);
    opacity: 30%
}
.pmui-hinttext {
    background: #ddd;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,40%);
}
.pmui-hinttext-modern {
    display: none;
}
.subaction-container:hover > .pmui-hinttext-modern {
    display: inline;
}
.subaction-container {
    padding-left: 10px;
    margin-bottom: 8px;
}
#openvidarticle {
	font-size: 16px;
	font-weight: bold;
	background-color: #b20000;
	color: #fff;
	line-height: 20px;
}

.pm-viCommanderContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 32px;
}
#pm-vicommander {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 32px;
    background: rgba(0,0,0,0.25);
    border: none;
    backdrop-filter: blur(10px);
    font-family: 'HackGen Console NF','Consolas','Meiryo',monospace;
    color: #fafafa;
}
.pm-viCommanderError {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    padding: 8px;
    line-height: 20px;
    font-size: 16px;
    color: #f00;
    animation: blink 0.1s normal 3;
    font-family: 'HackGen Console NF','Consolas','Meiryo',monospace
}
.pm-viCommanderOutput {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    padding: 8px;
    line-height: 20px;
    font-size: 16px;
    color: #0f0;
    font-family: 'HackGen Console NF','Consolas','Meiryo',monospace
}

#misskeysharecontainer {
	background-color: var(--bgcolor1);
	color: var(--textcolor1);
	margin: 8px;
	padding: 16px;
	border-radius: 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 360px;
    animation: bottomslidein 0.3s ease forwards
}
#misskeysharebutton {
    margin-top: 8px;
    background: linear-gradient(45deg,rgb(66, 143, 14),rgb(94, 187, 32));
	color: #f0f0f0;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor:pointer
}

.windowclosebutton {
    margin-top: 8px;
    background: var(--bgcolor2);
    color: var(--textcolor2);
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor:pointer
}

#misskeyshareclosebutton {
    margin-left: 8px;
}

.misskeyshare-selectinstancecontainer {
	margin-top: 8px;
}

.misskeyshare-preview {
	background-color: var(--bgcolor2);
	color: var(--textcolor2);
	padding: 2px 8px;
}

.misskeyshare-selectinstance {
	padding: 2px 8px;
	border: none;
	border-radius: 4px;
}

#evdcontainer {
	background-color: var(--bgcolor1);
	color: var(--textcolor1);
	margin: 8px;
	padding: 16px;
	border-radius: 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 360px;
    animation: bottomslidein 0.3s ease forwards
}

.evdchapterrow {
	padding: 8px;
	margin-top: 8px;
	width: 100%;
	text-align: left;
	border: none;
	border-radius: 3px;
	background: var(--bgcolor2);
	color: var(--textcolor1);
	display: flex;
}
.evdchapterrow:hover {
    background: var(--hover1);
}

@keyframes fadeout {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}
@keyframes fadein {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
@keyframes marqueebganim_1 {
    0% { 
        transform: translateX(0%) translateY(0%) scale(1.0);
    }
    50% {
        transform: translateX(0%) translateY(15%) scale(0.6);
    }
    80% { 
        transform: translateX(-100%) translateY(15%) scale(0.6);
        opacity: 50%;
    }
    100% { 
        transform: translateX(-100%) translateY(15%) scale(0.6);
        opacity: 0%;
    }
}
@keyframes marqueebganim_2 {
    0% { 
        transform: translateX(0%) translateY(15%) scale(0.6);
    }
    50% {
        transform: translateX(-50%) translateY(15%) scale(0.6);
        opacity: 30%;
    }
    95% { 
        transform: translateX(-100%) translateY(0%) scale(1.0);
        opacity: 50%;
    }
    100% { 
        transform: translateX(-100%) translateY(0%) scale(1.0);
        opacity: 50%;
    }
}
@keyframes blink {
    0% { 
        opacity: 100%
    }
    50% { 
        opacity: 100%
    }
    51% { 
        opacity: 0%
    }
    100% { 
        opacity: 0%;
    }
}
@keyframes bottomslidein {
    0% { 
        bottom: -1000px;
    }
    100% { 
        bottom: 0px;
    }
}