.ControllerButton svg,
.ControllerButton.PlayerRepeatOnButton svg path,
.PlaybackRateButton svg {
    fill: #fff
}

.ControllerContainer-inner {
    top: 4px
}

.PlayerPauseButton,
.PlayerPlayButton {
    left: 50%;
    right: 50%;
    position: absolute !important;
    transform: translate(-50%);
    padding: 2px;
}

.ControllerContainer-centerArea>.ControllerButton {
    padding: 5px
}

.PlayerOptionContainer {
    max-height: 330px;
}

.common-header-1v0m9lc,
.common-header-1nvgp3g,
.common-header-h0l8yl,
.common-header-cdesjj,
.common-header-171vphh,
.common-header-wb7b82,
.common-header-1ufbzdh,
.common-header-654o26,
.common-header-11u4gc2,
.common-header-1pxv7y0,
.commonHeaderArea,
#CommonHeader {
    background-color: #000 !important;
}

.HeaderContainer,
.BottomSideContainer,
.BottomMainContainer,
.TagItem,
.PlayerContainer,
.ControllerBoxContainer {
    background-color: transparent !important;
}

.PlayerPanelContainer {
    border-top-left-radius: 16px;
}

.EasyCommentContainer-caption {
    display: none;
}

.VideoMenuContainer,
.BottomContainer,
.VideoMenuContainer-areaLeft,
.VideoMenuContainer-areaRight {
    background-color: transparent;
}

.SearchBox-optionMenu {
    bottom: 32px
}

.VideoMenuContainer-areaLeft .VideoMenuContainer-button,
.SharePanelVisibleActionButton svg {
    fill: #f0f0f0;
}

.VideoMenuContainer::after {
    border-bottom: none;
}

.CommentRenderer>canvas,
.CommentRenderer,
.VideoSymbolContainer {
    width: 100% !important;
    height: 100% !important;
}

.ControllerBoxContainer.is-fullscreen.is-fixedFullscreenController {
    background: transparent
}

.WatchAppContainer {
    display: flex;
}

.MainContainer {
    padding-top: 16px;
    box-shadow: 0px 0px 0px #000;
    width: 100%;
    background: #000;
    margin-bottom: 0px;
}

.MainContainer-player {
    width: 100%
}

.WatchAppContainer-main {
    width: calc(100vw - 384px) !important;
    left: 0;
    right: auto;
    margin: 0 !important;
    padding: 0px 0px;
}

.MainContainer-playerPanel {
    position: fixed;
    top: 36px;
    height: calc(100% - 72px);
    background: transparent;
}

.VideoContainer {
    background: transparent;
    margin: auto;
    overflow: visible
}

.PlayerPanelContainer {
    border-top-left-radius: 16px
}

/*.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand {
    background: linear-gradient(90deg, hsla(0, 0%, 96%, 0), #fefefe 16%) !important;
}*/

.HeaderContainer-searchBox {
    position: fixed;
    bottom: 0;
    right: 0
}

.SearchBox-input {
    width: 335px
}

.SearchBox {
    width: 382px
}

.HeaderContainer {
    width: 100%;
    padding: 0px 8px 0;
    margin: 0 0 0
}

.HeaderContainer-topArea {
    text-align: center
}

.HeaderContainer-row .GridCell:last-child {
    width: fit-content;
    display: flex
}

.HeaderContainer-row {
    width: fit-content;
    display: flex;
    margin: auto auto 12px
}

.VideoDescriptionContainer {
    margin: 0 auto;
    margin-bottom: 16px
}

.SeekBar {
    margin: auto 0
}

.PlayerPlayTime-playtime,
.PlayerPlayTime-duration {
    margin: auto 10px
}

.ControllerBoxContainer {
    margin-top: 8px;
    padding: 0 128px
}

.ControllerContainer {
    height: 48px
}

.EasyCommentContainer {
    height: auto
}

.EasyCommentButton {
    background: transparent;
    color: #fff;
    border: 1px solid #aaa
}

.CommentPostContainer-commandInput,
.CommentPostContainer-commentInput {
    background: transparent
}

.CommentCommandInput,
.CommentInput-textarea {
    color: #fff
}

.CommentPostContainer-commentInput {
    border-bottom: 2px solid #aaa;
    border-top: 2px solid #aaa
}

.CommentPostContainer-commandInput {
    border: 2px solid #aaa
}

.SeekBarContainer {
    padding: 8px 16px 0;
    display: flex
}

.SeekBar-buffered {
    background-color: #666
}

.ControllerBoxCommentAreaContainer,
.EasyCommentContainer {
    background: transparent
}

.ControllerContainer {
    z-index: 3
}
.PlayerPlayTime,.PlayTimeFormatter { 
    color: #fff;
    width: 40px;
}
.BaseLayout-main, .BaseLayout { background-color: #000 !important }
.BottomContainer { background-color: transparent }
.HeaderContainer { 
    background: #000
}
.VideoDescriptionContainer { 
    padding: 16px;
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
    border-radius: 8px;
    color: #fff
}
.VideoDescriptionExpander .VideoDescriptionExpander-switch { 
    bottom: 8px;
    text-align: center;
    width: 100%;
    background: linear-gradient(180deg,hsla(0,0%,96%,0),#000 25%) !important
}
.TagItem-name { color: #fff }
.VideoMenuContainer {
	background: transparent;
}
.ControllerBoxCommentAreaContainer { border-right: none }
.TagContainer {
    justify-content: center;
}
.VideoTitle {
    color: #fff;
    padding-top: 6px;
}

.SearchBox {
    border-right: none;
}
body:not(.is-fullscreen) .VideoOverlayContainer {
    z-index: 50;
}
body:not(.is-fullscreen) .PlayerOptionContainer {
    position:fixed;
    bottom:0;
    right:0;
    max-height: calc(100vh - 40px);
    backdrop-filter: blur(20px);
    animation: slidetoleft 0.25s ease forwards 1
}
.PlayerOptionMenu::after {
	content: "Thank you for using PepperMint+ theater mode!";
	display: block;
	text-align: center;
	margin: 16px 0px;
	color: #f0f0f0;
}
.HeaderContainer-searchBox {
    position: fixed;
    bottom: 0;
    right: 0
}
body:not(.is-fullscreen) .MainContainer-playerPanel {
    animation: sidebartowind 0.25s ease forwards 1;
}

body.is-fullscreen .WatchAppContainer > .BaseLayout-container > .BaseLayout-contents > :not(.WatchAppContainer-main):not(.ContextMenu-wrapper):not(.ErrorContainer):not(.NicoruNoticeContainer) {
    display: block !important;
    animation: sidebartofsc 0.25s ease forwards 1 !important;
}

body.is-fullscreen .WatchAppContainer-main > :not(.MainContainer):not(.WakutkoolNoticeContainer) {
	display: inherit !important;
}
body.is-fullscreen .WatchAppContainer-main > :not(.MainContainer) > :not(.HeaderContainer-topArea), body.is-fullscreen .WatchAppContainer-main > :not(.MainContainer) > .HeaderContainer-topArea > :not(.HeaderContainer-searchBox) {
    display: none !important;
}
body:not(.is-fullscreen) .HeaderContainer-searchBox {
    animation: searchboxtowind 0.25s ease forwards 1;
}
body.is-fullscreen .HeaderContainer-searchBox {
    animation: searchboxtofsc 0.25s ease forwards 1;
}
a {
	color: rgb(0, 146, 219);
	text-decoration: none;
}
.EasyCommentButton:hover {
	background-color: #cce6ff66;
}

.GridCell.VideoOwnerInfo-gridCell {
	width: inherit;
}

.SharePanelVisibleActionButton:hover {
	background: #eee3;
}

.PlayerContainer:not(.is-mouseMoving) .VideoContainer * {
	cursor: none;
}
.PlayerContainer .ControllerContainer {
    opacity: 1;
    transition: opacity 0.2s ease;
}
.PlayerContainer:not(.is-mouseMoving):has(.VideoContainer:hover) .ControllerContainer {
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

@keyframes slidetoleft {
    from {
        opacity: 0;
        right: -384px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}
@keyframes sidebartofsc {
    0% {
        right: 0px;
        opacity: 1;

    }
    100% {
        right: -384px;
        opacity: 0;
    }
}
@keyframes sidebartowind {
    0% {
        display: block;
        right: -384px;
        opacity: 0;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes searchboxtofsc {
    0% {
        bottom: 0;
        opacity: 1;

    }
    100% {
        bottom: -36px;
        opacity: 0;
    }
}
@keyframes searchboxtowind {
    0% {
        bottom: -36px;
        opacity: 0;

    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}

/* コメント増量 暫定競合回避 */
.CustomVideoContainer {
	aspect-ratio: 21 / 9;
	width: 100% !important;
	height: inherit !important;
}
.CustomVideoContainer.CommentRenderer {
	width: 100% !important;
}
.CustomVideoContainer .CommentRenderer > canvas {
	inset: 0px;
	margin: 0px auto;
}
.CustomVideoContainer .CommentRenderer > canvas{
	width: auto !important;
	height: 100% !important;
}

/* sidebar */
#VideoMenuDrawer-app {
	position: fixed;
	left: 0;
	top: 36px;
	z-index: 6000001;
}
#VideoMenuDrawer-app:not(:has(.css-gzpr6t)) .css-fdpmya {
	background: #222a;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#VideoMenuDrawer-app:not(:has(.css-gzpr6t)) .css-10yxuc8 svg path {
    fill: #fff !important;
}
html:has(.PlayerContainer:not(.is-mouseMoving) .VideoContainer:hover) #VideoMenuDrawer-app:not(:has(.css-gzpr6t)) .css-fdpmya {
    opacity: 0;
}