html.PM-TheaterMode {
  --theater-bg: var(--bgcolor1);
  --theater-text: var(--textcolor1);
  --theater-textd: var(--textcolor2);
  --theater-accent1: var(--accent1);
  --theater-accent2: var(--accent2);
  --theater-sidebg: var(--bgcolor2);
  --theater-linktext: var(--linktext1);
  --theater-hoverlink: var(--hover1);
  --theater-hover: var(--hover1);
  --theater-headerbg: var(--bgcolor1);
/*.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand {
        background: linear-gradient(90deg, hsla(0, 0%, 96%, 0), #fefefe 16%) !important;
    }*/
/* コメント増量 暫定競合回避 */
/* sidebar */
}
html.PM-TheaterMode .ControllerButton svg,
html.PM-TheaterMode .ControllerButton.PlayerRepeatOnButton svg path,
html.PM-TheaterMode .PlaybackRateButton svg {
  fill: var(--theater-text);
}
html.PM-TheaterMode .ControllerContainer-inner {
  top: 4px;
}
html.PM-TheaterMode .PlayerPauseButton,
html.PM-TheaterMode .PlayerPlayButton {
  left: 50%;
  right: 50%;
  position: absolute !important;
  transform: translate(-50%);
  padding: 2px;
}
html.PM-TheaterMode .ControllerContainer-centerArea>.ControllerButton {
  padding: 5px;
}
html.PM-TheaterMode .PlayerOptionContainer {
  max-height: 330px;
}
html.PM-TheaterMode .common-header-1v0m9lc,
html.PM-TheaterMode .common-header-1nvgp3g,
html.PM-TheaterMode .common-header-h0l8yl,
html.PM-TheaterMode .common-header-cdesjj,
html.PM-TheaterMode .common-header-171vphh,
html.PM-TheaterMode .common-header-wb7b82,
html.PM-TheaterMode .common-header-1ufbzdh,
html.PM-TheaterMode .common-header-654o26,
html.PM-TheaterMode .common-header-11u4gc2,
html.PM-TheaterMode .common-header-1pxv7y0,
html.PM-TheaterMode .commonHeaderArea,
html.PM-TheaterMode #CommonHeader {
  background-color: var(--theater-headerbg) !important;
}
html.PM-TheaterMode .HeaderContainer,
html.PM-TheaterMode .BottomSideContainer,
html.PM-TheaterMode .BottomMainContainer,
html.PM-TheaterMode .TagItem,
html.PM-TheaterMode .PlayerContainer,
html.PM-TheaterMode .ControllerBoxContainer {
  background-color: transparent !important;
}
html.PM-TheaterMode .PlayerPanelContainer {
  border-top-left-radius: 16px;
}
html.PM-TheaterMode .EasyCommentContainer-caption {
  display: none;
}
html.PM-TheaterMode .VideoMenuContainer,
html.PM-TheaterMode .BottomContainer,
html.PM-TheaterMode .VideoMenuContainer-areaLeft,
html.PM-TheaterMode .VideoMenuContainer-areaRight {
  background-color: transparent;
}
html.PM-TheaterMode .SearchBox-optionMenu {
  bottom: 32px;
}
html.PM-TheaterMode .VideoMenuContainer-areaLeft .VideoMenuContainer-button,
html.PM-TheaterMode .SharePanelVisibleActionButton svg {
  fill: var(--theater-textd);
}
html.PM-TheaterMode .VideoMenuContainer::after {
  border-bottom: none;
}
html.PM-TheaterMode .CommentRenderer>canvas,
html.PM-TheaterMode .CommentRenderer,
html.PM-TheaterMode .VideoSymbolContainer {
  width: 100% !important;
  height: 100% !important;
}
html.PM-TheaterMode .ControllerBoxContainer.is-fullscreen.is-fixedFullscreenController {
  background: transparent;
}
html.PM-TheaterMode .WatchAppContainer {
  display: flex;
}
html.PM-TheaterMode .MainContainer {
  padding-top: 16px;
  box-shadow: 0px 0px 0px var(--theater-bg);
  width: 100%;
  background: transparent;
  margin-bottom: 0px;
}
html.PM-TheaterMode .MainContainer-player {
  width: 100%;
}
html.PM-TheaterMode .WatchAppContainer-main {
  width: calc(100vw - 384px) !important;
  left: 0;
  right: auto;
  margin: 0 !important;
  padding: 0px 0px;
}
html.PM-TheaterMode .MainContainer-playerPanel {
  position: fixed;
  top: 36px;
  height: calc(100% - 72px);
  background: transparent;
}
html.PM-TheaterMode .VideoContainer {
  background: transparent;
  margin: auto;
  overflow: visible;
}
html.PM-TheaterMode .PlayerPanelContainer {
  border-top-left-radius: 16px;
}
html.PM-TheaterMode .HeaderContainer-searchBox {
  position: fixed;
  bottom: 0;
  right: 0;
}
html.PM-TheaterMode .SearchBox-input {
  width: 335px;
}
html.PM-TheaterMode .SearchBox {
  width: 382px;
}
html.PM-TheaterMode .HeaderContainer {
  width: 100%;
  padding: 0px 8px 0;
  margin: 0 0 0;
}
html.PM-TheaterMode .HeaderContainer-topArea {
  text-align: center;
}
html.PM-TheaterMode .HeaderContainer-row .GridCell:last-child {
  width: fit-content;
  display: flex;
}
html.PM-TheaterMode .HeaderContainer-row {
  width: fit-content;
  display: flex;
  margin: auto auto 12px;
}
html.PM-TheaterMode .VideoDescriptionContainer {
  margin: 0 auto;
  margin-bottom: 16px;
}
html.PM-TheaterMode .SeekBar {
  margin: auto 0;
}
html.PM-TheaterMode .PlayerPlayTime-playtime,
html.PM-TheaterMode .PlayerPlayTime-duration {
  margin: auto 10px;
}
html.PM-TheaterMode .ControllerBoxContainer {
  margin-top: 8px;
  padding: 0 128px;
}
html.PM-TheaterMode .ControllerContainer {
  height: 48px;
}
html.PM-TheaterMode .EasyCommentContainer {
  height: auto;
}
html.PM-TheaterMode .EasyCommentButton {
  background: transparent;
  color: var(--theater-text);
  border: 1px solid var(--theater-accent1);
}
html.PM-TheaterMode .CommentPostContainer-commandInput,
html.PM-TheaterMode .CommentPostContainer-commentInput {
  background: transparent;
}
html.PM-TheaterMode .CommentCommandInput,
html.PM-TheaterMode .CommentInput-textarea {
  color: var(--theater-text);
}
html.PM-TheaterMode .CommentPostContainer-commentInput {
  border-bottom: 2px solid var(--theater-accent1);
  border-top: 2px solid var(--theater-accent1);
}
html.PM-TheaterMode .CommentPostContainer-commandInput {
  border: 2px solid var(--theater-accent1);
}
html.PM-TheaterMode .SeekBarContainer {
  padding: 8px 16px 0;
  display: flex;
}
html.PM-TheaterMode .SeekBar-buffered {
  background-color: var(--theater-accent2);
}
html.PM-TheaterMode .ControllerBoxCommentAreaContainer,
html.PM-TheaterMode .EasyCommentContainer {
  background: transparent;
}
html.PM-TheaterMode .ControllerContainer {
  z-index: 3;
}
html.PM-TheaterMode .PlayerPlayTime,
html.PM-TheaterMode .PlayTimeFormatter {
  color: var(--theater-text);
  width: 40px;
}
html.PM-TheaterMode .BaseLayout-main,
html.PM-TheaterMode .BaseLayout {
  background-color: var(--theater-bg) !important;
}
html.PM-TheaterMode .BottomContainer {
  background-color: transparent;
}
html.PM-TheaterMode .HeaderContainer {
  background: var(--theater-bg);
}
html.PM-TheaterMode .VideoDescriptionContainer {
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  border-radius: 8px;
  color: var(--theater-text);
}
html.PM-TheaterMode .VideoDescriptionExpander .VideoDescriptionExpander-switch {
  bottom: 8px;
  text-align: center;
  width: 100%;
  background: linear-gradient(180deg, rgba(245,245,245,0), var(--theater-bg) 25%) !important;
}
html.PM-TheaterMode .TagItem-name {
  color: var(--theater-text);
}
html.PM-TheaterMode .VideoMenuContainer {
  background: transparent;
}
html.PM-TheaterMode .ControllerBoxCommentAreaContainer {
  border-right: none;
}
html.PM-TheaterMode .TagContainer {
  justify-content: center;
}
html.PM-TheaterMode .VideoTitle {
  color: var(--theater-text);
  padding-top: 6px;
}
html.PM-TheaterMode .SearchBox {
  border-right: none;
}
html.PM-TheaterMode body:not(.is-fullscreen) .VideoOverlayContainer {
  z-index: 50;
}
html.PM-TheaterMode body:not(.is-fullscreen) .PlayerOptionContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: calc(100vh - 40px);
  backdrop-filter: blur(20px);
  animation: slidetoleft 0.25s ease forwards 1;
}
html.PM-TheaterMode .PlayerOptionMenu::after {
  content: "Thank you for using PepperMint+ theater mode!";
  display: block;
  text-align: center;
  margin: 16px 0px;
  color: var(--theater-textd);
}
html.PM-TheaterMode .HeaderContainer-searchBox {
  position: fixed;
  bottom: 0;
  right: 0;
}
html.PM-TheaterMode body:not(.is-fullscreen) .MainContainer-playerPanel {
  animation: sidebartowind 0.25s ease forwards 1;
}
html.PM-TheaterMode body.is-fullscreen .WatchAppContainer > .BaseLayout-container > .BaseLayout-contents > :not(.WatchAppContainer-main):not(.ContextMenu-wrapper):not(.ErrorContainer):not(.NicoruNoticeContainer) {
  display: block !important;
  animation: sidebartofsc 0.25s ease forwards 1 !important;
}
html.PM-TheaterMode body.is-fullscreen .WatchAppContainer-main > :not(.MainContainer):not(.WakutkoolNoticeContainer) {
  display: inherit !important;
}
html.PM-TheaterMode body.is-fullscreen .WatchAppContainer-main > :not(.MainContainer) > :not(.HeaderContainer-topArea),
html.PM-TheaterMode body.is-fullscreen .WatchAppContainer-main > :not(.MainContainer) > .HeaderContainer-topArea > :not(.HeaderContainer-searchBox) {
  display: none !important;
}
html.PM-TheaterMode body:not(.is-fullscreen) .HeaderContainer-searchBox {
  animation: searchboxtowind 0.25s ease forwards 1;
}
html.PM-TheaterMode body.is-fullscreen .HeaderContainer-searchBox {
  animation: searchboxtofsc 0.25s ease forwards 1;
}
html.PM-TheaterMode .EasyCommentButton:hover {
  background-color: var(--theater-hoverlink);
}
html.PM-TheaterMode .GridCell.VideoOwnerInfo-gridCell {
  width: inherit;
}
html.PM-TheaterMode .SharePanelVisibleActionButton:hover {
  background: var(--theater-hover);
}
html.PM-TheaterMode .PlayerContainer:not(.is-mouseMoving) .VideoContainer * {
  cursor: none;
}
html.PM-TheaterMode .PlayerContainer .ControllerContainer {
  opacity: 1;
  transition: opacity 0.2s ease;
}
html.PM-TheaterMode .PlayerContainer:not(.is-mouseMoving):has(.VideoContainer:hover) .ControllerContainer {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
html.PM-TheaterMode body.is-fullscreen .BaseLayout-main,
html.PM-TheaterMode body.is-fullscreen .BaseLayout {
  background: #000 !important;
}
html.PM-TheaterMode .CustomVideoContainer {
  aspect-ratio: 21/9;
  width: 100% !important;
  height: inherit !important;
}
html.PM-TheaterMode .CustomVideoContainer.CommentRenderer {
  width: 100% !important;
}
html.PM-TheaterMode .CustomVideoContainer .CommentRenderer > canvas {
  inset: 0px;
  margin: 0px auto;
}
html.PM-TheaterMode .CustomVideoContainer .CommentRenderer > canvas {
  width: auto !important;
  height: 100% !important;
}
html.PM-TheaterMode #VideoMenuDrawer-app {
  position: fixed;
  left: 0;
  top: 36px;
  z-index: 6000001;
}
html.PM-TheaterMode #VideoMenuDrawer-app:not(:has(.css-gzpr6t)) .css-fdpmya {
  background: var(--theater-sidebg);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.5s ease;
}
html.PM-TheaterMode #VideoMenuDrawer-app:not(:has(.css-gzpr6t)) .css-10yxuc8 svg path {
  fill: var(--theater-text) !important;
}
html.PM-TheaterMode .VideoUploadDateMeta-title,
html.PM-TheaterMode .VideoViewCountMeta-title,
html.PM-TheaterMode .CommentCountMeta-title,
html.PM-TheaterMode .MylistCountMeta-title,
html.PM-TheaterMode .VideoGenreMeta-title,
html.PM-TheaterMode .GenreRankMeta-genreName {
  color: var(--theater-text);
}
html.PM-TheaterMode .VideoUploadDateMeta-dateTimeLabel,
html.PM-TheaterMode .VideoViewCountMeta-counter,
html.PM-TheaterMode .CommentCountMeta-counter,
html.PM-TheaterMode .MylistCountMeta-counter,
html.PM-TheaterMode .VideoGenreMeta-genreName,
html.PM-TheaterMode .VideoGenreMeta-link,
html.PM-TheaterMode .GenreRankMeta-yesterdayRank {
  color: var(--theater-textd);
}
html.PM-TheaterMode .VideoMetaContainer > *,
html.PM-TheaterMode .VideoMetaOverflowMenuContainer {
  border-left: 1px solid var(--theater-textd);
  box-shadow: -1px 0 0 0 var(--theater-accent1);
}
html.PM-TheaterMode .VideoDescriptionSeriesContainer-label {
  color: var(--theater-textd);
}
@-moz-keyframes slidetoleft {
  from {
    opacity: 0;
    right: -384px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}
@-webkit-keyframes slidetoleft {
  from {
    opacity: 0;
    right: -384px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}
@-o-keyframes slidetoleft {
  from {
    opacity: 0;
    right: -384px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}
@keyframes slidetoleft {
  from {
    opacity: 0;
    right: -384px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}
@-moz-keyframes sidebartofsc {
  0% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -384px;
    opacity: 0;
  }
}
@-webkit-keyframes sidebartofsc {
  0% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -384px;
    opacity: 0;
  }
}
@-o-keyframes sidebartofsc {
  0% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -384px;
    opacity: 0;
  }
}
@keyframes sidebartofsc {
  0% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -384px;
    opacity: 0;
  }
}
@-moz-keyframes sidebartowind {
  0% {
    display: block;
    right: -384px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes sidebartowind {
  0% {
    display: block;
    right: -384px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@-o-keyframes sidebartowind {
  0% {
    display: block;
    right: -384px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@keyframes sidebartowind {
  0% {
    display: block;
    right: -384px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@-moz-keyframes searchboxtofsc {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -36px;
    opacity: 0;
  }
}
@-webkit-keyframes searchboxtofsc {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -36px;
    opacity: 0;
  }
}
@-o-keyframes searchboxtofsc {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -36px;
    opacity: 0;
  }
}
@keyframes searchboxtofsc {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -36px;
    opacity: 0;
  }
}
@-moz-keyframes searchboxtowind {
  0% {
    bottom: -36px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes searchboxtowind {
  0% {
    bottom: -36px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@-o-keyframes searchboxtowind {
  0% {
    bottom: -36px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes searchboxtowind {
  0% {
    bottom: -36px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
html.PM-TheaterMode:has(.PlayerContainer:not(.is-mouseMoving) .VideoContainer:hover) #VideoMenuDrawer-app:not(:has(.css-gzpr6t)) .css-fdpmya {
  opacity: 0;
}
html.PM-TheaterMode:not(.PMDM-Enabled) {
  --theater-bg: #f4f4f4;
  --theater-text: #001835;
  --theater-textd: #2a2a2a;
  --theater-accent1: #e0e0e0;
  --theater-accent2: #dadada;
  --theater-sidebg: #f0f0f0;
  --theater-linktext: #0092db;
  --theater-hoverlink: #c0d7ec;
  --theater-hover: rgba(238,238,238,0.2);
  --theater-headerbg: #252525;
}
html.PM-TheaterMode body.is-PMLightPalette {
  --theater-headerbg: #252525;
}
html.PM-TheaterUseBlack {
  --theater-bg: #000;
  --theater-text: #fff;
  --theater-textd: #f0f0f0;
  --theater-accent1: #aaa;
  --theater-accent2: #666;
  --theater-sidebg: rgba(34,34,34,0.667);
  --theater-linktext: #0092db;
  --theater-hoverlink: rgba(204,230,255,0.4);
  --theater-hover: rgba(238,238,238,0.2);
  --theater-headerbg: #000;
}
