{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "targets": {
                "firefox": "78"
            }
        }],
        ["@babel/preset-react", { "runtime": "automatic", "modules": false }]
    ]
}