:root {
	--primary: #0060df;
	--primary-hover: #0090ed;
	--destructive: #c50042;
	--destructive-hover: #e22850;
	--destructive-dark: #810220;
}
.MainContainer {
    display: flex;
    flex-direction: column;
	padding: 1%;
    background-color: #00000002;
    border-radius: 16px;
    width: auto;
    box-shadow: 0px 0px 6px #0002;
    min-width: 480px;
    margin: auto 0;
}
.title {
	display: flex;
	align-items: center;
    font-weight: bold;
    margin-bottom: 0.5em;
	gap: 1em;
	font-size: 1.8em;
	
}
.title img {
	width: 4em;
	height: 4em;
}
.title span {
	margin-top: 0.5em;
}
body {
    font-family: "Lato","Yu Gothic UI","Meiryo UI",sans-serif;
    background-color: Canvas;
    color: CanvasText;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0px;
	margin: 0;
}
body > * {
	color-scheme: light dark;
}
.settinglink:hover {
	color: #fff;
	background: var(--primary-hover);
}
.settinglink {
    font-weight: bold;
    padding: 6px 10px;
    font-size: 15px;
    text-decoration: none;
	color: #fff;
	background: var(--primary);
	box-shadow: 0px 0px 1px var(--primary-hover);
	border-radius: 5px;
	margin: 0.1em 0;
	margin-right: 1em;
	margin-bottom: 1em;
	text-align: center;
	width: fit-content;
	font-family: "SF Pro Text","Yu Gothic UI","Meiryo UI",sans-serif;
	line-height: 1.3em;
}
.repolink {
    font-weight: bold;
    padding: 6px 10px;
    font-size: 15px;
    text-decoration: none;
	color: #000;
	background: #ccc;
	box-shadow: #afafaf;
	border-radius: 5px;
	margin: 0.1em 0;
	margin-right: 1em;
	margin-bottom: 1em;
	text-align: center;
	width: fit-content;
	font-family: "SF Pro Text","Yu Gothic UI","Meiryo UI",sans-serif;
	display: inline;
	line-height: 1.3em;
}
.multiplebutton {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.repolink:hover {
	color: #000;
	background: #bbb;
}
.snslink > a {
	color: #999;
	margin-right: 16px;
}

h2, p {
    margin: 0;
    margin-bottom: 0.5em;
}

h2 {
	font-size: 1.2em;
	border-left: 4px solid #999;
	padding-left: 0.5em;
	line-height: 1.8em;
}

p {
	line-height: 1.5em
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: #1c1b22;
		color: #fff;
	}
	.MainContainer {
		background-color: #fff1;
		box-shadow: 0px 0px 6px #fff2;
	}
}