.ControllerContainer-inner {
    position:relative;
    top: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.ControllerContainer-area:last-child {
    position:absolute;
    right:0;
}
.ControllerContainer-area {
    flex: 0 1 auto;
}
.ControllerContainer-centerArea {
    flex: 0 1 auto;
}
.VolumeBarContainer {
    position: absolute;
    right: 165px;
    top:-2px
}
.VolumeBar {
    top:0px
}
.MuteVideoButton,.UnMuteVideoButton {
    position: absolute !important;
    right: 260px;
}
.PlayerSkipNextButton {
    position: absolute !important;
    right: 290px;
}
.PlayerSeekForwardButton {
    position: absolute !important;
    right: 317px;
}
.PlaybackRateButton {
    padding-top:0px
}
.ControllerButton {
    margin-right: 3px;
}
.PlayerPlayTime {
    position:absolute;
    right:345px;
    line-height:24px;
}
.SeekBarContainer {
    padding-left: 100px;
    padding-right: 445px;
    padding-top: 0px;
    position: relative;
    height:1px
}
.SeekBar {
    top: 14px;
}
.ActionButton.MylistButton.ControllerButton.ignore-out-of-click-event {
    display:none;
}
.ControllerContainer {
    height: 31px;
}
.CommentPostContainer-commandInput {
    border-radius: 0px 0 0 0px;
}
.CommentPostContainer-postButton .CommentPostButton {
    border-radius: 0px 0 0 0px;
    width:104px
}
.EasyCommentContainer-caption {
    font-size: 10px;
    color: transparent;
    line-height: 1.2;
    margin: 0px auto 0px;
    padding: 0 8px;
}
.ControllerBoxCommentAreaContainer,.ControllerBoxCommentAreaContainer-commentPostAndLikeArea {
    padding: 0 0 !important;
}
.CommentPostContainer,.CommentPostContainer-inner,.CommentPostContainer-postButton,.CommentPostButton.ActionButton {
    height:28px
}
.CommentPostContainer-postButton,.CommentPostContainer-postButton .CommentPostButton {
    width:64px
}
.CommentPostContainer-postButton {
    flex: 0 0 64px;
}
.CommentPostIcon{
    display:none;
}
.CommentPostButton.ActionButton {
    background-image: linear-gradient(#ff9e3c 1%,#ffa114 40%,#ff5919 60%,#f4781a 100%);
}
.ControllerBoxCommentAreaContainer .ControllerBoxCommentAreaContainer-commentPostAndLikeArea .CommentPostContainer {
    margin-right:0px
}