.ControllerContainer-inner {
    position:relative;
}
.ControllerContainer-area:last-child {
    position:absolute;
    right:0;
}
.ControllerContainer-area {
    flex: 0 1 auto;
    height: 34px
}
.ControllerContainer-centerArea {
    flex: 0 1 auto;
}
.PlayerPlayTime {
    position:absolute;
    right:0px;
    top: -1px;
    width: 100%;
    padding-left: 110px;
    padding-right: 185px
}
.VolumeBarContainer {
    position: absolute;
    right: 20px;
    top: -1px
}
.MuteVideoButton,.UnMuteVideoButton {
    position: absolute !important;
    right: 90px;
}
.ActionButton.MylistButton.ControllerButton.ignore-out-of-click-event {
    display:none;
}
.SeekBarContainer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
}
.ControllerContainer {
    height: 34px
}
.PlayerRepeatOnButton,.PlayerRepeatOffButton,.CommentOnOffButton,.EnableFullScreenButton,.DisableFullScreenButton,.PlayerOptionButton {
    background-color: transparent;
    height: 28px;
    padding: 4px;
    position: relative;
    width: 28px;
    top: 3px;
}
.ActionButton.ControllerButton.PlayerRepeatOnButton,.ActionButton.ControllerButton.PlayerRepeatOffButton {
    height: 28px;
    padding: 4px;
    width: 28px;
}
.ActionButton.PlaybackRateButton {
    height: 32px;
    padding: 4px;
    width: 60px;
    top: 3px
}
.PlaybackRateButton svg {
    height: 22px
}
.ControllerContainer-area:last-child {
    width: 16px;
    transition: width 0.25s ease;
    overflow: hidden
}
.ControllerContainer-area:last-child:hover {
    width: 172px;
    transition: width 0.3s ease;
}
.VolumeBarContainer {
    width: 60px;
}
.PlayerSkipNextButton {
    position: absolute !important;
    right: 125px;
}
.PlayerSeekForwardButton {
    position: absolute !important;
    right: 155px;
}
.SeekBarContainer {
    height: 0px;
    padding-left: 155px;
    padding-right: 235px
}
.SeekBar {
    top: 14px
}
.ControllerContainer-area:last-child {
    background-image: linear-gradient(#242424, #1e1e1e);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}
.PlayerPlayTime-playtime {
    position:absolute;
    left:110px;
}
.PlayerPlayTime-duration {
    position:absolute;
    right:190px;
    color: #ddd
}
.PlayerPlayTime-separator {
    display:none;
}