html.PMDM-Enabled {
    /* ヘッダー */
    /* ＞＞＞＞インライン＜＜＜＜ */

    /* お知らせ */
    .nico-CommonHeaderRoot .common-header-105n2rz, .common-header-1qrrqzo, .common-header-17paqjd {
        background-color: var(--bgcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-abyv5k {
        color: var(--textcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-1l1lwin {
        border-bottom: 1px solid var(--accent1) !important;
    }
    // read
    .nico-CommonHeaderRoot .common-header-1swev0c {
        background-color: var(--bgcolor2) !important;
        border-bottom: 1px solid var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-1swev0c:hover {
        background-color: var(--hover1) !important;
    }
    // new
    .nico-CommonHeaderRoot .common-header-kolmxm, .nico-CommonHeaderRoot .common-header-1ngx8bj {
        background: var(--accent1) !important;
        border-bottom: 1px solid var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-kolmxm:hover, .nico-CommonHeaderRoot .common-header-1ngx8bj:hover {
        background: var(--hover1) !important;
        border-bottom: 1px solid var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-vv8zyj {
        color: var(--textcolor1) !important;
    }
    .nico-CommonHeaderRoot .common-header-2cl2ey,.nico-CommonHeaderRoot .common-header-uruoug {
        background-color: var(--bgcolor3) !important;
    }
    .nico-CommonHeaderRoot .common-header-ey0i79 {
        color: var(--textcolor1) !important;
    }
    .nico-CommonHeaderRoot .common-header-1tmi0yd {
        color: var(--textcolor1) !important;
    }
    .nico-CommonHeaderRoot .common-header-o6dvje {
        border-bottom: 1px solid var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-lgm3my, .nico-CommonHeaderRoot .common-header-ujxs89 {
        border-bottom: 1px solid var(--accent1);
        background-color: var(--bgcolor2);
    }

    // フォロー新着
    .nico-CommonHeaderRoot {
        .common-header-1yny3xz {
            background: var(--bgcolor2);
            color: var(--textcolor1);
        }

        .common-header-1z0nh14 {
            color: var(--textcolor1);
        }

        .common-header-t0c1lo {
            color: var(--textcolor1);
        }

        .common-header-1ds5jm7 {
            color: var(--textcolor2);
        }

        .common-header-1veij8a {
            border-bottom-color: var(--accent1);
        }

        .common-header-fktz2b {
            border-bottom-color: var(--accent1);
        }

        .common-header-1dx2avo {
            color: var(--textcolor1);
        }

        .common-header-12977jx {
            color: var(--textcolornew);
        }

        .common-header-xynh53 {
            color: var(--textcolor2);
        }

        .common-header-1khmfsm {
            background: var(--bgcolor3);
            color: var(--textcolor1);
        }

        .common-header-asufr0 {
            color: var(--textcolor1);
        }
    }



    // date
    .nico-CommonHeaderRoot .common-header-9l26sq {
        color: var(--textcolor2)
    }

    /* ユーザーをホバーした時に出るやつ */
    .nico-CommonHeaderRoot .common-header-17f7oiq > * {
        border-bottom: 1px solid var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-17f7oiq > :nth-child(2n) {
        border-left: 1px solid var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-m6vxd,.nico-CommonHeaderRoot .common-header-1ke4cb6, .nico-CommonHeaderRoot .common-header-1xzs4ko,.nico-CommonHeaderRoot .common-header-o214xd, .nico-CommonHeaderRoot .common-header-15czeyj, .common-header-1usu4l0{
        background-color: var(--bgcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-8xay8a {
        background-color: var(--accent2) !important;
    }
    .nico-CommonHeaderRoot .common-header-8g5w98:hover, .nico-CommonHeaderRoot .common-header-o214xd:hover,.nico-CommonHeaderRoot .common-header-1xzs4ko:hover,.nico-CommonHeaderRoot .common-header-z5pyn9:hover, .common-header-1usu4l0:hover {
        background-color: var(--hover1) !important;
    }
    .nico-CommonHeaderRoot .common-header-yxm7eu,.nico-CommonHeaderRoot .common-header-1xmxna8, .nico-CommonHeaderRoot .common-header-1q7xmj5 {
        background-color: var(--accent1) !important;
        color: var(--textcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-jmhvxm,.nico-CommonHeaderRoot .common-header-n0qa7l,.nico-CommonHeaderRoot .common-header-ddpru6,.nico-CommonHeaderRoot .common-header-1yxywo9 {
        color: var(--textcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-3ymwy4 {
        color: var(--textcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-73qkp6, .nico-CommonHeaderRoot .common-header-ndczso {
        color: var(--textcolor2) !important;
    }
    .nico-CommonHeaderRoot .common-header-17kau2v svg path,.nico-CommonHeaderRoot .common-header-z0oejq svg path,.nico-CommonHeaderRoot .common-header-17qo8f1 path {
        fill: var(--textcolor1) !important;
    }
    .nico-CommonHeaderRoot .common-header-cvcm83 > * {
        border-top: 0px !important;
    }
    .common-header-1cznxpg, .common-header-17gpt9v {
        background: var(--accent1) !important;
    }
}