html.PMDM-Enabled {
    .OpenlistMediaObject {
        background: var(--bgcolor2);
        border-color: var(--accent1);
    }

    .SortTypeSelector>select {
        background: var(--bgcolor2);
        color: var(--textcolor1);
        border-color: var(--accent1);
    }

    .OpenlistPage-alert {
        color: var(--dangerous1, #c00);
    }
}