html.PMDM-Enabled {
	#VideoMenuDrawer-app > div > div > div, .NC-VideoMenuDrawerPlaceHolder > .NC-VideoMenuDrawerPlaceHolder-wrapper {
		background: var(--bgcolor2) !important;
	}
	.css-16zug1i {
		color: var(--accent2) !important;
	}
	.css-10iwwxw {
		background: var(--bgcolor1) !important;
	}
	.css-qkib1w * {
		fill: var(--textcolor1) !important;
	}
	.css-d9fec {
		color: var(--textcolor1) !important;
	}
	.css-d9fec:hover, .css-owmlql:hover {
		color: var(--textcolor2) !important;
	}
	.css-d9fec:hover svg path, .css-owmlql:hover svg path {
		fill: var(--textcolor2) !important;
	}
	.css-1tjdbbb {
		color: var(--linktext1) !important
	}
	.css-1tjdbbb svg path, .css-1rgc6aq svg path {
		fill: var(--linktext1) !important;
	}
	.css-1tjdbbb:hover, .css-1rgc6aq:hover {
		color: var(--textcolor2) !important;
		background: var(--accent2) !important;
	}
	.css-1tjdbbb:hover svg path, .css-1rgc6aq:hover svg path  {
		fill: var(--textcolor2) !important;
	}
	.css-1rgc6aq {
		color: var(--linktext1) !important;
		background: var(--accent1) !important;
	}
	.css-144b5v4 button > svg > path, .css-14y3bdu > svg > path, .css-54sd46:hover svg path, .css-ns7xss:hover svg path, .css-1xvl3dk:hover svg path, .css-16zbbkw:hover svg path {
		fill: var(--textcolor1);
	}

	.css-16zbbkw svg path, .css-ns7xss svg path {
		fill: var(--linktext3);
	}

	.css-16zbbkw {
		color: var(--linktext3) !important;
	}

	.css-54sd46:hover, .css-ns7xss:hover, .css-1xvl3dk:hover, .css-16zbbkw:hover {
		background: var(--hover1);
		color: var(--textcolor1) !important;
	}
}
html.PMDM-VidWatch {
	#VideoMenuDrawer-app > div > div > div:not(:has(.css-gzpr6t)) {
		background: transparent !important;
	}
	// :has() fallback
	.css-gzpr6t {
		background: var(--bgcolor2);
		padding: 0px 14px;
		margin: 0;
	}
}