html.PMDM-Enabled {
    .UserDetailsContainer::after, .UserPage-header, .UserDetailsHeader {
        background-color: var(--bgcolor1) !important;
    }
    .UserDetailsHeader-nickname {
        color: var(--textcolor1) !important;
    }
    .MainMenuContainer-menu, .NC-Tabs {
        background-color: var(--bgcolor2) !important;
    }
    .NC-Tab {
        color: var(--textcolor1) !important;
    }
    .Dropdown-button,.UserDetailsHeader-account,.UserDetailsStatusItem-linkLabel {
        color: var(--textcolor2) !important;
    }
    .Dropdown-button:hover {
        background-color: var(--hover1) !important;
    }
    .NiconicoPoint {
        background-color: var(--bgcolor2) !important;
        color: var(--textcolor2) !important;
    }
    .NicorepoItem-item,.NC-MylistMediaObject,.ChannelItem-content,.CommunityItem-content {
        background-color: var(--bgcolor2) !important;
        border: 1px solid var(--accent1) !important;
    }
    .NicorepoItem-senderName,.ChannelItem-name,.CommunityItem-name {
        color: var(--textcolor2) !important;
    }
    .NicorepoItem-senderName:visited {
        color: var(--textcolor3) !important;
    }
    .NicorepoItem-activityDescription {
        color: var(--textcolor3) !important;
    }
    .NicorepoItem-activityCreatedAt {
        color: var(--textcolor2)  !important;
    }
    .NicorepoItem-activityCreatedAt_new {
        color: var(--textcolornew) !important;
    }
    .UserDetailsHeader-icon .UserIcon {
        background-color: var(--bgcolor3) !important;
    }
    .OtherMypageLinks,.NC-ThreePointMenu-menu {
        background-color: var(--bgcolor2) !important;
    }
    .OtherMypageLinks-link,.NC-ThreePointMenu-menu > * {
        color: var(--textcolor1) !important;
    }
    .NC-ThreePointMenu-menu > :hover, .OtherMypageLinks-link:hover {
        background-color: var(--hover1) !important;
    }
    .NicorepoItem-content:visited .NicorepoItem-contentDetailTitle {
        color: var(--linktext2) !important;
    }
    .UserDescription .ExpandBox_is-collapsed, .UserDescription .ExpandBox_is-collapsed a{
        color: var(--textcolor2) !important;
    }
    .ExpandBoxButton {
        color: var(--textcolor2) !important;
    }
    .ExpandBoxButton-icon {
        fill: var(--textcolor2) !important;
    }
    .UserDescription .ExpandBox_is-expanded a {
        color: var(--linktext1) !important;
    }
    .RecommendUserContainer-title {
        color: var(--textcolor2);
    }
    /* フォロー新着 */
    .TimelineActorFilterButton-button, .TimelineItem-activityMessage, .TimelineItem-contentTitle, .TimelineSideContainer-linkButton, .BlankState-body, .Timeline-pastNotExists {
        color: var(--textcolor2);
    }
    .TimelineActorFilterButton-button:hover, .TimelineSideContainer-linkButton:hover {
        color: var(--linktext1);
        background: var(--bgcolor2)
    }
    .TimelineItem-content {
        background: var(--bgcolor2);
        border: 1px solid var(--accent1)
    }
    .NC-ThreePointMenu_dark .NC-ThreePointMenu-button {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExLjcgMTYuNGMxIDAgMS44LjggMS44IDEuOHMtLjggMS44LTEuOCAxLjgtMS43LS44LTEuNy0xLjguOC0xLjggMS43LTEuOFptMC02LjJjMSAwIDEuOC44IDEuOCAxLjhzLS44IDEuOC0xLjggMS44UzEwIDEzIDEwIDEycy44LTEuOCAxLjctMS44Wm0wLTYuMmMxIDAgMS44LjggMS44IDEuOHMtLjggMS44LTEuOCAxLjhTMTAgNi44IDEwIDUuOCAxMC44IDQgMTEuNyA0WiIgZmlsbD0iI2E3YTdhNyIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+")
    }
    .TimelineActorFilterButton-button_selected {
        background: var(--bgcolor3);
    }
    .Timeline-divider {
        border-bottom: 2px solid var(--accent1)
        color: var(--textcolor1)
    }
    .TimelineItem-activityCreatedAt {
        color: var(--textcolor2)
    }
    .TimelineItem-activityCreatedAt_new {
        color: var(--textcolornew)
    }
    /* フォロー */
    .UserItem-content {
        background-color: var(--bgcolor2) !important;
        border: 1px solid var(--accent1) !important;
    }
    .UserItem-nickname {
        color: var(--textcolor2) !important;
    }
    .UserItem-description {
        color: var(--textcolor3) !important;
    }
    .c-body, .p-embed-supporter-supporting-creators {
        background-color: #252525 !important;
    }
    .LiveLink {
        color: var(--textcolor1) !important;
    }
    .FolloweeContainer-followeeCountUnit {
        color: var(--textcolor2)
    }

    /* マイリス/後で見る */
    .NC-MediaObject .NC-MediaObjectTitle {
        color: var(--textcolor2) !important;
    }
    .NC-MylistMediaObject-thumbnails {
        background-color: var(--bgcolor3) !important;
        border: 1px solid var(--accent1) !important;
    }
    .WatchLaterHeader-metaValue,.MylistHeader-metaItemValue {
        color: var(--textcolor2) !important;
    }
    .WatchLaterHeader-meta {
        color: var(--textcolor3) !important;
    }
    .WatchLaterHeader-name {
        color: var(--textcolor1) !important;
    }
    .WatchLaterHeader-advice {
        color: var(--textcolor2) !important;
    }
    /* マイリス */
    .ModalActionButton {
        background-color: var(--bgcolor2) !important;
        color: var(--textcolor2) !important;
    }
    .ContinuousPlayButton,.VideoListEditMenuButton,.PaginationItem,.Checkbox-check::before {
        background-color: var(--bgcolor2) !important;
        color: var(--textcolor2) !important;
        border: 2px solid var(--accent2) !important;
    }
    .ContinuousPlayButton-icon {
        fill: var(--textcolor2) !important;
    }
    // セレクター
    .Selectbox-button {
        background-color: var(--bgcolor2) !important;
        border: 2px solid var(--accent2) !important;
    }
    .Selectbox-label {
        color: var(--textcolor2) !important;
    }
    .Selectbox {
        background-color: var(--bgcolor2) !important;
        .SortSelectbox-item:hover {
            background: var(--hover1) !important;
        }
    }

    .VideoListEditMenu-delete.VideoListEditMenuButton:hover, .VideoWatchHistoryContainer-headerAllDeleteButton:hover {
        border: 2px solid #d0021b !important;
        color: #fff !important;
        background: #512828 !important;
    }
    .NC-MylistMediaObject-itemCount {
        color: var(--textcolor2) !important;
    }
    .NC-MylistMediaObject-thumbnail:nth-of-type(3)::before {
        background: linear-gradient(90deg,hsla(0,0%,98%,0),var(--bgcolor1)) !important;
    }
    .VideoMediaObjectList > * + * {
        border-top: 2px solid var(--accent1) !important;
    }
    // マイリストの移動先セレクター
    .MylistSelectbox-item {
        color: var(--textcolor1);
        &:hover {
            background: var(--hover1);
        }
    }
    // マイリスト新規作成 モーダル
    .ModalContent {
        background: var(--bgcolor2);
    }

    .ModalContent_with-footer .ModalContent-body {
        background: var(--bgcolor2);
    }

    .TextField-label {
        color: var(--textcolor1);
    }

    .TextField-inputForm {
        color: var(--textcolor1);
    }

    .EditMylistModal-settingsItemLabel {
        color: var(--textcolor1);
    }

    .MylistCreateModalContainer-watchHistoriesTitle {
        color: var(--textcolor1);
    }

    .MylistCreateModalContainer-watchHistoryItem+.MylistCreateModalContainer-watchHistoryItem:before {
        background: var(--accent1);
    }

    .ModalContent-footer {
        background: var(--bgcolor1);
    }
    /* 履歴 */
    .NC-MediaObject .NC-MediaObjectTitle {
        color: var(--textcolor2) !important;
    }
    .VideoWatchHistoryContainer-headerAllDeleteButton {
        background-color: var(--bgcolor2) !important;
        border: 2px solid var(--accent2) !important;
        color: var(--textcolor1) !important;
    }
    .NC-FollowButton[data-is-following="true"] {
        background-color: var(--accent2) !important;
        color: var(--textcolor1) !important;
    }
    .NC-VideoMediaObjectOwnerInfo-link {
        color: var(--textcolor2) !important;
    }
    .VideoWatchHistoryContainer-headerAnnounce {
        color: var(--textcolor2) !important;
    }
    .VideoWatchHistoryContainer-headerTotalCount {
        color: var(--textcolor3) !important;
    }
    .VideoWatchHistoryContainer-headerTotalCountValue {
        color: var(--textcolor2) !important;
    }
    .NC-VideoMediaObject-description, .VideoWatchHistoryItemAfter-meta {
        color: var(--textcolor2) !important;
    }
    /* サイドバー */
    .SubMenuLink-label {
        color:var(--textcolor2) !important;
    }
    .ExpandBoxButton-overlay {
        background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,var(--bgcolor1)) !important;
    }
    .SubMenuLink-link_active {
        background-color: var(--accent2) !important;
    }
    .SubMenuLink-link_active:hover {
        background-color: var(--hover2) !important;
    }
    .SubMenuLink-link:hover .SubMenuLink-label, .SubMenuLink-link_active .SubMenuLink-label {
        color: var(--linktext2) !important;
    }
    .SubMenuLink-link_internal:hover {
        background-color: var(--hover1) !important;
    }
    .MylistSideContainer-mylistList > *, .VideoSideContainer-seriesList > * {
        background: var(--bgcolor2) !important;
    }
    .MylistHeader-name {
        color: var(--textcolor1) !important;
    }
    .VideoContainer-headerTotalCountValue,.FolloweeContainer-header {
        color: var(--textcolor2) !important
    }
    .SubMenuHeader-title, .MylistPageSubMenuHeader-counter, .MylistPageSubMenuHeader-counterValue {
        color: var(--textcolor2) !important;
    }
    .MylistSideContainer_hasMylistItem .MylistSideContainer-categoryList > :last-child {
        border-bottom: 1px solid var(--accent2) !important;
    }
    /* ニコる */
    .NicoruHistoryPassiveItem, .NicoruHistoryActiveItem {
        background: var(--bgcolor2) !important;
    }
    .NicoruHistoryPassiveItem-video, .NicoruHistoryActiveItem-video {
        background: var(--accent1) !important;
    }
    .NicoruHistoryPassiveItem-videoTitleArea > a:visited, .NicoruHistoryActiveItem-videoTitleArea > a:visited {
        color: var(--textcolor3) !important;
    }
    .NicoruHistoryPassiveItem-videoTitleArea > a, .NicoruHistoryActiveItem-videoTitleArea > a, .NicoruHistoryPassiveItem-date  {
        color: var(--textcolor2) !important;
    }
    .NicoruHistoryPassiveItem-videoOwner {
        background: #998221 !important;
    }
    .NicoruHistoryPassiveItem-videoCommentVposArea a {
        color: var(--linktext1) !important;
    }
    /* あなたへのおすすめ */
    .PersonalFrame {
        background-color: var(--bgcolor2) !important;
    }
    .PersonalFrame-body {
        border: 2px solid var(--accent1) !important;
    }
    .PersonalFrame-header {
        background-color: #07576c !important;
    }
    .PersonalFrame-text {
        color: var(--textcolor1) !important;
    }
    /* その他 */
    .nico-CommonHeaderRoot .common-header-eyo3v5 {
        background-color: var(--bgcolor3) !important;
    }
    .nico-CommonHeaderRoot .common-header-10t70iy {
        background-color: var(--bgcolor3) !important;
        color: var(--textcolor1) !important;
    }
    .BlankState-title {
        color: var(--textcolor1) !important;
    }

    /* シリーズ */
    .SeriesAdditionalContainer, .SeriesMenuContainer-seriesList {
        background: var(--bgcolor2) !important;
    }
    .ExpandableDescription .ExpandBox_is-expanded, .BlankState-title {
        color: var(--textcolor1) !important;
    }
    .NC-SeriesMediaObject .NC-MediaObject-contents {
        background-color: var(--bgcolor2) !important;
    }

    /* タグ */
    .TagItem-link {
        background-color: var(--bgcolor2);
        color: var(--textcolor2);
        border: 1px solid var(--accent2);
    }

    .RecommendVideoListContainer-more {
        background-color: var(--bgcolor2);
        color: var(--textcolor2);
        border: 1px solid var(--accent2);
    }
    .RecommendVideoListContainer-more:hover {
        background-color: var(--hover2);
    }
    /* いいね！ */
    .LikeItemAfter-thanksMessage {
        background: var(--accent1) !important;
        border: 1px solid var(--accent2) !important;
    }
    .LikeItemAfter-thanksMessage::after, .LikeItemAfter-thanksMessage::before {
        border-bottom: 8px solid var(--accent2) !important;
    }
    .LikeItemAfter-thanksMessage::after {
        border-bottom-color: var(--accent1) !important;
    }
    .LikeItemAfter-thanksMessage > h1 {
        color: var(--textcolor3) !important;
    }

    /* iframe */
    .c-body {
        background-color: var(--bgcolor1)
    }
    .p-embed-supporter-supporting-creators {
        color: var(--textcolor2)
    }
    /* バッジ */
    .t-badge-wrapper--list {
        background: var(--bgcolor2);
    }
    .m-badge-card {
        background: var(--accent1);
        border: 1px solid var(--accent1);
        color: var(--textcolor1);
    }
    .m-badge-card .m-badge-card__title::after {
        background: var(--accent2);
    }
    .m-badge-card .m-badge-card__title p {
        color: var(--textcolor1);
    }
    /* タイムシフト */
    .___timeshift-reservations-page___ZJdqt {
        background: var(--bgcolor1);
        color: var(--textcolor1);
    }
    .___program-title___fdLyH {
        color: var(--textcolor2)
    }
    .___counter___Xdjcm > .score {
        color: var(--textcolor2)
    }
    .___program-card___ciI29 > .content-area > .program-summary > .program-title {
        color: var(--textcolor1) !important;
    }
    .___program-card___ciI29 > .content-area > .program-summary > .program-description {
        color: var(--textcolor2) !important;
    }
    .___toggle-button___xC4rm, .___toggle-button___EVlU5 {
        background-color: var(--bgcolor2) !important;
        border: 2px solid var(--accent2) !important;
        color: var(--textcolor2)
    }
    .___toggle-button___EVlU5 > span {
        color: var(--textcolor2)
    }
    .___toggle-button___EVlU5:hover > span {
        color: var(--linktext2)
    }
    .___toggle-button___EVlU5 > svg path {
        fill: var(--textcolor2)
    }
    .___toggle-button___EVlU5:hover > svg path {
        fill: var(--textcolor2)
    }
    .___toggle-button___xC4rm:hover {
        border: 2px solid var(--hover2) !important;
    }
    .___toggle-button___EVlU5 {
        border: 2px solid var(--linktext2)
    }
    .___description___l0xL4 {
        color: var(--textcolor2)
    }
    .___local-anchor___Hapoe {
        color: var(--textcolor1)
    }
    .___program-card___ciI29>.content-area>.program-summary>.program-title>a:visited {
        color: var(--linktext2);
    }
    .___item___BjP9K:not(:first-child){
        border-top: 2px solid var(--accent1);
    }
    .___program-card___ciI29 > .content-area > .expiration-area > .expiration-date[data-timeshift-available="true"] {
        color: var(--dangerous1)
    }
    /* why-this-class-name-is-so-long */
    .c-pages-embed-supporter-supporting-creators-page-content {
        color: var(--textcolor1);
    }
    /* why-this-class-name-is-very-very-long */
    .c-pages-embed-supporter-supporting-creators-empty-state__whats-support-link-text {
        color: var(--textcolor2);
    }
    /* why-this-class-name-is-sooooooo-loooooooooong */
    .c-pages-embed-supporter-supporting-creators-empty-state__whats-support-link-right-icon > svg, .c-pages-embed-supporter-supporting-creators-empty-state__whats-support-link-left-icon > svg {
        fill: var(--textcolor2);
    }

    .ExpandableDescription .ExpandBox_is-expanded,
    .BlankState-title {
        color: var(--textcolor1)
    }

    .NC-SeriesMediaObject .NC-MediaObject-contents {
        background-color: var(--bgcolor2)
    }
    /* サポーターになる ボタン */
    .NC-CreatorSupportAccepting-content {
        background: var(--bgcolor2);
        color: var(--textcolor1);
        border: 1px solid var(--accent1) !important;
    }
    .NC-CreatorSupportAccepting_outlined:hover .NC-CreatorSupportAccepting-content {
        background-color: var(--hover1);
        border: 1px solid var(--hover2);
        color: #fff;
    }
    .NC-CreatorSupportAccepting_outlined.NC-CreatorSupportAccepting_bottom .NC-CreatorSupportAccepting-arrow {
        border-left: 1px solid var(--bgcolor2);
        border-top: 1px solid var(--bgcolor2);
    }
    .NC-CreatorSupportAccepting_outlined:hover.NC-CreatorSupportAccepting_bottom .NC-CreatorSupportAccepting-arrow {
        border-left: 1px solid var(--hover2);
        border-top: 1px solid var(--hover2);
    }
    .NC-CreatorSupportAccepting-arrow {
        background: var(--bgcolor2);
    }
    .NC-CreatorSupportAccepting_outlined:hover .NC-CreatorSupportAccepting-arrow {
        background-color: var(--hover2);
    }
    /* エラー */
    .ErrorState-title {
        color: var(--textcolor2)
    }
    .ErrorState-body {
        color: var(--textcolor3)
    }
}