html.PM-HideMarquee {
    .Marquee-itemArea {
        background-image:url("") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 180px 25px;
        background-clip: content-box;
    }
    .Marquee-topicArea, .DefaultAnimator-category,.DefaultAnimator-excludeButton, .Marquee-buttonArea {
        display:none
    }
}