// メタデータを隠す
html.PM-HideMetaData {
    .VideoOwnerInfo-gridCell,.VideoViewCountMeta,.CommentCountMeta,.MylistCountMeta,.GenreRankMeta {
        display:none
    }
    .NC-VideoCard-metaCount,.NC-NicoadFrame_gold::after,.NC-NicoadFrame::after,.NC-VideoCard-metaCount,.itemData,.NC-VideoMediaObject-metaCount {
        display:none !important
    }
    .NC-VideoCard_onHoverMeta .NC-Card-main:hover .NC-VideoCard-secondary {
        min-height:20px
    }
    .NC-MutedVideoCard,.NC-SensitiveVideoCard,.VideoItem.NC-Card,.RankingMatrixVideosRow {
        height:200px
    }
}