@import 'palette/pmcolor.styl'
@import 'palette/spcolor.styl'
@import 'palette/nordcolor.styl'
@import 'palette/nordlight.styl'
@import 'palette/black.styl'
@import 'palette/cybernight.styl'
@import 'palette/light.styl'

.PMDM-Assist body, .PMDM-Assist body > div:not(.pmbutton-container), .PMDM-Assist {
    background: var(--bgcolor1, #fafafa)
}

@import 'pages/all/*.styl'
@import 'pages/watch.styl'
@import 'pages/ranking.styl'
@import 'pages/searchpage.styl'