html.PMDMP-light {
  /* 基本背景色 */
  --bgcolor1: #f8f8fa;
  /* サブ背景色1 */
  --bgcolor2: #fff;
  /* サブ背景色2 */
  --bgcolor3: #e7e7e7;
  --bgcolor4: #c7c7c7;
  --bgcolorab: rgba(#fafafa, 0.25);
  --bgcoloraw: rgba(#0a0a0a, 0.25);
  --textcolor1: #111;
  --textcolor2: #333;
  --textcolor3: #555;
  --textcolornew: #e05050;
  --accent1: #ddd;
  --accent2: #bababa;
  --hover1: #f0f0f0;
  --hover2: #d0d0d0;
  --linktext1: #008cff;
  --linktext2: #4ac3ff;
  --linktext3: #5e9fc0;
  --nicoru1: rgba(201,168,62,0.1);
  --nicoru2: rgba(201,168,62,0.2);
  --nicoru3: rgba(201,168,62,0.35);
  --nicoru4: rgba(201,168,62,0.5);
  --dangerous1: rgb(245, 71, 71)
}
