@import 'nord.styl'
html.PMDMP-nordcolor {
    /* 基本背景色 */
    --bgcolor1: nord0;
    /* サブ背景色1 */
    --bgcolor2: nord1;
    /* サブ背景色2 */
    --bgcolor3: nord2;
    --bgcolor4: nord3;
    --bgcolorab: rgba(nord0, 0.25);
    --bgcoloraw: rgba(nord6, 0.25);
    --textcolor1: nord6;
    --textcolor2: nord5;
    --textcolor3: nord7;
    --textcolornew: nord12;
    --accent1: nord2;
    --accent2: nord3;
    --hover1: nord3;
    --hover2: nord4;
    --linktext1: nord8;
    --linktext2: nord8;
    --linktext3: nord8;
    --nicoru1: #ebcb8b1A;
    --nicoru2: #ebcb8b25;
    --nicoru3: #ebcb8b3d;
    --nicoru4: #ebcb8b4f;
    --dangerous1: nord11;
    --like-color: nord11;
    --like-bg: darken(nord11, 60%);
}