@import 'nord.styl'
html.PMDMP-nordlight {
    /* 基本背景色 */
    --bgcolor1: nord4;
    /* サブ背景色1 */
    --bgcolor2: nord5;
    /* サブ背景色2 */
    --bgcolor3: nord6;
    --bgcolor4: darken(nord4, 10%);
    --bgcolorab: rgba(nord0, 0.25);
    --bgcoloraw: rgba(nord6, 0.25);
    --textcolor1: nord0;
    --textcolor2: nord1;
    --textcolor3: nord9;
    --textcolornew: nord11;
    --accent1: nord5;
    --accent2: nord4;
    --hover1: nord4;
    --hover2: nord5;
    --linktext1: nord10;
    --linktext2: nord10;
    --linktext3: nord10;
    --nicoru1: #ebcb8b1A;
    --nicoru2: #ebcb8b25;
    --nicoru3: #ebcb8b3d;
    --nicoru4: #ebcb8b4f;
    --dangerous1: nord12;
    --likecolor: nord11;
    --likebg: ligten(nord11, 30%);
}