/* ニコニコ動画 - 動画トップ(ダークテーマ) */
.RecommendVideoContainer-footer {
    color: var(--textcolor3);
}
.ColumnTitle-linkText {
    color: var(--textcolor2);
}
.TagWithVideoItem-articleLink {
    background: linear-gradient(90deg,hsla(0,0%,96%,0),var(--bgcolor1) 20px);
}
.VideoIntroductionPlayerContainer-historyButton {
    background-color: var(--accent1);
    border: 2px solid var(--accent2);
    color: #dadada;
}
.VideoIntroductionPlayerContainer-historyButton:hover, .VideoIntroductionPlayerContainer-historyButton_isActive {
    background-color: var(--bgcolor3);
}
.GenreTopPageHeader {
    background: var(--bgcolor2);
    border-top: 4px solid var(--accent1);
}
.GenreTopPageHeader-prefix {
    color: var(--textcolor2);
}
.GenreTopPageHeader > h1 {
    color: var(--textcolor1);
}
.RepresentedTag {
    background: var(--accent1);
    border: 1px solid var(--accent2);
}
.RepresentedTag_active {
    background: #007cff;
    border-color: transparent;
    color: #fff;
}
.TrendyTagsContainer-expands {
    background-image: linear-gradient(180deg, rgba(250,250,250,0.0), var(--bgcolor1) 18px);
}
.TrendyTagsWithVideosContainer-more {
    background: linear-gradient(90deg,hsla(0,0%,96%,0),var(--bgcolor1) 20px);
}
.RankingVideosContainer .NC-VideoCardWrapper::after {
    border-bottom: 2px solid var(--accent2);
}
.FollowingVideosContainer-ownerName {
    color: var(--textcolor1);
}