html.PMDM-NAnime {
    color: var(--textcolor1) !important;
    ._2sF9J::before {
        background: var(--textcolor1);
    }
    // panel
    .omGiJ, ._3pFjP, .OiWHw, .RtEd_::after, .RtEd_::before, .RtEd_, ._82CXB {
        background: var(--bgcolor2);
    }
    .omGiJ {
        border: 1px solid var(--accent1)
    }
    .btwUg {
        color: var(--textcolor2)
    }
    // head-panel
    ._1_4Pk {
        background: var(--bgcolor2);
    }
    ._3kuj4::after {
        border-bottom: 2px dotted var(--accent2);
    }
    .pdPtu {
        background: var(--accent2);
    }
    // head-panel-header
    ._3E_Hu {
        background: var(--bgcolor2);
    }
    ._3WGx3[disabled="disabled"] {
        color: var(--textcolor3)
    }
    // icons
    ._1uBu0 > svg > path{
        fill: var(--textcolor1);
    }
    ._1uBu0 > svg > mask > path{
        fill: var(--textcolor1);
    }
    // nav
    ._2Dkya {
        background: var(--bgcolor2)
    }
    // nav sep
    ._28S5B + ._28S5B::before {
        background: var(--textcolor1)
    }
    // nav icons
    ._1GDUp path:last-child {
        fill: var(--textcolor1);
    }
    // nav hover expand
    .W94Bf {
        background: var(--bgcolor2)
    }
    // nav hover panel
    ._3NeeE, ._25-Pp {
        background: var(--accent1)
    }
    // nav hover button
    ._1y_qx {
        background: var(--accent1)
    }
    // nav hover arrow
    .W94Bf:hover, ._2-_Wn:hover + .W94Bf, ._3O14R:hover .W94Bf {
        box-shadow: -1px 7px 10px rgba(0,0,0,.2),inset 0 1px 0 0 var(--accent2);
    }
    ._2-_Wn::before {
        background: var(--bgcolor2);
        border-color: var(--accent2) var(--bgcolor2) var(--bgcolor2) var(--accent2);
    }
    // logo
    ._25J1W svg {
        fill: var(--textcolor1);
    }
    ._25J1W path:last-child {
        fill: var(--bgcolor1)
    }
    // arrow
    ._1y_qx[data-type="next"]::after, ._1y_qx[data-type="prev"]::after {
        border-color: transparent var(--textcolor2) transparent transparent;
    }
    // tab
    .U4ZM3 {
        color: var(--textcolor2)
    }
    .U4ZM3[data-current="true"] {
        color: var(--textcolor1);
    }
    ._38AZO:first-child::before, ._38AZO:last-child::after {
        background-color: var(--accent2);
    }
    ._38AZO {
        color: var(--accent2);
    }
    ._3IquG {
        border-bottom: 1px solid var(--accent2);
    }
    .U4ZM3[data-current="true"]::before {
        background: var(--accent2)
    }
    // page header
    ._3KRGZ {
        border-bottom: 1px solid var(--accent2)
    }
    // page filter
    .jkaQc {
        background: var(--bgcolor2)
    }
    ._1bYq_[data-current="true"] {
        background: var(--accent1);
    }
    ._1bYq_:hover {
        background: var(--accent1);
    }
    // page content
    ._1UbMa::before {
        background-color: var(--accent1)
    }
    ._2RazI {
        background: var(--bgcolor2)
        border: 1px solid var(--accent2)
    }
    ._1oRNp {
        border-bottom: 1px solid var(--accent2)
    }
    .rZkhm {
        border-left: 1px solid var(--accent2);
    }
    ._1_R1h {
        background: var(--accent2)
    }
    ._3Hjd1::after {
        background-color: var(--accent2);
    }
    ._3Hjd1:before {
        border: 1px solid var(--bgcolor2);
    }
    ._3Hjd1 {
        background-color: var(--accent2);
        border: 1px solid var(--bgcolor2);
    }
    .otCDE {
        border-bottom: 1px solid var(--accent1);
    }
    .lGCjr {
        color: var(--textcolor2)
    }
    .bklyS::after {
        border: 1px dashed var(--textcolor2);
    }
    .CMT-W {
        color: var(--textcolor2)
    }
    ._2euwN {
        background: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
    .FTLg_ {
        border-bottom: 1px solid var(--accent2);
    }
    .FTLg_:first-child, .FTLg_:nth-child(2) {
        border-top: 1px solid var(--accent1);
    }
    // side
    .WkOl_ {
        background: var(--bgcolor2);
        box-shadow: inset 0 0 0 1px var(--accent1);
    }
    ._1pGc0 {
        color: var(--textcolor2);
    }
    ._2CKZU {
        border-bottom: 1px solid var(--accent1)
    }
    ._2CKZU:first-child {
        border-top: 1px solid var(--accent1)
    }
    ._1JL4r {
        border: 1px solid var(--textcolor2)
    }
    ._1JL4r svg path {
        fill: var(--textcolor2)
    }
    ._104vY {
        border-top: 1px solid var(--accent1)
        border-bottom: 1px solid var(--accent1)
    }
    // footer
    ._1jLP_, ._3X9UW {
        background: var(--bgcolor2)
    }
    ._96NMn::after, ._1YXvh::after {
        background: var(--accent1)
    }
    ._1YXvh::before, ._96NMn::before {
        border: 1px dashed var(--accent1);
    }
    ._1wWDx {
        background: var(--bgcolor3);
    }
    ._3qUKG {
        background: var(--bgcolor3);
    }
    ._3EAI6 a, ._1QbKo, .KGQaR, ._3h1M6 {
        color: var(--textcolor1)
    }
    ._26vTd {
        border-left: 1px dashed var(--textcolor1);
    }
    // footer logo
    ._3vL1c svg path, ._3vL1c svg rect {
        fill: var(--textcolor1)
    }
    ._3vL1c svg path:last-child {
        fill: var(--bgcolor3)
    }
    // footer sep
    ._23vjy::before {
        background: var(--textcolor1)
    }
    // premier video
    body.premier {
        background-color: var(--bgcolor1)
    }
    .special-unique-content .main_column #news #news_list, .special-unique-content .main_column .card_list ul li, .special-unique-content .main_column #tw_area {
        background: var(--bgcolor2)
    }
    .special-unique-content a:hover {
        opacity: 1.0;
    }
    .special-unique-content .main_column .card_list ul li:hover {
        background: var(--hover1)
    }
    .special-unique-content .main_column #livepast_card_area .card_list ul li a p {
        color: var(--textcolor1)
    }
    .special-unique-content .main_column .card_list ul li .card_info .tag_list .label.green + span, .special-unique-content .main_column .card_list + .btn a {
        color: var(--textcolor2)
    }
    .special-unique-content .main_column #livepast_card_area {
        background-image: linear-gradient(to right, var(--textcolor2), var(--textcolor2) 2px, transparent 2px, transparent 8px);
    }
    // anime list
    .ynMe4 {
        background: var(--bgcolor2)
    }
    // search
    ._3o8XH {
        color: var(--textcolor2);
        background-color: var(--bgcolor2);
    }
    ._3u3UQ:not(:first-child) {
        border-top: 1px solid var(--accent1);
    }
    // anime info
    .vaIMK::after, .EXmuO::after {
        background: var(--bgcolor1)
    }
    .EXmuO::before, ._1c3EO::after  {
        border: 1px dashed var(--textcolor2);
    }
    .CMCnI {
        background-color: var(--accent1);
    }
    ._1xCR4 {
        border: 1px solid var(--accent1);
    }
    ._2q4Gz {
        color: var(--textcolor2)
    }
    .UcsAu::after {
        background-color: var(--textcolor2);
    }
    .UcsAu {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
        color: var(--textcolor1)
    }
    .UcsAu:hover {
        background-color: var(--hover1);
        opacity: 1
    }
    // ranking
    ._1vcpO, ._1Zqnd {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
    ._3iucS::after {
        border-top: 1px dashed var(--accent1);
    }
    ._374F5 {
        color: var(--textcolor2);
    }
    .TxCGQ span {
        background-color: var(--bgcolor2);
    }
    .TxCGQ::before {
        border-bottom: 1px dashed var(--accent1);
    }
    ._6SfTD {
        background-color: var(--bgcolor2);
    }
    // recommend
    ._1mZom {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
    ._1Mkap {
        border-bottom: 1px dashed var(--accent1);
    }
    // voiceactor
    ._2jxRk {
        color: var(--textcolor1);
    }
    ._2wVPQ {
        color: var(--textcolor1);
        background-color: var(--bgcolor2);
        border-right: 1px solid var(--accent1);
        border-bottom: 1px solid var(--accent1);
    }
    .L8An5 {
        color: var(--textcolor1);
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
    ._1vLfX {
        border-top: 1px solid var(--accent1);
        border-left: 1px solid var(--accent1);
    }
    ._3QiuC {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
    .x5fF8 {
        color: var(--textcolor2)
    }
}

html.PMDM-NicoInfo body {
    color: var(--textcolor1);
    background: var(--bgcolor1);
}

html.PMDM-NicoInfo {
    .l-main.l-main-list2-item a {
        color: var(--textcolor1);
    }
    .breadcrumb.breadcrumb-list {
        color: var(--textcolor2)
    }
    .breadcrumb.breadcrumb-list-item a {
        color: var(--textcolor2)
    }
    .breadcrumb.breadcrumb-list::after, .breadcrumb.breadcrumb-list-item:last-of-type::after {
        background: var(--bgcolor1)
    }
    .article.article-content h3 span {
        background: linear-gradient(0deg, var(--accent1), var(--accent1) 50%, transparent 50%, transparent 100%);
    }
    .article.article-content h3 {
        color: var(--textcolor1)
    }
    .article.article-date {
        color: var(--textcolor2)
    }
    .l-aside.l-aside-item-inner {
        background: var(--bgcolor2);
    }
    .l-aside.l-aside-heading, .l-aside.l-aside-list2-item a {
        color: var(--textcolor1)
    }
    .link.link-arrow a {
        color: var(--textcolor2)
    }
    .link.link-arrow a::after {
        border-bottom: 2px solid var(--textcolor2);
        border-right: 2px solid var(--textcolor2);
    }
    .link.link-arrow a:hover {
        color: var(--linktext2)
    }
    .link.link-arrow a:hover::after {
        border-bottom: 2px solid var(--linktext2);
        border-right: 2px solid var(--linktext2);
    }
    .l-globalmenu.l-globalmenu-inner {
        background: var(--bgcolor2)
    }
    .l-globalmenu.l-globalmenu-subheading span {
        color: var(--textcolor2)
    }
    .l-globalmenu.l-globalmenu-list-item a {
        color: var(--textcolor1)
    }
    .l-globalmenu.l-globalmenu-list-item:not(:last-of-type)::after,
    .l-globalmenu.l-globalmenu-heading span::after,
    .l-globalmenu.l-globalmenu-button::after,
    .l-globalmenu.l-globalmenu-button::before,
    .l-header.l-header-button::after, .l-header.l-header-button::before,
    .l-header.l-header-button-text {
        background: var(--textcolor2)
    }
    .l-header.l-header-logo a {
        background: linear-gradient(90deg, rgba(0,0,0,0) ,#fff 5%,#fff 95%, rgba(0,0,0,0) 100%);
    }
    .l-header.l-header-area {
        border-bottom: 2px solid var(--bgcolor2);
    }
}