.ControllerBoxContainer,.ControllerBoxContainer.is-fullscreen.is-fixedFullscreenController {
    background-image: linear-gradient(#efefef 0%, #fefefe 33%);
}
.MarqueeContainer {
    background-image: linear-gradient(#f1f1f1, #efefef);
}
.MarqueeContainer,.DefaultAnimator-text,.DefaultAnimator-category,.DefaultAnimator-excludeButton {
    color:#000
}
.MarqueeContainer .Marquee-buttonArea {
    background-color: #eee
}
.ControllerBoxCommentAreaContainer.is-fullscreen {
    background-color: #111
}
.DefaultAnimator-excludeButton,.DefaultAnimator-excludeButton::after {
    background:none;
}
.ControllerButton svg,.PlaybackRateButton svg {
    fill: #000;
}
.ControllerButton.PlayerRepeatOnButton svg path {
    fill:#000 !important
}
.ControllerButton {
    border-radius:5px;
    border:2px solid #000;
    width:28px;
    height:28px;
    padding:3px;
    top:4px;
    background-image: linear-gradient(#fff,#e9e9e9);
}
.ControllerContainer-centerArea .PlayerSeekBackwardButton, .ControllerContainer-centerArea .PlayerSeekForwardButton, .ControllerContainer-centerArea .PlayerSkipNextButton, .ControllerContainer-centerArea .SeekToHeadButton {
    padding: 3px;
    width: 28px;
}
.ControllerButton.PlayerRepeatOnButton,.ControllerButton.PlayerRepeatOffButton {
    padding: 4px 2px;
}
.PlayerPlayButton,.PlayerPauseButton {
    height:36px;
    width:36px;
    border-radius:100px;
    border:2px solid #000;
    padding:7px;
    top:0px;
}
.PlayerPlayTime {
    top:4px !important;
    background-image: linear-gradient(#131313,#2f2f2f);
    border-radius:5px;
    border: 2px solid #a3a3a3;
    height:28px;
    line-height:25px;
    font-size:12px;
}