html.PMDM-Enabled {
    .BaseLayout-main,.BaseLayout {
        background-color: var(--bgcolor1);
        color: var(--textcolor1);
    }
    body {
        background-color: var(--bgcolor1);
    }
    a,.FrameTitleLink-titleText,.FrameTitle {
        color: var(--theater-linktext, var(--textcolor1))
    }

    /* あなたへのおすすめの色変更 */
    .PersonalFrameContainer {
        background: var(--bgcolor1);
        border: 2px solid var(--accent1);
    }
    .PersonalFrameContainer-body,.NicoNewsContainer-photoNews { 
        background: var(--bgcolor2);
    }
    /* ピックアップ */
    .ContentsPickupCard {
        background: var(--bgcolor2)
    }
    .ContentsPickupCard-metaPickupComment,.ContentsDigestFrame-description,.ContentsDigestFrame-cardMetaTitle,.LiveWindowContainer-metaDescription {
        color: var(--textcolor3)
    }
    .PersonalFrameContainer-close > svg {
        fill: var(--accent2)
    }
    /* もっと見る */
    .SeeMoreLink-text {
        background-color: var(--bgcolor2);
        color: var(--textcolor2);
        border: 1px solid var(--accent2)
    }
    .SeeMoreLink-text > svg {
        fill: var(--textcolor2)
    }
    /* 検索 */
    .CrossSearch-form {
        background: var(--accent1);
        border: 1px solid var(--accent2)
    }
    .CrossSearch-input::placeholder {
        color: var(--textcolor2);
    }
    .CrossSearch-input {
        color: var(--textcolor1)
    }
    .CrossSearch-button {
        background:url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNCI+PHBhdGggZD0iTTYwLjMgNzQuNWE0MCA0MCAwIDEgMSAxNC4xLTE0LjFsMjMuMyAyMy4xYTggOCAwIDAgMSAwIDExLjNsLTIuOSAyLjlhOCA4IDAgMCAxLTExLjMgMEw2MC4zIDc0LjVaTTQwIDE0YTI2IDI2IDAgMSAxIDAgNTIgMjYgMjYgMCAwIDEgMC01MloiIGZpbGw9IiNkZGQiLz48L3N2Zz4=") no-repeat;
    }
    .CrossSearch-rowSelector {
        background-color: #bbb;
        border: 1px solid var(--accent2)
    }
    .suggestBox {
        border-top: 2px solid var(--accent1);
    }
    .suggestBoxInner {
        border: 1px solid var(--accent1);
        li {
            border-top: 1px dotted var(--accent1);
            color: var(--textcolor1);
        }
        li.active, li.active a {
            background: var(--hover1) !important;
        }
        li.active a {
            color: var(--textcolor1) !important;
        }
    }
    .suggestBox, .suggestBoxInner {
        background-color: var(--bgcolor2);
    }
    /* ボーダー削除 */
    .TopPage-middleBillboardAdSection {
        border: 0px;
    }
    .TopPage-stageArea {
        border-top: 0px solid var(--textcolor2);
    }
    /* フッター色変更 */
    .TopPage-footer {
        background: #2f2f2f;
    }

    /* ニコニ広告カード */
    .NicoAdContainer-card[data-nicoad-grade="silver"] {
        background-color: #3b3d3d;
    }
    .NicoAdContainer-card[data-nicoad-grade="gold"] {
        background-color: #3b3a38;
    }
    /* ライブ */
    .LiveWindowContainer {
        background-color: var(--bgcolor2);
        border: 1px solid #3f3f3f;
    }

    /* オーロラビジョン */
    .AuroraVisionCard {
        background-color: var(--bgcolor2);
    }
    .AuroraVisionCard-metaCatch {
        color: var(--textcolor1);
    }

    /* ニュース */
    .Tabs-tab {
        background-color: var(--accent1);
        color: var(--textcolor1);
    }
    .NicoNewsContainer-commentCount {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
    /* 下側 */
    .RealEventInformationAreaContainer > section > h1 {
        color: var(--textcolor2);
    }
    .RealEventInformationAreaContainer > * {
        border-top: 4px solid var(--accent1);
    }
}