html.PMDM-Enabled {
	#VideoMenuDrawer-app > div > div > div, .NC-VideoMenuDrawerPlaceHolder > .NC-VideoMenuDrawerPlaceHolder-wrapper {
		background: var(--bgcolor2) !important;
	}
	.css-16zug1i {
		color: var(--accent2) !important;
	}
	.css-10iwwxw {
		background: var(--bgcolor1) !important;
	}
	.css-qkib1w * {
		fill: var(--textcolor1) !important;
	}
	.css-d9fec {
		color: var(--textcolor1) !important;
	}
	.css-d9fec:hover, .css-owmlql:hover {
		color: var(--textcolor2) !important;
	}
	.css-d9fec:hover svg path, .css-owmlql:hover svg path {
		fill: var(--textcolor2) !important;
	}
	.css-1tjdbbb {
		color: var(--linktext1) !important
	}
	.css-1tjdbbb svg path, .css-1rgc6aq svg path {
		fill: var(--linktext1) !important;
	}
	.css-1tjdbbb:hover, .css-1rgc6aq:hover {
		color: var(--textcolor2) !important;
		background: var(--accent2) !important;
	}
	.css-1tjdbbb:hover svg path, .css-1rgc6aq:hover svg path  {
		fill: var(--textcolor2) !important;
	}
	.css-1rgc6aq {
		color: var(--linktext1) !important;
		background: var(--accent1) !important;
	}
}
html.PMDM-VidWatch {
	#VideoMenuDrawer-app > div > div > div:not(:has(.css-gzpr6t)) {
		background: transparent !important;
	}
	// :has() fallback
	.css-gzpr6t {
		background: var(--bgcolor2);
		padding: 0px 14px;
		margin: 0;
	}
}
