html.PMDM-Enabled {
    /* 動画ジャンルリスト */
    .VideoTopGenreListContainer,.RankingGenreListContainer {
        background-color: var(--bgcolor2);
    }
    .VideoTopGenreListContainer-item,.RankingGenreListContainer-item {
        background: var(--bgcolor2);
        border: 1px solid var(--accent2);
    }
    .VideoTopGenreListContainer-item.is-current, .RankingGenreListContainer-item.is-current {
        background: var(--textcolor2);
    }
    .VideoTopGenreListContainer-item.is-current > a, .RankingGenreListContainer-item.is-current > a {
        color: var(--bgcolor1) !important;
    }
    .VideoTopGenreListContainer-item > a,.RankingGenreListContainer-item > a {
        color: var(--textcolor2);
    }
    /* 検索ボックス */
    .SearchBox-form {
        background: var(--accent1) !important;
        box-shadow: inset 0 0 0 1px var(--accent2) !important;
    }
    .SearchBox-query {
        color: var(--textcolor1) !important;
    }
    .SearchBox-option {
        background-color: var(--bgcolor2) !important;
        color: var(--textcolor1) !important;
    }
    .SearchBox-option[data-active="true"] {
        background-color: var(--bgcolor4)!important;
        color: var(--textcolor2)
    }
    /* 動画カードなど */
    .NC-Card .NC-CardTitle,.NewsNotificationList-item,.LiveWindowContainer-metaTitle {
        color: var(--textcolor2) !important;
    }

    /* フッターフィードバック */
    .FooterContainer-feedback {
        background-color: var(--bgcolor2) !important;
        border: 1px solid var(--bgcolor2) !important;
    }
    .NC-VideoCard_onHoverMeta .NC-Card-main:hover .NC-VideoCard-secondary::before,.NC-VideoCard_onHoverMeta .NC-Card-main:hover .NC-VideoCard-secondary {
        background-color: var(--bgcolor2) !important;
    }
    /* メンテナンス */
    .UnderMaintenance-title {
        color: var(--textcolor2);
    }
    /* 広告背景 */
    .Ads, .Ads300x250WebPcSideFollow .Ads > *, .Ads728x90WebPcFooter {
        background: var(--bgcolor2);
    }
    .Ads300x250WebPcPrime .Ads > * {
        background: var(--bgcolor2);
        border: 1px solid var(--accent1);
    }
}