.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand, .VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse {
    fill: var(--textcolor1);
    color: var(--textcolor1);
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse::before {
    border-color: transparent transparent var(--textcolor1) !important;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand::before {
    border-color: var(--textcolor1) transparent transparent !important;
}
.VideoDescriptionContainer {
    background-color: var(--bgcolor1);
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand,.VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse {
    background-image: linear-gradient(#3b3b3b,var(--bgcolor1)) !important;
}
.HeaderContainer .VideoOwnerInfo-gridCell {
    background: transparent;
    outline: 2px solid var(--accent2);
}