:root {
    /* 基本背景色 */
    --bgcolor1: #252525;
    /* サブ背景色1 */
    --bgcolor2: #333;
    /* サブ背景色2 */
    --bgcolor3: #666;
    --bgcolor4: #aaa;
    --textcolor1: #fff;
    --textcolor2: #ddd;
    --textcolor3: #aaa;
    --textcolornew: #e05050;
    --accent1: #444;
    --accent2: #888;
    --hover1: #666;
    --hover2: #aaa;
    --linktext1: #8fb9df;
    --linktext2: #8ed9ff;
    --linktext3: #008acf;
}