/* 
    ニコニコ動画 - ランキング(ダークテーマ) 
    all.cssに統合
*/
.NC-MutedVideoCard, .NC-SensitiveVideoCard, .VideoItem.NC-Card, .RankingHeaderContainer-header_sticky,.NC-Card.NC-NicoadCard.NicoadItem {
    background-color: var(--bgcolor2)
}
.CustomButton {
    background-color: var(--bgcolor3)
}
.CustomButton:hover {
    background-color: var(--hove2);
}
.CustomButton > span {
    color: #f0f0f0
}
.RankingFilterTag,.BaseRankingContentContainer.TrendyTagContainer .TrendyTagContainer-link {
    background: var(--accent1);
    border: 1px solid var(--accent2)
}
.RankingFilterTag_active {
    background: #007cff;
    border-color: transparent;
    color: #fff;
}
.RankingVideoListContainer > * {
    border-bottom: 2px solid var(--accent1);
}
.BaseRankingContentContainer header {
    background-color: var(--accent1);
}
.BaseRankingContentContainer header h1 {
    color: var(--textcolor1)
}
.AnotherRankingLink-button {
    background-color: var(--accent1);
    border: 2px solid var(--bgcolor2);
    color: var(--textcolor2)
}
.RankingTermSelector-label {
    color: var(--textcolor2)
}
.RankingTermSelector .Dropdown-button {
    color: var(--textcolor2)
}