/* ニコニコ動画 - ランキング(ダークテーマ) */
.NC-MutedVideoCard, .NC-SensitiveVideoCard, .VideoItem.NC-Card, .RankingHeaderContainer-header_sticky,.NC-Card.NC-NicoadCard.NicoadItem {
    background-color: var(--bgcolor2)
}
.CustomButton {
    background-color: var(--bgcolor3)
}
.CustomButton:hover {
    background-color: var(--hove2);
}
.CustomButton > span {
    color: var(--textcolor2)
}
.RankingFilterTag,.BaseRankingContentContainer.TrendyTagContainer .TrendyTagContainer-link {
    background: var(--accent1);
    border: 1px solid var(--accent2)
}
.RankingFilterTag_active {
    background: #007cff;
    border-color: transparent;
    color: var(--textcolor1);
}
.RankingVideoListContainer > * {
    border-bottom: 2px solid var(--accent1);
}
.BaseRankingContentContainer header {
    background-color: var(--accent1);
}
.BaseRankingContentContainer header h1 {
    color: var(--textcolor1)
}
.AnotherRankingLink-button {
    background-color: var(--accent1);
    border: 2px solid var(--bgcolor2);
    color: var(--textcolor2)
}
.RankingTermSelector-label {
    color: var(--textcolor2)
}
.RankingTermSelector .Dropdown-button {
    color: var(--textcolor2)
}
.RankingSettingSummary-content,.RankingSettingSummary-content::before,.RankingSettingSummary-content::after {
    background: var(--bgcolor2);
}
.RankingSettingSummary .RankingSettingRecommendations {
    background: var(--accent1);
    border-top: 1px solid var(--accent2)
}
.RankingSettingItem-content {
    color: var(--textcolor1)
}
.RankingSettingSummary-main > h1, .RankingSettingItem h1 {
    color: var(--textcolor2)
}
.RankingSettingRecommendations > ul > li + li {
    border-top: 1px solid var(--textcolor3)
}