.ControllerContainer-inner {
    position:relative;
}
.ControllerContainer-area:last-child {
    position:absolute;
    right:0;
}
.ControllerContainer-area {
    flex: 0 1 auto;
}
.ControllerContainer-centerArea {
    flex: 0 1 auto;
}
.PlayerPlayTime {
    position:absolute;
    left:175px;
}
.VolumeBarContainer {
    position: absolute;
    right: 200px;
}
.MuteVideoButton,.UnMuteVideoButton {
    position: absolute !important;
    right: 295px;
}
.ActionButton.MylistButton.ControllerButton.ignore-out-of-click-event {
    display:none;
}
.SeekBarContainer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
}