:root {
	--primary: #0060df;
	--primary-hover: #0090ed;
	--destructive: #c50042;
	--destructive-hover: #e22850;
	--destructive-dark: #810220;
}
.MainContainer {
    display: flex;
    flex-direction: column;
    padding: 32px;
	background-color: #00000002;
	border-radius: 16px;
	width: 40vw;
	box-shadow: 0px 0px 6px #0002;
	min-width: 360px;
}
.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}
body {
	font-family: "Lato","Yu Gothic UI","Meiryo UI",sans-serif;
	background-color: Canvas;
	color: CanvasText;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	height: 90vh;
	padding: 0px;
}
body > * {
	color-scheme: light dark;
}
.settinglink:hover {
	color: #fff;
	background: var(--primary-hover);
}
.settinglink {
    font-weight: bold;
    padding: 6px 10px;
    font-size: 15px;
    text-decoration: none;
	color: #fff;
	background: var(--primary);
	box-shadow: 0px 0px 1px var(--primary-hover);
	border-radius: 5px;
	margin: 8px 0;
	display: block;
	text-align: center;
	width: fit-content;
	font-family: "SF Pro Text","Yu Gothic UI","Meiryo UI",sans-serif;
}
.repolink {
    font-weight: bold;
    padding: 6px 10px;
    font-size: 15px;
    text-decoration: none;
	color: #000;
	background: #ccc;
	box-shadow: #afafaf;
	border-radius: 5px;
	margin: 8px 0;
	display: block;
	text-align: center;
	width: fit-content;
	font-family: "SF Pro Text","Yu Gothic UI","Meiryo UI",sans-serif;
}
.repolink:hover {
	color: #000;
	background: #bbb;
}
.snslink > a {
	color: #666;
	margin-right: 16px;
}
@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: #1c1b22;
		color: #fff;
	}
	.MainContainer {
		background-color: #fff1;
		box-shadow: 0px 0px 6px #fff2;
	}
}