.CommentRenderer, .EnableFullScreenButton {
    display:none
}
.ControllerButton svg,.ControllerButton.PlayerRepeatOnButton svg path,.PlaybackRateButton svg {
    fill: #1d2128
}

.ControllerContainer-inner {
    top:4px
}
.PlayerPauseButton, .PlayerPlayButton {
	left: 50%;
	right: 50%;
	position: absolute !important;
	transform: translate(-50%);
    padding: 2px;
}
.ControllerContainer-centerArea > .ControllerButton {
    padding: 5px
}
.InView.VideoContainer {
    height: 360px !important;
    width: 100% !important;
}
.PlayerOptionContainer {
    max-height: 330px;
}
.SupporterView {
	height: 360px;
	width: auto;
	aspect-ratio: 16 / 9;
}
.PlayerSizeMenuItem, .FullscreenModeMenuItem, .PlayerOptionMenuGroup:nth-child(2), .PlayerOptionMenuGroup:nth-child(3)  {
    display:none;
}
.VideoPlayer video {
    width:auto !important;
    margin:auto !important;
    box-shadow:0px 0px 10px rgba(0,0,0,0.8) !important;
}
.PlayerPanelContainer {
    border-top-left-radius: 16px;
}
/* 競合防止 */
.PlayerContainer, .ControllerBoxContainer {
    background-color: transparent !important;
}
.MainContainer-playerPanel {
    display: block !important;
}
#comments-enable-ex, #comments-disable-ex {
    display:none !important;
}
.SearchBox-optionMenu {
    bottom: 32px
}
.VideoContainer {
	background: transparent !important;
}

.WatchAppContainer { display: flex }
.MainContainer { 
    padding-top: calc(28vh - 36px);
    box-shadow: 0px 0px 0px #000;
    width: 100%
}

.WatchAppContainer-main {
	width: calc(100vw - 384px) !important;
	right: 0px;
	margin: 0 0 0 auto !important;
	padding: 0px;
}

.MainContainer-player { 
    width: 100%
}
.MainContainer-playerPanel { 
    position: fixed;
    top: 36px;
    height: calc( 100% - 72px );
    background: transparent;
}
.VideoContainer { 
    background: transparent;
    margin: auto;
    overflow: visible
}
.VideoTitle { color: #d85353 }
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand { background: linear-gradient(90deg,hsla(0,0%,96%,0),#fefefe 16%) }
.HeaderContainer-searchBox { 
    position: fixed;
    bottom: 0;
    right: 0
}
.SearchBox-input { width: 335px }
.SearchBox { width: 382px }
.HeaderContainer { 
    width: 100%;
    padding: 16px 64px 128px;
    margin: 0 0 240px
}
.HeaderContainer-topArea { text-align: center }
.HeaderContainer-row .GridCell:last-child { 
    width: fit-content;
    display: flex
}
.HeaderContainer-row { 
    width: fit-content;
    display: flex;
    margin: auto auto 12px
}
.MainVideoPlayer video { 
    width: auto;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8)
}
.VideoDescriptionContainer { 
    margin: 0 auto
}
.SeekBar { 
    margin: auto 0
}
.PlayerPlayTime-playtime, .PlayerPlayTime-duration { 
    margin: auto 10px
}
.ControllerBoxContainer { 
    margin-top: 8px;
    padding: 0 128px
}
.ControllerContainer { 
    height: 48px
}
.EasyCommentContainer {
    height: auto
}
.SeekBarContainer { 
    padding: 8px 16px 0;
    display: flex
}
.PlayerPlayTime { 
    width: 40px;
}
.SeekBar-buffered { background-color: #666 }
.ControllerBoxCommentAreaContainer, .EasyCommentContainer { background: transparent }
.CommentOnOffButton { display: none }
.SeekBar-played, .SeekBarHandle-handle { background-color: #d85353 }
.SeekBar-buffered { background-color: #666 }
.ControllerContainer { z-index: 3 }

.NC-CreatorSupportAccepting {
    display: none;
}

.GridCell.VideoOwnerInfo-gridCell {
	width: inherit;
}

/* sidebar */
#VideoMenuDrawer-app {
	position: fixed;
	left: 0;
	top: 36px;
	z-index: 6000001;
}
.css-1q3tz1l .css-fdpmya {
	background: var(--bgcolor2);
    border-radius: 50%;
}
.css-1q3tz1l .css-10yxuc8 svg path {
    fill: var(--textcolor1) !important;
}

/* container width control */
.ControllerContainer {
    container: ctrlcontainer / inline-size;
    overflow-x: scroll;
}
@container ctrlcontainer (max-width: 700px) {
    .PlayerPauseButton, .PlayerPlayButton {
        left: inherit;
        right: inherit;
        position: inherit !important;
        transform: translate(0%);
        padding: 4px;
    }
    html.PM-TheaterMode .ControllerBoxContainer {
        padding: 0 64px;
    }
    .PlayerPlayTime {
        width: 20px;
    }
}