.ControllerBoxContainer {
    position: relative;
    background-image: linear-gradient(#191919, #000);
}
.MarqueeContainer {
    background-image: linear-gradient(#111,#000);
}
.DefaultAnimator-excludeButton,.DefaultAnimator-excludeButton::after {
    background:none;
}
.ControllerButton {
    background-color: transparent;
    height: 32px;
    padding: 6px;
    position: relative;
    width: 32px;
}
.PlayerPauseButton, .PlayerPlayButton {
    width: 42px
}