.recommend-wrapper {
    position: relative;
}

.recommend-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.recommend-container {
    margin-top: 16px;
}

.watch-container[use-card-recommend="true"] .recommend-container {
    position: static;
    display: grid;
    font-size: 0.9em;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    white-space: nowrap;
    grid-auto-flow: column;
    gap: 12px;
    overflow-x: auto;
    padding: 8px 0;
    grid-template-columns: repeat(auto-fill, minmax(11.5em, 1fr));
    overflow-y: visible;
}