.seriesinfo-content {
    display: flex;
    gap: 1em;
}

.seriesinfo-content img {
    height: 6em;
}

.seriesinfo-title a {
    text-decoration: none;
    color: var(--textcolor1) !important;
    font-size: 1.25em;
    font-weight: bold;
    &:hover {
        color: var(--linktext1) !important;
    }
}

.seriesinfo-right {height: fit-content;align-self: center;}

.seriesinfo-header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 8px 0;
    display: block;
}

.seriesinfo-container {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 2px solid var(--accent1);
}