html.PM-HighlightNewNotice {
    .nico-CommonHeaderRoot .common-header-kolmxm::before, .nico-CommonHeaderRoot .common-header-1ngx8bj::before {
        content: "";
        width: 8px;
        height: 8px;
        background: var(--textcolornew);
        position: absolute;
        left: 12px;
        top: 12px;
        border-radius: 50%;
    }
    .nico-CommonHeaderRoot .common-header-kolmxm:not(:hover), .nico-CommonHeaderRoot .common-header-1ngx8bj:not(:hover) {
        background: transparent !important;
    }
    .sc-hMqMXs.eALpHe .inner::before {
        content: "";
        width: 8px;
        height: 8px;
        background: var(--textcolornew);
        position: absolute;
        left: 12px;
        top: 5px;
        border-radius: 50%;
    }
}