.TimelinePage.PM-Timeline-hideNicoSeiga .Timeline {
    .TimelineItem:not(.TimelineItem_illust) {
        display: none;
    }
    .Timeline-activitiesByTime:not(:has(.TimelineItem_illust)) {
        background: #f00;
    }
}