// www.nicovideo.jpに属さないページのエンドポイント。

@import './modules/darkmode/pages/nanime.styl'
@import './modules/darkmode/pages/nicolive.styl'
@import './modules/darkmode/pages/koken.styl'
@import './modules/darkmode/pages/inform.styl'
//@import './modules/darkmode/pages/nicoinfo.styl'