#nicopedia-article-textarea {
    font-size: 14px !important;
    font-family: Consolas, 'Courier New', monospace;
    width: 90% !important;
    line-height: 22px;
    color: #fff;
    background: #1e1e1e;
    letter-spacing: 0px;
    height: 800px !important;
}