[watch-type="shinjuku"] {
    --radius: 0px;
    --radius-mini: 0px;
    --radius-big: 0px;
    --box-shadow: none;
    .watch-container-left {
        display: none;
    }

    .watch-container-right {
        display: none;
    }

    .watch-container-top {
        gap: 1em;
        flex-wrap: wrap;
        margin: 0 10%;
        .searchbox-container {
            flex-basis: 100%;
        }
    }

    .stacker-container {
        /* display: none; */
    }

    .shinjuku-player-container .watch-container-rightaction {
        position: relative;
        flex: 1;
        gap: 4px;
    }

    .shinjuku-player-container {
        flex-basis: 80%;
        position: relative;
        display: flex;
        gap: 0.5em;
        outline: 3px solid #000;
        border: 1px solid;
        border-image: linear-gradient(#c7c7c7,#d1d1d1) 1;
        padding: 6px;
        background: linear-gradient(#222, #333);
    }
    .player-container {
        padding: 0;
        flex: 2.5;
        border: 1px solid #000;
    }

    // プレイヤー横タブ
    .stacker-tabbutton-container {
        padding: 0 2em;
        gap: 0;
        position: relative;
        top: 3px;
    }

    .stacker-tabbutton {
        border: 3px solid var(--textcolor3);
        font-size: 0.8em !important;
        border-bottom: 3px solid var(--textcolor3);
    }

    .stacker-tabbutton.stacker-tabbutton-active {
        border-top: 3px solid var(--textcolor3);
        border-bottom: 3px solid transparent;
    }

    .stacker-tabbutton:not(:last-child) {
        border-right: none;
    }

    .stacker-content {
        border: 3px solid var(--textcolor3);
    }

    // 動画アクション(いいね等)
    .video-actions {
        gap: 7px;
        font-size: 0.8em;
        margin-bottom: 0;
        height: fit-content;
        align-self: end;
        justify-content: right;
    }

    .video-actions button, .video-actions button.video-action-likebutton.active {
        background-image: linear-gradient(#4f4f4f, #101010);
        color: #fff;
        border: 1px solid #000;
        border-radius: 6px;
        padding: 6px;
        font-size: 1em;
    }

    .video-actions button svg {
        width: 1.5em;
        height: 1.5em;
    }

    // コメント入力との区切り
    .playercontroller-container[player-type="shinjuku"] {
        border-bottom: 1px solid #000;
    }

    // コメント入力
    .commentinput-container > input {
        padding: 2px 6px;
    }
    .commentinput-container > .commentinput-textarea-container > .commentinput-input {
        padding: 4px 5px;
    }
    .commentinput-container > .commentinput-textarea-container > .commentinput-textarea-dummy {
        padding: 6px 7px;
    }
    .commentinput-container svg {
        height: 1.5em;
        width: 1.5em;
    }
    .commentinput-submit {
        background: linear-gradient(#ff9e3c 1%,#ffa114 40%,#ff5919 60%,#f4781a 100%);
        color: #fff;
        font-weight: bold;
        text-shadow: 0 0 2px #000;
        padding: 2px 4px;
    }
    .commentinput-submit:hover {
        background: linear-gradient(#ffac59 1%, #ffab2d 40%, #ff8d2d 60%, #ff9646 100%);
    }

    // 原宿の統計表示+時計とダミー
    .videostat-container {
        font-size: 13px;
        font-family: "MS Gothic", sans-serif;
        background: #222;
        color: #fff;
        width: fit-content;
        white-space: nowrap;
        display: flex;
        gap: 0.5em;
        width: 100%;
        line-height: 1em;
    }
    .videostat-left-container {
        font-weight: bold;
        border: 1px solid #000;
        flex: 1;
    }
    .videostat-left-container > div {
        padding: 1px;
        background: linear-gradient(#333, #111, #333);
        display: flex;
        gap: 1em;
        > span:first-child {
            text-align-last: justify;
            width: 4em;
            letter-spacing: -1em !important; // 文字間隔の下限を拡張
        }
    }

    .videostat-left-container > div:not(:last-child) {
        border-bottom: 1px solid #000;
    }

    .videostat-left-container > div > span:last-child {
        flex: 1;
        text-align: right;
        padding: 1px;
    }

    .videostat-right-container {
        flex: 1.8;
        text-align: center;
    }

    .videostat-right-top-dummy {
        border: 1px solid #000;
        padding: 4px;
        margin-bottom: 5px;
        background: linear-gradient(#494949 2%, #1a1a1a 49%, #141414 50%, #202020 100%);
        color: #fff3;
    }

    .videostat-clock {
        border: 1px solid #000;
        padding: 6px;
        background: linear-gradient(#555, #888 30%, #555);
        letter-spacing: 0;
        box-shadow: 0px 0px 4px #000c inset;
    }

    // 統計表示+スタッカー
    .watch-container-rightaction-hjleft {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    // いいね！へのお礼メッセージ
    .video-action-likethanks-outercontainer {
        z-index: 10;
        transform: translate(0, 2.5em);
        max-width: 500px;
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
    }

    // 動画オーナー表示
    .videoowner-container {
        border: 2px solid var(--accent2);
        padding: 8px;
        background: var(--bgcolor3);
        height: fit-content;
        a {
            color: var(--textcolor1);
            display: flex;
            text-decoration: none;
            font-size: 0.9em;
            align-items: center;
            gap: 8px;
            img {
                width: 3.5em;
                height: 3.5em;
                vertical-align: middle;
                border: 3px solid var(--bgcolor3);
            }
            span {
                text-decoration: underline;
                font-weight: bold;
                font-size: 1.1em
            }
        }
    }

    // 動画情報
    .videoinfo-container {
        padding: 0;
    }

    // 動画概要
    .videoinfo-container details {
        border: 2px solid var(--textcolor1);
        margin-top: 0;
        margin-bottom: 4px;
        padding: 8px;
        summary {
            background: transparent;
            font-size: 0;
            padding: 0;
            span {
                font-size: 1rem;
            }
        }
    }

    .videoinfo-hjdesc-tabbutton {
        margin-left: 0.8rem;
        border-radius: 8px 8px 0 0;
        border: 2px solid var(--textcolor1);
        border-bottom: none;
        position: relative;
        top: 2px;
        padding: 2px 6px;
        margin-top: 2px;
        background: linear-gradient(var(--bgcolor3), var(--bgcolor1));
        color: var(--textcolor1);
    }

    .videodesc {
        padding: 0px;
    }

    // 投稿日時とランキング情報
    .uploaddate {
        color: var(--textcolor2);
        strong {
            font-weight: bold;
            color: var(--textcolor1);
        }
    }

    // ロゴ+検索+フィラー
    .hrjk-header {
        grid-area: shr;
        display: flex;
        gap: 1em;
        align-items: center;

        .harajuku-logo {
            display: block;
            height: max-content;
            > img {
                filter: var(--hrjk-logo-filter);
                height: 100%;
                width: auto;
            }
        }
        .harajuku-header-migiue-filler {
            background: var(--bgcolor2);
            flex: 1;
            height: 100%;
            margin-left: 20%;
            text-align: center;
            line-height: 100%;
            color: var(--textcolor3);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.3;
        }
    }

    // 検索
    .searchbox-inputcontainer input {
        padding: 6px;
    }
    .searchbox-type-item {
        font-size: 0.8em;
        padding: 2px 8px !important;
    }

    // コメントリストの表示調整
    .commentlist-list-item {
        font-size: 0.9em;
    }
    .commentlist-list-item:not(.commentlist-list-item-open) {
        height: 1.2em;
    }

    // タグ表示
    .tags-container {
        padding: 8px 0;
        font-size: 0.9em;
    }

    .tags-item {
        border-bottom: none;
        text-decoration: underline;
        margin-right: 0.25em;
        line-height: 1.2em;
    }

    .tags-item.tags-item-locked {
        text-decoration-color: rgb(212, 138, 0);
    }

    .tags-item-nicodic {
        background: transparent !important;
    }

    .tags-item-nicodic > img {
        vertical-align: text-bottom;
    }
    .tags-title span {
        padding: 2px 6px;
        background: linear-gradient(0deg, #000, #555);
        color: #fff;
        border-radius: 4px;
        border: 1px solid #000;
        font-weight: normal;
        margin-bottom: 2px;
        font-size: 0.8em;
        font-family: "MS UI Gothic", sans-serif;
        display: block;
    }

    .tags-editbutton svg {
        display: none;
    }

    .tags-editbutton:before {
        content: "【";
    }
    .tags-editbutton:after {
        content: "】";
    }
}