.Marquee-itemArea {
    background-image:url("") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px 25px;
    background-clip: content-box;
}
.DefaultAnimator-text, .DefaultAnimator-category,.DefaultAnimator-excludeButton, .Marquee-buttonArea {
    display:none
}