// ランキングページのニコニ広告を隠す
html.PM-HideRankingPageNiconiAdRow {
    .RankingMatrixNicoadsRow,.NC-NicoadMediaObject,.RankingMainNicoad,.ContinuousPlayButtonTeaching,.NC-Balloon-arrowWrap,.NC-NicoadMediaObjectWrapper{
        display: none
    }
}