html.PMDM-Enabled {
	.css-ajij6l {
		background: var(--bgcolor2);
	}
	.css-16zug1i {
		color: var(--accent2) !important;
	}
	.css-10iwwxw {
		background: var(--bgcolor1);
	}
	.css-qkib1w * {
		fill: var(--textcolor1)
	}
	.css-d9fec {
		color: var(--textcolor1) !important;
	}
	.css-d9fec:hover, .css-owmlql:hover {
		color: var(--textcolor2) !important;
	}
	.css-d9fec:hover svg path, .css-owmlql:hover svg path {
		fill: var(--textcolor2) !important;
	}
}
