.info-card {
    display: flex;
    gap: 8px;
    height: 4em
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: var(--radius);
    img {
        flex-shrink: 0;
        aspect-ratio: 16 / 9;
        object-fit: contain;
        background: var(--bgcolor2);
    }
    div {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-self: center;
        color: var(--textcolor1);
        span.info-card-playingtext {
            font-weight: bold;
            color: var(--linktext1);
            .tabler-icon {
                vertical-align: middle;
                width: 1em;
                margin-right: 0.25em;
            }
        }
        span.info-card-durationtext {
            opacity: 0.5;
        }
    }
}
.info-card-nowplaying {
    background: var(--bgcolor3);
}