.video-action-mylists-outercontainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5em;
    z-index: 2;
    display: none;
}

.video-action-mylists-outercontainer[is-open="true"] {
    display: block;
}

.mylists-container {
    box-shadow: 0px 0px 10px #0005;
    border-radius: var(--radius);
    padding: 8px;
    background: var(--bgcolor2);
}

.mylist-title {
    align-items: center;
}

.mylist-item-container {
    padding: 8px;
    background: var(--bgcolor1);
}