.playercontroller-container {
    margin-top: 4px;
}
.seekbar-container {
    display: flex;
    padding: 4px;
    gap: 8px;
    align-items: center;
    .seekbar {
        flex: 1
    }
    .seekbar-time {
        font-size: 0.9em;
        color: var(--textcolor1)
    }
}
.playercontroller-container-middle {
    display: flex;
}
.playercontroller-container-left {
    justify-content: start;
}
.playercontroller-container-center {
    justify-content: center;
}
.playercontroller-container-right {
    justify-content: end;
}
.playercontroller-container-right, .playercontroller-container-left, .playercontroller-container-center {
    display: flex;
    align-items: center;
    flex: 1
    button {
        display: block;
        background: transparent;
        border: none;
        color: var(--textcolor1);
        vertical-align: middle;
        padding: 5px 8px;
        border-radius: var(--radius);
        svg {
            vertical-align: middle;
        }
    }
    button:hover {
        background: var(--hover1);
        cursor: pointer;
    }
}
.playercontroller-qualityselect {
    padding: 8px;
    margin: 0 8px;
    background: var(--bgcolor2);
    color: var(--textcolor2);
    border: none;
    border-radius: var(--radius-mini);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.playercontroller-qualityselect:hover, .playercontroller-qualityselect:focus {
    background: var(--hover1);
    color: var(--textcolor1);
}

[player-type="shinjuku"] .playercontroller-container-right, [player-type="shinjuku"] .playercontroller-container-left {
    flex: none;
}
[player-type="shinjuku"] .seekbar-container {
    flex: 1;
}

.playercontroller-effectchange {
    display: flex !important;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--textcolor1);
    padding: 4px;
    vertical-align: middle;
    border-radius: var(--radius-mini);
}

.playercontroller-effectchange:hover {
    background: var(--hover1)
}

.playercontroller-qualitydisplay {
    color: var(--textcolor2)
    margin-right: 8px;
}

.playercontroller-volume-container {
    position: relative;
    vertical-align: middle;
    height: 10px;
    .playercontroller-volume {
        max-width: 100px;
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        cursor: pointer;
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        vertical-align: top;
    }
    .playercontroller-volume:before {
        content: "";
        background: var(--linktext2);
        width: var(--width);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: var(--radius-big);
    }
    .playercontroller-volume::-moz-range-progress {
        background: var(--linktext2);
        border-radius: var(--radius-big);
        height: 100%;
    }

    .playercontroller-volume::-moz-range-track {
        background: var(--bgcolor3);
        border-radius: var(--radius-big);
        height: 100%;
    }
    
    .playercontroller-volume::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 100%;
        background: var(--textcolor2);
        width: 0px;
    }

    .playercontroller-volume::-webkit-slider-runnable-track {
        background: var(--bgcolor3);
        border-radius: var(--radius-big);
        height: 100%;
    }

    .playercontroller-volume::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 100%;
        background: var(--textcolor2);
        width: 0px;
    }
}
.playercontroller-volume-container:hover .playercontroller-volume-tooltip {
    display: inline;
}

.playercontroller-volume-tooltip {
    display: none;
    position: absolute;
    top: 12px;
    font-size: 0.8em;
    border-radius: var(--radius-mini);
    background: #000a;
    color: #fff;
    padding: 0 4px;
    white-space: nowrap;
    left: calc(var(--left) / 2);
}
.playercontroller-time {
    margin: 0 8px;
}

.seekbar {
    flex: 1;
    background: var(--bgcolor3);
    height: 0.7em;
    position: relative;
    border-radius: var(--radius-mini);
    cursor: pointer
}

.seekbar-played {
    height: 100%;
    background: var(--linktext3);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--radius-mini);
}

.seekbar-buffered {
    height: 100%;
    background: var(--textcolor1);
    border-radius: var(--radius-mini);
    opacity: 0.5;
}

.seekbar-commentstats {
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease
} 

.seekbar:hover {
    .seekbar-commentstats.global-flex {
        background: linear-gradient(0deg, rgba(0,0,0,0.667), rgba(0,0,0,0.333));
        /* height: 10px; */
        align-items: end;
        gap: 4px;
        padding: 0px 8px;
        border-radius: var(--radius-big) var(--radius-big) 0 0;
        opacity: 1;

        span {
            height: calc(var(--height) * 2);
            background: #fff;
            border-radius: var(--radius) var(--radius) 0 0;
            opacity: 0.7;
        }
    }
}

.playercontroller-container[player-type="shinjuku"] {
    --radius: 0px;
    --radius-mini: 0px;
    --radius-big: 0px;
    background-image: linear-gradient(#ddd, #494949 3%, #282828 48%, #1a1a1a 50%, #202020 95%, #000 100%)
    color: #fff;
    margin-top: 0;
    font-family: "MS Gothic";
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;

    .playercontroller-container-left {
        flex: 1;
        padding-left: 1px;
    }

    .playercontroller-container-right, .playercontroller-container-center {
        flex: none;
    }

    .playercontroller-container-left, .playercontroller-container-center {
        button {
            border: 1px solid #111;
            border-image: linear-gradient(#5c5c5c,#363636);
            border-image-slice: 1;
            padding:2px;
            margin-left: 2px;
            box-shadow: 0px 0px 3px #000 inset;
        }
        button:not(:focus-visible) {
            outline: 1px solid #060606;
        }
    }


    button svg {
        height: 20px;
        width: 20px;
        color: #fff;
    }

    .playercontroller-container-left button.playercontroller-togglepause {
        padding: 2px 8px;
    }
    .playercontroller-container-right button {
        padding: 6px 4px;
    }
    .playercontroller-qualityselect {
        background: transparent;
        padding: 6px 2px;
        color: #fff;
        margin: 0;
        font-size: 12px;
        font-family: "MS UI Gothic", sans-serif;
        font-weight: bold;
        option {
            background: #000;
            color: #fff;
        }
    }

    .playercontroller-volume-container {
        height: 10px;
        margin-right: 4px;
        .playercontroller-volume {
            max-width: 64px;
        }
        .playercontroller-volume::-moz-range-track {
            border: 2px solid #111;
            background: linear-gradient(#000 0%, #555 20%, #333 90%, #444 90%);
        }
        .playercontroller-volume::-moz-range-progress {
            background: linear-gradient(#666 0%, #fff 20%, #ddd 90%, #aaa 90%);
        }
        .playercontroller-volume::-webkit-slider-runnable-track {
            border: 2px solid #111;
            background: linear-gradient(#000 0%, #555 20%, #333 90%, #444 90%);
        }
        .playercontroller-volume:before {
            background: linear-gradient(#666 0%, #fff 20%, #ddd 90%, #aaa 90%);
            margin: 2px;
        }
    }



    .seekbar-thumb {
        position: relative;
        height: 24px;
        width: 4px;
        background: linear-gradient(#ddd 1%, #ddd 2%, #ddd 49%, #555 50%, #eee 100%);
        bottom: 16px;
        border: 1px solid #111;
    }
    .seekbar {
        height: 6px;
        border: 2px solid #111;
        background: linear-gradient(#888, #ddd 20%, #fff 70%);
    }
    .seekbar-played {
        background: transparent;
    }
    .seekbar-buffered {
        background: #0001;
    }
    .playercontroller-time {
        font-family: "MS Gothic", sans-serif;
        font-weight: bold;
        letter-spacing: -1px;
        font-size: 13px;
        margin: 0 2px;
    }
    .playercontroller-container-right, .playercontroller-container-left, .playercontroller-container-center {
        button:hover {
            background: #fff2;
            cursor: pointer;
        }
    }
    /*.playercontroller-volume-container .playercontroller-volume::-webkit-slider-thumb {
        display: none;
    }*/

    .playercontroller-commenttoggle, .playercontroller-togglemute, .playercontroller-toggleloop {
        border-left: 3px solid;
        border-image: linear-gradient(90deg, #aaaa 1%, #000 5%, #000 10%, #aaaa 15%) 5;
    }
}

