.playercontroller-container {
    margin-top: 4px;
}
.playercontroller-container-top {
    display: flex;
    padding: 4px;
    gap: 4px;
    align-items: center;
    .playercontroller-seekbar {
        flex: 1
    }
    .playercontroller-time {
        font-size: 0.9em;
    }
}
.playercontroller-container-bottom {
    display: flex;
}
.playercontroller-container-left {
    justify-content: start;
}
.playercontroller-container-center {
    justify-content: center;
}
.playercontroller-container-right {
    justify-content: end;
}
.playercontroller-container-right, .playercontroller-container-left, .playercontroller-container-center {
    display: flex;
    align-items: center;
    flex: 1
    button {
        display: block;
        background: transparent;
        border: none;
        color: var(--textcolor1);
        vertical-align: middle;
        padding: 5px 8px;
        border-radius: 8px;
        svg {
            vertical-align: middle;
        }
    }
    button:hover {
        background: var(--hover1);
    }
}


.playercontroller-effectchange {
    display: flex !important;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--textcolor1);
    padding: 4px;
    vertical-align: middle;
    border-radius: 4px;
}

.playercontroller-effectchange:hover {
    background: var(--hover1)
}

.playercontroller-effectdisplay {
    background: var(--bg);
    color: var(--color);
    padding: 6px 8px;
    margin-left: 4px;
    font-family: Hack, Consolas, monospace;
    border-radius: 2px;
}

.playercontroller-qualitydisplay {
    color: var(--textcolor2)
    margin-right: 8px;
}