.playlist-container {
    overflow: hidden;
    height: 100%;
    background: var(--bgcolor2);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
}

.playlist-items-container {
    overflow: hidden auto;
    max-height: 100%;
    padding: 8px;
}

.playlist-title-container {
    padding: 10px 12px;
    box-shadow: 0px 0px 8px #000;
}

.playlist-nothinghere {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.5;
    p {
        padding: 4px 16px;
    }
}