.recommend-container {
    margin-top: 16px;
    .recommend-item {
        display: flex;
        gap: 8px;
        height: 4em
        text-decoration: none;
        margin-bottom: 8px;
        img {
            flex-shrink: 0;
            aspect-ratio: 16 / 9;
            object-fit: contain;
            background: var(--bgcolor2);
        }
        div {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            align-self: center;
            color: var(--textcolor1);
            span {
                opacity: 0.5;
            }
        }
    }
}

[watch-type="recresc"] .recommend-container, [watch-type="3col"] .recommend-container {
    display: flex;
    overflow-x: scroll;
    gap: 8px;
    flex-basis: 100%;
    margin: 0 7.5%;
    .recommend-item {
        width: 20%;
    }
}

[watch-type="recresc"] .watch-container-rightaction, [watch-type="3col"] .watch-container-rightaction {
    max-height: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}