#evdcontainer {
	background-color: var(--bgcolor1);
	color: var(--textcolor1);
	margin: 8px;
	padding: 16px;
	border-radius: 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 360px;
    animation: bottomslidein 0.3s ease forwards
}

.evdchapterrow {
	padding: 8px;
	margin-top: 8px;
	width: 100%;
	text-align: left;
	border: none;
	border-radius: 3px;
	background: var(--bgcolor2);
	color: var(--textcolor1);
	display: flex;
}
.evdchapterrow:hover {
    background: var(--hover1);
}