.MarqueeContainer > div {
    display: flex;
}
#pm-marqueerankinglink {
	display: block;
	line-height: 44px;
	animation: fadein 0.1s linear forwards;
	padding: 0px 32px;
	width: 100%;
	text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 5;
}
#pm-marqueerankingbg {
	padding: 0px 8px 0px 32px;
	display: flex;
}/*
#pm-marqueerankingbg::before {
    position:absolute;
    left: 0;
    width: 32px;
    background: linear-gradient(-90deg,rgba(0,0,0,0),rgba(0,0,0,255));
    content: "";
    top: 0;
	display: block;
	height: 44px;
    z-index: 3;
}
#pm-marqueerankingbg::after {
	position: absolute;
	left: 80px;
	width: 50px;
	background: linear-gradient(90deg,rgba(0,0,0,0),rgb(0, 0, 0) 65%);
	content: "";
	top: 0;
	display: block;
	height: 44px;
	z-index: 3;
}*/
#pm-marqueerankingbg-current, #pm-marqueerankingbg-next {
    line-height: 44px;
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
    opacity: 50%;
}
#pm-marqueerankingbg-next {
    transform: translateY(15%) scale(0.6);
    opacity: 30%
}