.stockedserieswindow-container {
    background: var(--bgcolor2);
    width: 360px;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    max-height: calc(100vh - 128px);
    overflow-y: scroll;
}
.stockedseries-row {
	margin: 5px 0;
	border-bottom: 2px solid var(--bgcolor4);
	border-radius: 5px;
	background: var(--bgcolor1);
	padding: 5px 8px;
}
.serieslink-container {
	display: flex;
}
.stockedseries-row-link {
	color: var(--linktext2);
	text-overflow: ellipsis;
	max-height: 24px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	line-height: 1;
	margin: 8px 0px;
	padding: 0;
}

.serieslink-container .stockedseries-row-link {
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0;
	color: var(--textcolor1);
}

.serieslink-container .stockedseries-row-link:hover {
	color: var(--linktext2);
}
#removeseries {
	color: var(--textcolor1);
	background-color: var(--accent2);
	border-radius: 5px;
	margin: auto 0 auto auto;
}
.togglelock {
	color: var(--textcolor1);
	background-color: var(--accent2);
	border-radius: 5px;
	margin: auto 0 auto auto;
}