:root {
	--primary: #0060df;
	--primary-hover: #0090ed;
	--destructive: #c50042;
	--destructive-hover: #e22850;
	--destructive-dark: #810220;
}
@keyframes fadeout {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}

html, body {
    width: 480px;
    margin: 0;
	background-color: Canvas;
	color: CanvasText;
	opacity: 100;
}
body > * {
	color-scheme: light dark;
}

h1 {
    font-size: 20px;
    margin: 5px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    width: 100%;
}
#current-version {
	position: fixed;
	bottom: 0;
	right:0;
	font-size: 10px;
}
#info-area {
	padding: 0 12px 12px;
}
a {
	color: var(--primary);
}
a:visited {
	color: var(--primary);
}
a:hover {
	color: var(--primary-hover);
}
.title {
	font-size: 24px;
	padding: 15px 15px;
	border-bottom: 0px solid rgba(0, 0, 0, 0.5);
	text-align: left;
	font-family: "Lato","Yu Gothic UI","Meiryo",sans-serif;
	letter-spacing: 1px;
	/*background: #00796b;
	box-shadow: 0px 0px 5px #000;*/
	line-height: 24px;
	font-weight: lighter;
}
.title > a {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 8px;
	line-height: 24px;
	color: unset;
}

#test-form > label {
    font-size:16px;
}
#test-form {
    display:none;
}
#save-state {
    width: 100%;
    font-size:10px;
    font-style:italic
}
.hint {
    font-size:10px;
    font-style:italic;
    margin-bottom:2px;
}
#save-form > button {
	width: 95%;
	height: 25px;
	text-align: center;
	outline: none;
	border: none;
	position: fixed;
	bottom: 5px;
	left: 0;
	right: 0;
	box-sizing: border-box;
	padding: 0 10px;
	margin: auto;
    color: #fff;
    background: var(--primary);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: background 0.1s, box-shadow 0.1s;
}
#save-form > button:hover {
    background: var(--primary-hover);
    box-shadow: 0px 0px 4px rgba(128,128,128,0.5);
    transition: all 0.1s;
}
form, .maincontainer {
    margin-bottom: 2px;
    padding: 0px 10px 10px;
}
select {
	margin-left: 5px;
	border: 0px solid #fff;
	border-radius: 2px;
	padding: 3px 6px;
}
.settings-row {
    margin: 6px 0;
}
label {
	font-size: 12px;
}
#input-headercolor {
    width:64px;
}


.settinglink {
	text-decoration: none;
	color: #fff;
	padding: 5px;
	background: var(--primary);
	box-shadow: 0px 0px 1px var(--primary-hover);
	border-radius: 5px;
	margin: 8px 0;
	display: block;
	text-align: center;
	width: fit-content;
}
.settinglink:hover {
	color: #fff;
	background: var(--primary-hover);
}

.page-desc {
    padding: 10px
}

#remove{
	border: none;
	background: var(--destructive);
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
#remove:hover{
	background: var(--destructive-hover);
}

.dangerouslink {
	background: var(--destructive);
	box-shadow: 0px 0px 1px var(--destructive-hover);
}
.dangerouslink:hover {
	background: var(--destructive-hover);
}

.dangerous-button {
	box-shadow: 0px 0px 1px var(--destructive-dark);
	border: none;
	background: var(--destructive);
	color: #fff;
	border-radius: 5px;
	padding: 5px 5px;
	font-family: unset;
	font-size: 12px;
}
.dangerous-button:hover {
	background: var(--destructive-hover);
}

.hover-protected {
	background-color: #000;
	color: #000;
}
.hover-protected:hover, .hover-protected:focus-visible {
	background-color: transparent;
	color: inherit
}


@media (prefers-color-scheme: dark) {
	html,body {
		background-color: #1c1b22;
		color: #fff;
	}
}

@media (width:632px) {
	html, body {
		width: 632px;
		margin: 0;
	}
	h1 {
		border-bottom: 0px;
	}
	@media (prefers-color-scheme: dark) {
		html,body {
			background-color: #23222b;
			color: #fff;
		}
	}
}