html.PMW-Enabled {
    @import "./watchUI.styl"
}

html.PMW-Enabled.PMDMP-light .container.fullscreen, html.PMW-Enabled.PMDMP-nordlight .container.fullscreen {
    --bgcolor1: #252525;
    --bgcolor2: #333;
    --bgcolor3: #666;
    --bgcolor4: #aaa;
    --textcolor1: #fff;
    --textcolor2: #ddd;
    --textcolor3: #aaa;
    --accent1: #444;
    --accent2: #888;
    --hover1: #666;
    --hover2: #aaa;
    --linktext1: #8fb9df;
    --linktext2: #8ed9ff;
    --linktext3: #008acf;
    color: var(--textcolor1);
}

html.PMW-Enabled.PMDMP-light {
    --hrjk-logo-filter: brightness(0.973);
}
html.PMW-Enabled.PMDMP-pmcolor {
    --hrjk-logo-filter: brightness(0.86) invert(1);
}
html.PMW-Enabled.PMDMP-spcolor {
    --hrjk-logo-filter: brightness(0.9) invert(1);
}
html.PMW-Enabled.PMDMP-black {
    --hrjk-logo-filter: brightness(1) invert(1);
}