html.PMDM-NicoInfo body {
    color: var(--textcolor1);
    background: var(--bgcolor1);
}

html.PMDM-NicoInfo {
    .l-main.l-main-list2-item a {
        color: var(--textcolor1);
    }
    .breadcrumb.breadcrumb-list {
        color: var(--textcolor2)
    }
    .breadcrumb.breadcrumb-list-item a {
        color: var(--textcolor2)
    }
    .breadcrumb.breadcrumb-list::after, .breadcrumb.breadcrumb-list-item:last-of-type::after {
        background: var(--bgcolor1)
    }
    .article.article-content h3 span {
        background: linear-gradient(0deg, var(--accent1), var(--accent1) 50%, transparent 50%, transparent 100%);
    }
    .article.article-content h3 {
        color: var(--textcolor1)
    }
    .article.article-date {
        color: var(--textcolor2)
    }
    .l-aside.l-aside-item-inner {
        background: var(--bgcolor2);
    }
    .l-aside.l-aside-heading, .l-aside.l-aside-list2-item a {
        color: var(--textcolor1)
    }
    .link.link-arrow a {
        color: var(--textcolor2)
    }
    .link.link-arrow a::after {
        border-bottom: 2px solid var(--textcolor2);
        border-right: 2px solid var(--textcolor2);
    }
    .link.link-arrow a:hover {
        color: var(--linktext2)
    }
    .link.link-arrow a:hover::after {
        border-bottom: 2px solid var(--linktext2);
        border-right: 2px solid var(--linktext2);
    }
    .l-globalmenu.l-globalmenu-inner {
        background: var(--bgcolor2)
    }
    .l-globalmenu.l-globalmenu-subheading span {
        color: var(--textcolor2)
    }
    .l-globalmenu.l-globalmenu-list-item a {
        color: var(--textcolor1)
    }
    .l-globalmenu.l-globalmenu-list-item:not(:last-of-type)::after,
    .l-globalmenu.l-globalmenu-heading span::after,
    .l-globalmenu.l-globalmenu-button::after,
    .l-globalmenu.l-globalmenu-button::before,
    .l-header.l-header-button::after, .l-header.l-header-button::before,
    .l-header.l-header-button-text {
        background: var(--textcolor2)
    }
    .l-header.l-header-logo a {
        background: linear-gradient(90deg, rgba(0,0,0,0) ,#fff 5%,#fff 95%, rgba(0,0,0,0) 100%);
    }
    .l-header.l-header-area {
        border-bottom: 2px solid var(--bgcolor2);
    }
}