html.PMDM-NicoLiveHome {
    [class*="___base-page___"] {
        background: var(--bgcolor1);
        color: var(--textcolor1);
    }
    [class^="___ad-billboard"],[class^="___ranking-contents-area"],[class^="___site-information-list-section"],[class^="___item-list"] {
        background-color: var(--bgcolor1)
    }
    [class^="___heading"] {
        background: transparent;
    }
    [class^="___top-page"] {
        background-color: var(--bgcolor1) !important
    }
    [class^="___program-card___"], [class*="___program-broadcaster-card___"], [class^="___site-header___"], [class^="___site-local-navigation___"] {
        background-color: var(--bgcolor2);
    }
    [class^="___heading"],[class^="___base-page"],[class^="___program-summary"],[class^="___heading"],[class^="___item"],[class^="___heading"],[class^="___program-title"] {
        color: var(--textcolor1)
    }
    [class^="___description"],[class^="___duration"], [class^="___start-at"],[class^="___content"],[class^="___name-label"],[class^="___related-anchor"],[class^="___more-anchor"],[class^="___description"],[class^="___konomi-tag-match-counter"],[class^="___airtime"], [class^="___onair-time"],[class^="___channel-name"] {
        color: var(--textcolor2)
    }
    [class*="___card___"] > .program-summary, [class^="___channel-supplier-name"], [class*="___card___"] > .content-area > .program-summary {
        color: var(--textcolor3);
    }
    [class^="___heading"] > svg {
        fill: var(--textcolor1);
    }
    [class^="___count"] [class^="___symbol-mark"] {
        background-color: var(--textcolor1);
    }
    [class^="___menu-area"] {
        box-shadow: 0 1px 0 var(--accent2);
    }
    [class^="___related-anchor"] {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent2);
    }
    [class^="___organization-program-list-carousel"] {
        background-image: linear-gradient(180deg,var(--bgcolor1) 80%,hsla(0,0%,96%,0));
    }
    [class*="___program-list-section___"] > .program-card-list > .item > .program-card > .content-area > .program-summary {
        color: var(--textcolor1)
    }
    [class*="___program-list-section___"] > .program-card-list > .item > .program-card > .content-area > .menu-area > .program-menu-popup-control > .toggle-button, [class^="___program-card-list___"] > .item > .program-card > .content-area > .menu-area > .menu-popup-control > .toggle-button {
        --icon-color: var(--textcolor2)
    }
    [class*="___program-list-section___"] > .program-card-list > .item > .program-card > .content-area > .menu-area > .program-menu-popup-control > .toggle-button:hover, [class*="___program-list-section___"] > .program-card-list > .item > .program-card > .content-area > .menu-area > .program-menu-popup-control > .toggle-button[aria-pressed="true"],
    [class^="___program-card-list___"] > .item > .program-card > .content-area > .menu-area > .menu-popup-control > .toggle-button:hover, [class^="___program-card-list___"] > .item > .program-card > .content-area > .menu-area > .menu-popup-control > .toggle-button[aria-pressed="true"] {
        background-color: var(--hover1)
    }
    [class^="___program-card-list___"] > .item > .program-card {
        background-color: var(--bgcolor2);
    }
    [class^="___program-card-list___"] > .item > .program-card > .content-area > .program-summary {
        color: var(--textcolor1)
    }
    [class^="___program-card-list___"] > .item > .program-card > .content-area > .program-summary {
        background-color: transparent
    }
    [class^="___program-card-list___"] > .item > .program-card > .content-area > .program-provider-card > .information > .name-label {
        color: var(--textcolor2)
    }
    [class^="___program-card-list___"] > .item > .program-card > .content-area > .menu-area > .status-bar {
        --local-status-bar-coloring: var(--textcolor2);
    }
    [class^="___program-card-list___"] > .item > .program-card > .content-area > .menu-area {
        border-bottom: 1px var(--menu-area-border-bottom-style) var(--accent1);
    }
    [class^="___card___"] > .content-area > .separator {
        background-color: var(--accent1);
    }
    [class*="___item-list___"] {
        background-color: var(--bgcolor2);
        [class*="___item___"] {
            border: solid var(--accent2);
            border-width: 1px 0 0;
        }
        [class*="___item___"]:hover {
            background-color: var(--hover2)
        }
    }
    
    [class*="___site-event-list-section___"] > .header {
        .heading {
            color: var(--textcolor1);
        }
        .related-anchor {
            color: var(--textcolor2);
            background-color: var(--bgcolor2);
            border: 1px solid var(--accent2);
        }
        .description {
            color: var(--textcolor2)
        }
    }

    .program-tag-widget {
        background: var(--bgcolor2)
    }

    .program-card > .content-area > .program-summary {
        background: transparent
        color: var(--textcolor1)
    }

    .program-card > .content-area > .program-summary:hover {
        color: var(--linktext1)
    }
    [class^="___list-section-area"] {
        background: var(--bgcolor1)
    }
    [class^="___feature-program-section"] {
        background: var(--bgcolor2)
    }
    [class^="___focus-page"] {
        background: var(--bgcolor1) !important;
    }
    [class*="___contents-card___"] {
        background: var(--bgcolor2)
        border: 1px solid var(--accent1)
    }
    [class^="___main-contents-search-area"] {
        background: var(--bgcolor2);
    }
    [class^="___tag-widget"] > h2 {
        color: var(--textcolor1)
    }
    .program-card > .content-area {
        .program-provider-card > .information > .name-label {
            color: var(--textcolor1)
        }
        .program-provider-card > .information > .name-label:hover {
            color: var(--linktext1)
        }
        .menu-area > .status-bar > .label {
            color: var(--textcolor2)
        }
        .menu-area > .menu-popup-control > .toggle-button {
            --icon-color: var(--textcolor2)
        }
    }
    // konomi
    [class^="___user-konomi-tag-list-section"] {
        background: var(--bgcolor2)
        header {
            background: var(--bgcolor2);
            border-bottom: 2px solid var(--accent2);
            .registration-counter, .setting-button {
                color: var(--textcolor2)
            }
            .setting-button:enabled:not([data-active="true"]):hover, [data-input-mode="keyboard"] .setting-button:not([data-active="true"]):focus {
                background: var(--hover1);
            }
        }
        
        .tag-list > li {
            border-bottom: 1px solid var(--accent2);
            .konomi-tag-card {
                background: var(--bgcolor2);
                .information > .name-label {
                    color: var(--textcolor1)
                }
                .statistics-information > .onair-program-counter > .number {
                    color: var(--textcolornew)
                }
                .statistics-information > .onair-program-counter + .follower-counter::before, .statistics-information > .follower-counter > .number {
                    color: var(--textcolor2)
                }
                
            }
        }
    }

    // tab
    [class^="___tab-panel"] {
        background: var(--bgcolor1)
    }
    [class*="___tab-panel___"] > [class*="___tab-area___"] > [class*="___tab-list___"] > [class*="___tab___"], [class*="___tab-panel___"] > [class*="___tab-list___"] > [class*="___tab___"]  {
        background: var(--bgcolor1);
        color: var(--textcolor1);
    }
    [class*="___tab-panel___"] > [class*="___tab-area___"] > [class*="___tab-list___"] > [class*="___tab___"] > [role="tab"]::before, [class*="___tab-panel___"] > [class*="___tab-list___"] > [class*="___tab___"][role="tab"]::before {
        background-color: var(--border-bottom-color, var(--bgcolor2));
    }
    [class*="___tab-panel___"] > [class*="___tab-area___"] > [class*="___tab-list___"] > [class*="___tab___"] > [role="tab"], [class*="___tab-panel___"] > [class*="___tab-list___"] > [class*="___tab___"][role="tab"] {
        --border-bottom-color: var(--bgcolor2)
    }
    [class*="___tab-panel___"] > [class*="___tab-area___"] > [class*="___tab-list___"] > [class*="___tab___"] > [role="tab"][aria-selected="true"], [class*="___tab-panel___"] > [class*="___tab-list___"] > [class*="___tab___"][role="tab"][aria-selected="true"] {
        --border-bottom-color: var(--textcolor1)
    }

    [class*="___konomi-tag-search-box___"] > .popup-area > .list-box > .item, [class*="___konomi-tag-search-box___"] > .popup-area > .panel > .list-box > .item {
        background: var(--bgcolor2)
        color: var(--textcolor1)
    }
    [class*="___konomi-tag-search-box___"] > .popup-area > .list-box > .item:hover, [class*="___konomi-tag-search-box___"] > .popup-area > .panel > .list-box > .item:hover {
        background: var(--hover1)
    }
    

    [class^="___caption___"] {
        color: var(--textcolor1)
    }

    // 反転するvar類(番組表)
    [class^="___timetable-content___"], #SideNavigation {
        --mono8: var(--bgcolor2);
        --mono7: var(--bgcolor3);
        --mono6: var(--bgcolor4);
        --mono5: var(--textcolor3);
        --mono4: var(--textcolor2);
        --mono3: var(--textcolor2);
        --mono2: var(--textcolor1);
        --mono1: var(--textcolor1);
        --red: var(--dangerous1)
    }
    th[class^="___status___"] {
        color: var(--textcolor1);
    }
    [class^="___schedule-time___"] {
        color: var(--textcolor2)
    }

    // フォロー中の番組 のvar反転
    [class^="___program-provider-name___"], [class^="___program-title___"] {
        --mono2: var(--textcolor2);
    }
}
html.PMDM-NicoLiveWatch {
    [class*="___base-page"] {
        background-color: var(--bgcolor1);
        color: var(--textcolor1)
    }
    [class^="___base-page"],[class^="___program-information-header-area"],[class^="___program-summary"],[class^="___program-information-area"] {
        background-color: var(--bgcolor1);
    }
    [class^="___site-header"],[class^="___target"] {
        background-color: var(--bgcolor2);
    }
    [class^="___program-summary"] {
        box-shadow: none;
    }
    [class^="___program-title"],[class^="___description"],[class^="___channel-name"],[class^="___anchor"],[class^="___target"] > .item-anchor, [class^="___target"] > .item-button {
        color: var(--textcolor1);
    }
    [class^="___airtime"], [class^="___onair-time"],[class^="___profile"],[class^="___heading"],[class^="___content-title"] {
        color: var(--textcolor2);
    }
    [class^="___channel-supplier-name"] {
        color: var(--textcolor3);
    }
    .content-area [class^="___program-summary"] {
        background: transparent;
    }

    [class^="___toggle-button"]:hover, [class^="___toggle-button"]:hover,[class^="___related-content-card"]:hover, [class^="___anchor"]:hover,[class^="___target"] > .item-anchor:hover, [class^="___target"] > .item-button:hover, [data-input-mode="keyboard"] [class^="___target"] > .item-anchor:focus, [data-input-mode="keyboard"] [class^="___target"] > .item-button:focus,[class^="___count"][type="button"]:enabled:not([aria-busy="true"])::before {
        background-color: var(--hover1);
    }
    [class^="___item"] {
        border-top: 1px solid var(--accent2);
    }
    /* サイドパネルの修正 */
    [class^="___comment-data-grid"] > .body > .table > .table-row[data-comment-type="normal"] > .table-cell {
        --local-comment-text-color: var(--textcolor1);
    }
    [class^="___comment-data-grid"] > .body > .table > .table-row[data-comment-type="gift"] > .table-cell {
        --local-comment-text-color: var(--textcolor3);
    }
    [class^="___comment-data-grid"] > .body > .table > .table-row[data-comment-type="nicoad"] > .table-cell, [class^="___comment-data-grid"] > .body > .table > .table-row[data-comment-type="transparent"] > .table-cell {
        --local-comment-text-color: var(--textcolor3);
    }
    [class^="___comment-data-grid"] > .body > .table > .table-row:hover, [class^="___comment-data-grid"] > .body > .table > .table-row[aria-selected="true"] {
        background-color: var(--hover1)
    }
    [class^="___profile"] {
        color: var(--textcolor2)
    }
    [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .program-summary > .program-title {
        color: var(--textcolor1)
    }
    [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card:not([data-program-muted="true"]):hover {
        background-color: var(--hover1)
    }
    [class^="___loading-form"] > .loading-target > .program-card-list > .item {
        border-bottom: 1px solid var(--accent1);
    }
    [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .duration, [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .start-at,
    [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .program-statistics > .program-statistics-list > .comment-count, [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .program-statistics > .program-statistics-list > .timeshift-reserved-count, [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .program-statistics > .program-statistics-list > .watch-count
    {
        color: var(--textcolor2);
    }
    [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .program-statistics > .program-statistics-list > .comment-count, [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .program-statistics > .program-statistics-list > .timeshift-reserved-count, [class^="___loading-form"] > .loading-target > .program-card-list > .item > .program-card > .content-area > .status-bar > .program-statistics > .program-statistics-list > .watch-count {
        --local-color: var(--textcolor2);
        --local-icon-color: var(--textcolor3);
    }

    [class*="___channel-supplier-name___"] {
        color: var(--textcolor2)
    }

    /* プレイヤー */
    [class^="___broadcast-participation-area"] {
        background-color: var(--bgcolor2);
        border: 1px solid var(--accent1);
        border-top: 0 solid var(--accent1);
    }
    [class^="___item-placeholder"] {
        border: 2px solid var(--accent1);
    }
    [class^="___item-image"] {
        background-color: #fff;
    }
    [class^="___comment-text-box"], [class^="___command-text-box"] {
        background-color: var(--accent1);
        border: 2px solid var(--accent2);
        border-right: none;
        color: #fff;
    }
    [class^="___command-text-box"]:not([data-color]):not([data-size]):not([data-position]) + [class^="___command-status"] * {
        fill: var(--textcolor2);
    }
    [class^="___player-status-panel"] {
        background-color: var(--bgcolor2);
        color: var(--textcolor1);
        border: 1px solid var(--accent1);
        border-left-width: 0;
    }
    [class^="___content"] {
        color: var(--textcolor1);
    }
    [class^="___program-statistics-menu"] {
        border-bottom: 1px solid var(--accent1);
        --mono4: var(--textcolor2);
    }
    
    [class^="___table-row"]:hover, [class^="___table-row___"][aria-selected="true"] {
        background-color: var(--hover1);
    }
    [class^="___tab-area"] {
        background-color: var(--bgcolor2);
        border-bottom: 2px solid var(--accent1);
    }
    [class^="___tab"] {
        background-color: var(--bgcolor2) !important;
        color: var(--textcolor1) !important;
    }
    .program-watch-setting-panel section ul li [class^="___label"] {
        color: var(--textcolor1);
        z-index: 0;
    }

    [class^="___tab"]::after {
        background-color: var(--accent1);
    }
    [class^="___tab"][aria-selected="true"]::after {
        background-color: var(--accent2) !important;
    }
    [class*="___tab-list"] > [class*="___tab"] {
        background-color: var(--bgcolor2) !important;
        color: var(--textcolor1) !important;
    }
    [class*="___tab-list"] > [class*="___tab"][aria-selected="true"]::after {
        background-color: var(--accent2) !important;
    }
    [class^="___ng-setting-popup-button"] {
        --icon-color: var(--textcolor2);
    }
    [class^="___ng-setting-controller"]::after {
        background-color: var(--accent2);
    }
    [class^="___program-title"] {
        color: var(--textcolor1);
    }
    [class^="___program-card"]:hover {
        background-color: var(--hover1);
    }
    [class^="___table-row___"][data-comment-type="cruise"] [class^="___comment-text"], [class^="___table-row___"][data-comment-type="nicoad"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="programExtend"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="quote"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="ranking"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="spi"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="transparent"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="userFollow"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="userLevelup"] [class^="___comment-text"], [class^="___table-row"][data-comment-type="visited"] [class^="___comment-text"] {
        color: var(--textcolor3);
    }
    [class^="___count___"][type="button"]:enabled:not([aria-busy="true"]):hover, [data-input-mode="keyboard"] [class^="___count___"][type="button"]:enabled:not([aria-busy="true"]):focus {
        background-color: var(--hover1);
    }
    [class^="___contents-tab-panel"] {
        background: var(--bgcolor2)
    }

    /* 関連コンテンツ */
    [class^="___content-card___"] > .content-area > .summary > .content-title {
        color: var(--textcolor1)
    }
    [class^="___content-card"]:hover {
        background-color: var(--hover1);
    }

    /* タグ */
    [class^="___tag"] > li > .program-tag-card {
        background-color: var(--accent1);
    }
    [class^="___tag"] > li > .program-tag-card > .name-anchor {
        color: var(--textcolor1);
    }
    .tag-list > li > .program-tag-card > .information > .name-label {
        color: var(--textcolor1)
    }

    /* フォローボタン */
    [class^="___toggle-button___"][aria-pressed="false"] {
        --follow-toggle-form-toggle-button-color: var(--textcolor2);
        --follow-toggle-form-toggle-button-background-color: var(--bgcolor1);
        --follow-toggle-form-toggle-button-border-color: #056dff;
        --follow-toggle-form-toggle-button-symbol-color-key: #056dff;
    }
    [class^="___toggle-button___"][aria-pressed="true"] {
        --follow-toggle-form-toggle-button-color: var(--textcolor2);
        --follow-toggle-form-toggle-button-background-color: var(--bgcolor2);
        --follow-toggle-form-toggle-button-border-color: #727272;
        --follow-toggle-form-toggle-button-symbol-color-key: #727272;
    }

    /* プロモーションバルーン */
    [class^="___promotion-balloon"], [class^="___promotion-balloon"]::before {
        background-color: var(--bgcolor2);
        color: var(--textcolor2);
    }
    [class^="___promotion-anchor"] {
        color: var(--textcolor1);
    }
    [class^="___symbol-mark"] {
        fill: var(--textcolor2)
    }
    [class^="___promotion-balloon"]::after {
        border-top: var(--tail-size) solid var(--bgcolor2);
    }
    
    [class^="___contents-tree-anchor___"], [class^="___creator-promotion-program-anchor___"], [class^="___download-button___VwcdB"] {
        background: var(--bgcolor2);
        border: 1px solid var(--accent1)
    }
    [class^="___tree-graph-icon___"] > path {
        fill: var(--textcolor1)
    }

    // チャンネル
    [class*="___channel-summary___"] > .channel-information-area > .channel-name-anchor {
        color: var(--textcolor2)
    }
    [class*="___channel-summary___"] > .channel-information-area > .channel-name-anchor[href]:hover {
        color: var(--linktext1)
    }

    // ボタン系
    .program-menu-dock>li>.share-popup-control>.toggle-button:before, .program-menu-dock>li>.extra-popup-control>.toggle-button:before {
        --mono1: var(--textcolor2)
    }

    .program-menu-dock>li>.share-popup-control>.toggle-button:hover {
        --mono6: var(--hover1)
    }

    // グレースケールが反転するvar類。将来的にぶっ壊れそうだけど破綻はしないはず…？
    [class^="___ng-setting-panel"], .window-panel {
        --mono8: var(--bgcolor2);
        --mono7: var(--bgcolor3);
        --mono6: var(--bgcolor4);
        --mono5: var(--textcolor3);
        --mono4: var(--textcolor2);
        --mono3: var(--textcolor2);
        --mono2: var(--textcolor1);
        --mono1: var(--textcolor1);
        --red: var(--dangerous1)
    }

    // 反転しているボタンテキスト用
    [class^="___copy-button___"], [class^="___list-controller___"] > .register-button {
        --mono8: var(--textcolor1)
    }
    // ボタン類のvar適用
    [class^="___close-button___"] {
        --local-icon-color: var(--textcolor2);
    }

    // 共有モーダルの未指定bgを修正
    [class^="___elapsed-time-text-box__"] {
        background: var(--mono8);
    }
}
html.PMDM-NicoLiveHome, html.PMDM-NicoLiveWatch {
    /* PAGE TOP */
    [class^="___page-top-anchor"] {
        background-color: var(--accent1);
        color: var(--textcolor1);
    }
    [class^="___page-top-anchor"]::after, [class^="___page-top-anchor"]::before {
        border-color: var(--textcolor2) transparent transparent var(--textcolor2);
    }

    /* Ads */
    [class^="___ad-billboard"] {
        background: transparent
    }

    /* search box */

    [class^="___search-form___"] > .combo-box > .popup-area > .list-box > .item {
        background: var(--bgcolor2);
        color: var(--textcolor1)
    }
    [class^="___search-form___"] > .combo-box > .popup-area > .list-box > .item:hover {
        background: var(--hover1);
    }

    [class^="___search-form___"] > .combo-box > .popup-area > .text-box {
        background: var(--bgcolor3);
        color: var(--textcolor1)
    }
    [class^="___search-form___"] > .combo-box > .popup-area > .text-box::placeholder {
        color: var(--textcolor2)
    }

    [class^="___main-anchor-list"] {
        [class^="___item"]:hover, [class^="___item"][aria-selected="true"] {
            background: var(--bgcolor3)
        }
    }

    body.is-PMDarkPalette {
        --mono1: var(--bgcolor1);
        --mono2: var(--bgcolor2);
        --mono3: var(--bgcolor3);
        --mono4: var(--bgcolor4);
        --mono5: var(--textcolor3);
        --mono6: var(--textcolor2);
        --mono7: var(--textcolor2);
        --mono8: var(--textcolor1);
        --red: var(--dangerous1);
        --blue: var(--linktext3);
    }
}