html.PMDM-Ranking {
    /* ニコニコ動画 - ランキング(ダークテーマ) */
    .NC-MutedVideoCard, .NC-SensitiveVideoCard, .VideoItem.NC-Card, .RankingHeaderContainer-header_sticky,.NC-Card.NC-NicoadCard.NicoadItem {
        background-color: var(--bgcolor2)
    }
    .CustomButton {
        background-color: var(--bgcolor3)
    }
    .CustomButton:hover {
        background-color: var(--hove2);
    }
    .CustomButton > span {
        color: var(--textcolor2)
    }
    .RankingFilterTag,.BaseRankingContentContainer.TrendyTagContainer .TrendyTagContainer-link {
        background: var(--accent1);
        border: 1px solid var(--accent2)
    }
    .RankingFilterTag_active {
        background: #007cff;
        border-color: transparent;
        color: var(--textcolor1);
    }
    .RankingVideoListContainer > * {
        border-bottom: 2px solid var(--accent1);
    }
    .BaseRankingContentContainer header {
        background-color: var(--accent1);
    }
    .BaseRankingContentContainer header h1 {
        color: var(--textcolor1)
    }
    .AnotherRankingLink-button {
        background-color: var(--accent1);
        border: 2px solid var(--bgcolor2);
        color: var(--textcolor2)
    }
    .RankingTermSelector-label {
        color: var(--textcolor2)
    }
    .RankingTermSelector .Dropdown-button {
        color: var(--textcolor2)
    }
    .RankingSettingSummary-content,.RankingSettingSummary-content::before,.RankingSettingSummary-content::after {
        background: var(--bgcolor2);
    }
    .RankingSettingSummary .RankingSettingRecommendations {
        background: var(--accent1);
        border-top: 1px solid var(--accent2)
    }
    .RankingSettingItem-content {
        color: var(--textcolor1)
    }
    .RankingSettingSummary-main > h1, .RankingSettingItem h1 {
        color: var(--textcolor2)
    }
    .RankingSettingRecommendations > ul > li + li {
        border-top: 1px solid var(--textcolor3)
    }

    .RankingMatrixVideosRow-rank, .RankingHeader-prefix {
        color: var(--textcolor2)
    }
    .RankingMainVideo.NC-MutedVideoMediaObject .RankingRowRank, .RankingMainVideo.NC-SensitiveMediaObject .RankingRowRank, .RankingMainVideo.NC-VideoMediaObject .RankingRowRank {
        color: var(--textcolor3);
        /* fix #31 */
        z-index: 1;
    }
    /* 検索移動 */
    .RankingBottomSearchLink-button {
        border: 1px solid var(--accent1);
    }
    .RankingBottomSearchLink-text {
        color: var(--textcolor2)
    }
    .RankingBottomSearchLink-text {
        color: var(--textcolor2)
    }
    .RankingBottomSearchLink-buttonText {
        color: var(--textcolor3)
    }

    /* ヘッダー */ 
    .RankingHeader {
        border-bottom: 1px solid var(--accent2);
        border-top: 4px solid var(--bgcolor2);
    }

    /* 右ジャンル別 */
    .BaseRankingContentContainer.SpecifiedGenreRankingVideosContainer .SpecifiedGenreRankingVideosContainer-genreTitle a,
    .BaseRankingContentContainer.SpecifiedGenreRankingVideosContainer .SpecifiedGenreRankingVideosContainer-subVideo > .RankingSubVideo-rank,
    .BaseRankingContentContainer.SpecifiedGenreRankingVideosContainer .SpecifiedGenreRankingVideosContainer-titleLink {
        color: var(--textcolor2)
    }
    
    /* フッター */
    .MatrixRanking-postDescription {
        color: var(--textcolor2)
    }

    /* カスタムカラムの編集モーダル */
    .RankingCustomDialogContainer-dialog {
        background: var(--bgcolor2);
    }

    .TagSuggestionInput-input {
        color: var(--textcolor1);
    }

    .TagRankingCustomEditor-tag {
        border-bottom-color: var(--accent1)
    }

    .CustomRankingFieldset-legend {
        background: var(--bgcolor3);
        color: var(--textcolor1);
    }

    .CustomRankingFieldset {
        border: 1px solid var(--accent1);
    }

    .CustomRankingTop-itemLabel {
        border-color: var(--accent1);
        color: var(--textcolor1);
    }

    .Dialog-content {
        background: var(--bgcolor2);
    }

    .Dialog-actions {
        border-top-color: var(--accent1);
    }
}