html.PMDM-SearchPage {
    .tagCaption {
        background-color: var(--bgcolor1);
        border-bottom: 1px solid var(--accent1);
        .tagListBox {
            background: var(--bgcolor2);
        }
    }
    .header {
        background: var(--bgcolor1);
    }
    .siteHeader .pageLogo .logo a svg path {
        fill: var(--textcolor1);
    }

    p {
        color: var(--textcolor1);
    }
    .formSearch {
        background: linear-gradient( var(--accent1), var(--bgcolor2)) left repeat;
        border: 2px solid var(--accent2);
        box-shadow: 0 0 0 0px #e4e7e7;
        .searchFormB {
            border: 1px solid var(--accent2);

            .sbubmit input {
                box-shadow: 0 0px 0px 0px var(--accent2) inset;
                color: var(--textcolor1);
            }
        }
        .searchFormB, .searchFormB .sbubmit input {
            background: var(--accent1);
        }
    }

    .videoSearchOption {
        .tab {
            border-radius: 4px 4px 0 0;
            background-color: var(--bgcolor3);
            color: var(--textcolor1);
            a {
                color: var(--textcolor1);
            }
        }
        .active {
            background-color: var(--bgcolor2);
            color: var(--textcolor1);
        }
    }
    .videoSearchInput .inputText input,.videoSearchInput {
        background: var(--bgcolor2);
        color:var(--textcolor1);
    }
    .tagCaption {
        .tag {
            background-color: var(--bgcolor3);
            color: var(--textcolor1);
            border: var(--accent2) solid 1px;
        }
        .tag:hover {
            background-color: var(--hover2);
        }
        .itemDescription p .more {
            color: var(--textcolor2);
        }
    }
    .videoList01 .itemContent .itemTitle {
        a:visited {
            color: var(--textcolor3);
        }
        a:link {
            color: var(--linktext3);
        }
    }
    .video {
        .itemData .count .value {
            color: var(--textcolor2);
            a {
                color: var(--textcolor2)
            }
        }
        .itemDescription {
            color: var(--textcolor3);
        }
    }
    .videoList01 .itemContent .itemComment {
        border: var(--accent1) solid 2px;
        background-color: var(--bgcolor2);
        color: var(--textcolor2);
    }
    /* ページ */
    .switchingBtn:not(.columnChange) {
        background: var(--accent1);
        border: 1px solid var(--accent2);
        color: var(--textcolor2);
    }
    .switchingBtn.expand, .switchingBtn:not(.columnChange):hover {
        background: var(--hover1);
    }
    .searchOption {
        border: 4px solid var(--accent1);
        background: var(--bgcolor2)
        .more {
            color: var(--textcolor2);
        }
    }

    .tagCaption .tagListBox .contentHeader .edit a {
        color: var(--textcolor2);
    }
    /* サイドバー */
    .sub {
        background: var(--bgcolor1);
    }
    .list .contentHeader {
        background-color: var(--accent1);
        .title {
            color: var(--textcolor1);
        }
    }
    .nicopedia .itemTitleLink:link {
        color: var(--textcolor3);
    }
    .relatedInfo .exTxt {
        color: var(--textcolor2);
    }
    .button.default {
        background-color: var(--accent1);
        border: 2px solid var(--bgcolor2);
        color: var(--textcolor2);
    }
    .TagRelatedBannerBox {
        background-color: #40403a;
        border-top: 1px solid #60605a;
    }
    /* nicoadlist */
    .nicodicNicoadVideoList {
        border: 1px solid var(--accent1);
        background-color: var(--bgcolor2);
    }
    .nicodicNicoadTitle:hover a, .nicodicNicoadItemTitle a:link  {
        color: var(--linktext3)
    }
    .nicodicNicoadTitle a::before {
        background-color: var(--textcolor2)
    }

    .nicodicNicoadTitle:hover a::before {
        background-color: var(--linktext3)
    }
    .nicodicNicoadPoint {
        background-color: var(--bgcolor1);
    }
    .nicodicNicoadVideoListHelp a p {
        color: var(--textcolor2);
    }
}