html.PMDMP-cybernight {
  --bgcolor1: #0b1721;
  --bgcolor2: #0c2938;
  --bgcolor3: #2b4745;
  --bgcolor4: #374442;
  --textcolor1: #9ffce7;
  --textcolor2: #0ee3d5;
  --textcolor3: #8ce9a0;
  --textcolornew: #e05050;
  --accent1: #173b32;
  --accent2: #2e6850;
  --hover1: #264442;
  --hover2: #284b4f;
  --linktext1: #8fb9df;
  --linktext2: #8ed9ff;
  --linktext3: #008acf;
  --nicoru1: rgba(201,168,62,0.1);
  --nicoru2: rgba(201,168,62,0.2);
  --nicoru3: rgba(201,168,62,0.35);
  --nicoru4: rgba(201,168,62,0.5);
  --dangerous1: rgb(218, 78, 60)
}
