.reaction_good_mark > svg {
    transform:translate(0%,20%) rotate(-90deg);
    transition: transform .5s;
}
.reaction_off > svg {
    transform: translate(0%,20%) rotate(0deg);
    transition: transform .5s;
}