body {
    background: var(--bgcolor1)
    color: var(--textcolor1)
    /* 基本背景色 */
    --bgcolor1: #252525;
    /* サブ背景色1 */
    --bgcolor2: #333;
    /* サブ背景色2 */
    --bgcolor3: #666;
    --bgcolor4: #aaa;
    --bgcolorab: rgba(#252525, 0.25);
    --bgcoloraw: rgba(#fff, 0.25);
    --textcolor1: #fff;
    --textcolor2: #ddd;
    --textcolor3: #aaa;
    --textcolornew: #e05050;
    --accent1: #444;
    --accent2: #888;
    --hover1: #666;
    --hover2: #aaa;
    --linktext1: #8fb9df;
    --linktext2: #8ed9ff;
    --linktext3: #008acf;
    --nicoru1: rgba(201,168,62,0.1);
    --nicoru2: rgba(201,168,62,0.2);
    --nicoru3: rgba(201,168,62,0.35);
    --nicoru4: rgba(201,168,62,0.5);
    --dangerous1: rgb(245, 71, 71);
    margin: 0;
}
// font-family を Stylus-langが正しく解釈しないようなので、@cssを使う
@css {
    body {
        font-family: Avenir, Lato, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, sans-serif
    }
}
a {
    color: var(--linktext1)
}

.container {
    margin: 0 auto;
    //overflow: scroll;
}
.container.fullscreen {
    overflow: hidden
}
.global-flex {
    display: flex
    .global-flex1 {
        flex: 1
    }
}
.global-bold {
    font-weight: bold;
}
.watch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    .watch-container-left {
        min-width: 480px;
        flex: 0.8;
    }
    .watch-container-right {
        min-width: 400px;
        max-width: 25vw;
    }
}

.recommend-container {
    .recommend-item {
        display: flex;
        gap: 8px;
        height: 4em
        text-decoration: none;
        margin-bottom: 8px;
        img {
            flex-shrink: 0;
            aspect-ratio: 16 / 9;
            object-fit: contain;
            background: var(--bgcolor2);
        }
        div {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            align-self: center;
            color: var(--textcolor1);
            span {
                opacity: 0.5;
            }
        }
    }
}

@import './watchUI/Player.styl'
@import './watchUI/CommentList.styl'
@import './watchUI/PlayerController.styl'
@import './watchUI/Header.styl'
@import './watchUI/Info.styl'
@import './watchUI/commentInput.styl'

.vefx-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    bottom: 160px;
    padding: 0;
}
.vefx-container-inner {
    position: absolute;
    right: 20px;
    padding: 16px;
    background: var(--bgcolor1);
    bottom: -100px;
    width: 16em;
    height: 32em;
    overflow-y: scroll;
    > div {
        display: flex;
        input[type="range"] {
            flex: 1;
        }
        label {
            flex: 0.6
        }
    }
    > label {
        display: block;
    }
    .vefx-title {
        font-weight: bold;
    }
}
/*
.fullscreen .player-container {
    // padding: 0;
    // aspect-ratio: 16 / 9;
    // margin: 0 auto;
    flex-direction: column;
    background: var(--bgcolor1);
    display: flex;
    align-items: center;
    gap: 8px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    flex-wrap: nowrap;
    padding: 8px;
    // width: 100vw;
    // height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    bottom: 0;
}
.fullscreen .player-video-container {
    max-height: 100%;
    flex-grow: 1;
}
.fullscreen .playercontroller-container {
    width: 95%;
}
*/