body {
    background: var(--bgcolor1);
    color: var(--textcolor1);
    --radius: 6px;
    --radius-mini: 4px;
    --radius-big: 8px;
    margin: 0;
}
// font-family を Stylus-langが正しく解釈しないようなので、@cssを使う
@css {
    body {
        font-family: Avenir, Lato, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, sans-serif
    }
}
a {
    color: var(--linktext1)
}

.container {
    margin: 0 auto;
    //overflow: scroll;
}
.container.fullscreen {
    overflow: hidden
}
.global-flex {
    display: flex
    .global-flex1 {
        flex: 1
    }
}
.global-bold {
    font-weight: bold;
}

.watch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
    max-width: 98vw;
    .watch-container-top {
        flex-basis: 100%;
        margin: 0 7.5%;
        display: flex;
        overflow: hidden;
        gap: 2em;
    }
    .watch-container-left {
        min-width: 480px;
        flex: 0.6;
    }
    .watch-container-right {
        max-width: 25vw;
        height: auto;
        align-self: stretch;
        position: relative;
        min-width: 400px;
        flex: 0.4;
    }
    .watch-container-bottom {
        flex-basis: 100%;
        margin: 0 7.5%;
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        background: var(--bgcolor3)
        width: 16px;
        height: 16px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--textcolor3)
        border-radius: var(--radius-mini);
        margin: 0 4px;
    }
}

.stacker-container {
    overflow: hidden;
    max-height: 640px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .stacker-content {
        overflow: hidden;
        flex: 1;
    }
}
.stacker-tabbutton-container {
    display: flex;
    gap: 8px;
    margin: 0 var(--radius-big);
    .stacker-tabbutton {
        background: var(--accent1);
        color: var(--textcolor1);
        border: none;
        padding: 4px 8px;
        border-radius: var(--radius) var(--radius) 0 0;
        cursor: pointer;
        font-size: 0.9em;
        align-self: end;
        flex: 1;
    }

    .stacker-tabbutton:hover {
        background: var(--hover1);
    }

    .stacker-tabbutton.stacker-tabbutton-active {
        background: var(--bgcolor2);
        font-weight: bold;
        font-size: 1em;
    }
}

.watch-container[watch-type="3col"], .watch-container[watch-type="recresc"], .watch-container[watch-type="shinjuku"] {
    .stacker-container {
        max-height: none;
    }
    
}

.watch-container:not([watch-type="3col"]) {
    .watch-container-left[settings-size="0"] {
        flex: 0.4
    }
    .watch-container-left[settings-size="1"] {
        flex: 0.6
    }
    .watch-container-left[settings-size="2"] {
        flex: 1
    }
}

[watch-type="3col"] {
    .watch-container-left {
        flex: 0.2;
        min-width: 0;
        align-self: stretch;
        /* height: 90%; */
        position: relative;
        overflow-y: scroll;
    }

    .watch-container-middle {
        flex: 0.525;
        align-self: center;
    }

    .watch-container-right {
        min-width: 0;
        flex: 0.3;
        align-self: stretch;
    }
}

[watch-type="recresc"] .watch-container-rightaction, [watch-type="shinjuku"] .watch-container-rightaction, [watch-type="3col"] .watch-container-rightaction {
    max-height: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

[watch-type="shinjuku"] {
    --radius: 0px;
    --radius-mini: 0px;
    --radius-big: 0px;
}

@import './watchUI/*.styl'
