// 視聴ページ: 既知のボタンタイトルを隠す
html.PM-HideKnownTitle {
    button[data-element-name="share"][data-element-area="video_action"] span, button[data-element-name="nicoad"][data-element-area="video_action"] span, button[data-element-name="gift"][data-element-area="video_action"] span {
        display: none;
    }
}