html.PMDM-VidWatch {
    body {
        --colors-layer-background: var(--colors-monotone--l10);
        --colors-layer-surface-high-em-black: var(--colors-monotone--l0);
        --colors-layer-surface-high-em-white: var(--colors-monotone--l100);
        --colors-layer-surface-high-em: var(--colors-monotone--l15);
        --colors-layer-surface-medium-em: var(--colors-monotone--l20);
        --colors-layer-surface-medium-em-inv: var(--colors-monotone--l95);
        --colors-layer-surface-medium-em-black: var(--colors-monotone--l10);
        --colors-layer-surface-medium-em-white: var(--colors-monotone--l95);
        --colors-layer-surface-low-em: var(--colors-monotone--l30);
        --colors-layer-surface-lower-em: var(--colors-monotone--l50);
        --colors-layer-surface-accent-azure: var(--colors-azure--l50);
        --colors-layer-surface-overlay: var(--bgcoloraw, #0005);
        --colors-layer-surface-overlay-black: var(--bgcolorab, #fff5);
        --colors-layer-content-overlay: var(--colors-transparent-gray--a80);
        --colors-layer-skeleton: linear-gradient(to right,#fff0,#ffffff0d,#fff0);
        --colors-layer-header-notification-warning: var(--colors-lust--l70);
        --colors-icon-base: var(--colors-monotone--l95);
        --colors-icon-base-disabled: var(--colors-monotone--l60); // 調整
        --colors-icon-lock: var(--colors-marigold--l40);
        --colors-icon-unlock: var(--colors-monotone--l40);
        --colors-icon-nicoru-on-background: var(--colors-monotone--l15);
        --colors-icon-nicoru-on-stroke: #fcd842;
        --colors-icon-nicoru-off-background: var(--colors-monotone--l15);
        --colors-icon-nicoru-off-stroke: var(--colors-monotone--l60);
        --colors-icon-primary: var(--colors-monotone--l40);
        --colors-icon-primary-azure: var(--colors-azure--l50);
        --colors-icon-video-description: var(--colors-monotone--l60);
        --colors-icon-watch-controller-base: var(--colors-monotone--l80);
        --colors-icon-watch-controller-hover: var(--colors-monotone--l100);
        --colors-icon-watch-controller-disabled: var(--colors-monotone--l40);
        --colors-icon-header-search-base: var(--colors-monotone--l40);
        --colors-service-color-nicovideo-logo: var(--colors-monotone--l100);
        --colors-service-color-live: #ff0033;
        --colors-service-color-premium: #d9a300;
        --colors-service-color-paid: #ffe248;
        --colors-service-color-ch: var(--colors-monotone--l40);
        --colors-service-color-ch-yellow: #ffe248;
        --colors-service-color-ch-yellow-high-em: #ffd700;
        --colors-service-color-nicodic: var(--colors-lust--l40);
        --colors-service-color-nicoru-yellow-a10: var(--nicoru1);
        --colors-service-color-nicoru-yellow-a20: var(--nicoru2);
        --colors-service-color-nicoru-yellow-a40: var(--nicoru3);
        --colors-service-color-nicoru-yellow-a60: var(--nicoru4);
        --colors-text-on-layer-high-em: var(--colors-monotone--l95);
        --colors-text-on-layer-high-em-inv: var(--colors-monotone--l10);
        --colors-text-on-layer-high-em-black: var(--colors-monotone--l10);
        --colors-text-on-layer-high-em-white: var(--colors-monotone--l95);
        --colors-text-on-layer-medium-em: var(--colors-transparent-white--a80);
        --colors-text-on-layer-medium-em-inv: var(--colors-transparent-gray--a80);
        --colors-text-on-layer-low-em: var(--colors-transparent-white--a60);
        --colors-text-on-layer-lower-em: var(--colors-transparent-white--a40);
        --colors-text-on-layer-accent-azure: var(--colors-azure--l50);
        --colors-text-on-layer-accent-lust: var(--colors-lust--l50);
        --colors-text-on-layer-premium: #d9a300;
        --colors-text-on-label-white: var(--colors-monotone--l100);
        --colors-text-on-label-gray: var(--colors-monotone--l0);
        --colors-action-base: var(--colors-transparent-white--a10); // 調整
        --colors-action-base-hover: var(--colors-transparent-white--a20);
        --colors-action-text-on-base: var(--colors-monotone--l95);
        --colors-action-text-on-base_disabled: var(--colors-monotone--60); // 調整
        --colors-action-primary: var(--colors-transparent-white--a95);
        --colors-action-primary-hover: var(--colors-transparent-white--a80);
        --colors-action-text-on-primary: var(--colors-monotone--l10);
        --colors-action-primary-azure: var(--colors-azure--l50);
        --colors-action-primary-azure-hover: var(--colors-azure--l40);
        --colors-action-text-on-primary-azure: var(--colors-azure--l95);
        --colors-action-primary-premium: var(--colors-marigold--l40);
        --colors-action-primary-premium-hover: var(--colors-marigold--l30);
        --colors-action-text-on-primary-premium: var(--colors-azure--l95);
        --colors-action-primary-channel: #ffe248;
        --colors-action-primary-channel-hover: #ffd700;
        --colors-action-text-on-primary-channel: var(--colors-monotone--l10);
        --colors-action-primary-d-anime: var(--colors-pumpkin--l50);
        --colors-action-primary-d-anime-hover: var(--colors-pumpkin--l40);
        --colors-action-text-on-primary-d-anime: var(--colors-monotone--l95);
        --colors-action-tertiary-hover: var(--colors-transparent-white--a10);
        --colors-action-text-on-tertiary: var(--colors-monotone--l60);
        --colors-action-tertiary-inv-hover: var(--colors-transparent-gray--a5);
        --colors-action-text-on-tertiary-inv: var(--colors-monotone--l40);
        --colors-action-tertiary-azure-hover: var(--colors-azure--l20);
        --colors-action-text-on-tertiary-azure: var(--colors-azure--l50);
        --colors-action-tertiary-azure-inv-hover: var(--colors-azure--l90);
        --colors-action-text-on-tertiary-azure-inv: var(--colors-azure--l50);
        --colors-action-tertiary-premium-hover: var(--colors-marigold--l20);
        --colors-action-text-on-tertiary-premium: #d9a300;
        --colors-action-tag-nico-dic-hover: var(--colors-lust--l25);
        --colors-action-tag-help: var(--colors-monotone--l50); // 調整
        --colors-action-tag-help-hover: var(--colors-monotone--l25); // 調整
        --colors-action-ui-border: var(--colors-monotone--l60);
        --colors-snackbar-base: var(--colors-monotone--l95);
        --colors-snackbar-text-on-base: var(--colors-monotone--l10);
        --colors-border-high-em: var(--colors-transparent-white--a5);
        --colors-border-color-command: rgb(255,255,255,.3);
        --colors-input-form-background: var(--colors-transparent-white--a5);
        --colors-input-form-placeholder: var(--colors-monotone--l30);
        --colors-input-form-input-text: var(--colors-monotone--l95);
        --colors-tooltip-background: var(--colors-monotone--l20);
        --colors-tooltip-text-on-background: var(--colors-monotone--l95);
        --colors-comment-list-nicoru-lv1: var(--colors-service-color-nicoru-yellow-a10);
        --colors-comment-list-nicoru-lv2: var(--colors-service-color-nicoru-yellow-a20);
        --colors-comment-list-nicoru-lv3: var(--colors-service-color-nicoru-yellow-a40);
        --colors-comment-list-nicoru-lv4: var(--colors-service-color-nicoru-yellow-a60);
        --shadows-base: 0 0 8px 0 var(--colors-transparent-white--a20);
    }

    body {
        --colors-monotone--l100: var(--textcolor1);
        --colors-monotone--l95: var(--textcolor1);
        --colors-monotone--l90: var(--textcolor1);
        --colors-monotone--l80: var(--textcolor2);
        --colors-monotone--l70: var(--textcolor2);
        --colors-monotone--l60: var(--textcolor2);
        --colors-monotone--l50: var(--textcolor3);
        --colors-monotone--l40: var(--bgcolor4);
        --colors-monotone--l30: var(--bgcolor4);
        --colors-monotone--l25: var(--bgcolor3);
        --colors-monotone--l20: var(--bgcolor3);
        --colors-monotone--l15: var(--bgcolor2);
        --colors-monotone--l10: var(--bgcolor2);
        --colors-monotone--l0: var(--bgcolor1);
        --colors-transparent-white--a100: var(--textcolor1);
        --colors-transparent-white--a95: var(--textcolor1);
        --colors-transparent-white--a80: var(--textcolor2);
        --colors-transparent-white--a60: var(--textcolor2);
        --colors-transparent-white--a40: var(--textcolor3);
        --colors-transparent-white--a20: var(--textcolor3);
        --colors-transparent-white--a10: var(--bgcolor3);
        --colors-transparent-white--a5: var(--bgcolor3);
        --colors-transparent-gray--a100: var(--bgcolor3);
        --colors-transparent-gray--a95: var(--bgcolor3);
        --colors-transparent-gray--a80: var(--bgcolor3);
        --colors-transparent-gray--a60: var(--bgcolor3);
        --colors-transparent-gray--a40: var(--bgcolor2);
        --colors-transparent-gray--a20: var(--bgcolor2);
        --colors-transparent-gray--a10: var(--bgcolor2);
        --colors-transparent-gray--a5: var(--bgcolor2);
    }
}
