.ControllerButton svg,.ControllerButton.PlayerRepeatOnButton svg path,.PlaybackRateButton svg {
    fill: #fff
}
.ControllerContainer-inner {
    top:4px
}
.PlayerPauseButton, .PlayerPlayButton {
	left: 50%;
	right: 50%;
	position: absolute !important;
	transform: translate(-50%);
    padding: 2px;
}
.ControllerContainer-centerArea > .ControllerButton {
    padding: 5px
}
.PlayerOptionContainer {
    max-height: 330px;
}
.common-header-1v0m9lc,.common-header-1nvgp3g,.common-header-h0l8yl,.common-header-cdesjj,.common-header-171vphh,.common-header-wb7b82,.common-header-1ufbzdh,.common-header-654o26,.common-header-11u4gc2,.common-header-1pxv7y0,.commonHeaderArea,#CommonHeader {
    background-color: #000 !important;
}
.HeaderContainer, .BottomSideContainer, .BottomMainContainer, .TagItem, .PlayerContainer, .ControllerBoxContainer {
    background-color: transparent !important;
}
.PlayerPanelContainer {
    border-top-left-radius: 16px;
}
.EasyCommentContainer-caption {
    display: none;
}
.VideoMenuContainer, .BottomContainer, .VideoMenuContainer-areaLeft, .VideoMenuContainer-areaRight {
    background-color: transparent;
}
.SearchBox-optionMenu {
    bottom: 32px
}

.VideoMenuContainer-areaLeft .VideoMenuContainer-button,.SharePanelVisibleActionButton svg {
    fill: #f0f0f0;
}

.VideoMenuContainer::after {
    border-bottom: none;
}
.CommentRenderer > canvas, .CommentRenderer, .VideoSymbolContainer {
    width: 100% !important;
    height: 100% !important;
}

.ControllerBoxContainer.is-fullscreen.is-fixedFullscreenController {
    background: transparent
}